@{
    this.Layout = "DocumentLayout";
    this.ViewData["Title"] = "Quotes";
}

@section DocumentNavigation {
    <h1>Table of Contents</h1>
    <ol>
        <li><a href="#Atonement">The Sufficiency of the Atonement</a></li>
        <li><a href="#MansResponsibility">Man's Responsibility for Sin</a></li>
        <li><a href="#Obedience">The Necessity of Obedience</a></li>
        <li><a href="#JudgementByWorks">Judgement According to Works</a></li>
    </ol>
}

@section DocumentDetails {

}

@section Title {
    <h1>Quotes</h1>
    <br />
    <p>
        The purpose of this page is theological recovery. There are areas of the reformed tradition that tend to be
        de-emphasized or not taught today, and so the purpose of this page is to underscore these and
        hopefully spark deeper discussion and engagement with the tradition and with scripture.
    </p>
}

@section DocumentContent {
    <style>
        blockquote {
            background-color: rgba(0, 0, 0, 0.075);
            padding: 1rem;
            border-radius: 3px;
            
            span {
                line-height: 1.25rem;
            }
            
            span:before {
                content: "“";
                font-size: 25pt;
                line-height: 1.25rem;
                font-family: 'times new roman';
                vertical-align: middle;
            }
            
            span:after {
                content: "”";
                font-size: 25pt;
                line-height: 1.25rem;
                font-family: 'times new roman';
                vertical-align: middle;
            }
            
            cite:first-of-type {
                display: block;
                font-style: italic;   
                margin-top: 1.25rem;       
            }
            
            cite:first-of-type:before {
                content: '— ';
            }
            
            cite:last-of-type {
                font-size: 12pt;
                display: block;
                text-align: right;
            }

            @@media (prefers-color-scheme: dark) {
                background-color: rgba(255, 255, 255, 0.075);
            }
        }
    </style>
    
    <h2 id="Atonement">The Sufficiency of the Atonement</h2>
    <br />

    <blockquote>
        <span>
            This death of God's Son is the only and entirely complete sacrifice and satisfaction for sins; it is 
            of infinite value and worth, more than sufficient to atone for the sins of the whole world. 
        </span>
        <cite>The Canons Of Dort</cite>
        <cite>The Second Head of Doctrine, Article 3</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            It is also a fact, without controversy, that Christ came to atone for the sins of the whole world.
        </span>
        <cite>John Calvin</cite>
        <cite>The Eternal Predestination of God</cite>
    </blockquote>
    <br />
    
    <blockquote>
        <span>
            The promises of the Gospel make offer of the grace of Christ equally to all; and God, by the external 
            call, invites all who are willing to accept of salvation.
        </span>
        <cite>John Calvin</cite>
        <cite>To Melanchthon, The Letters of John Calvin, 2:364-65</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            ... seeing that men are created in the image of God and that their souls have been redeemed by the blood 
            of Jesus Christ, we must try in every way available to us to draw them to the knowledge of the gospel.
        </span>
        <cite>John Calvin</cite>
        <cite>Sermons on Acts 1-7, Sermon 41</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            We must make every effort to draw everybody to the knowledge of the gospel. For when we see people going 
            to hell who have been created in the image of God and redeemed by the blood of our Lord Jesus Christ, that 
            must indeed stir us to do our duty and instruct them and treat them with all gentleness and kindness as we 
            try to bear fruit this way.
        </span>
        <cite>John Calvin</cite>
        <cite></cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            The Lord died for all; but all are not partakers of redemption, through their own fault.
        </span>
        <cite>Heinrich Bullinger</cite>
        <cite></cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            ... no theologian of sound judgment from the Reformed Church wishes to deny a general intention or 
            ordination concerning the salvation of each and every person by the death of Christ, on this condition, 
            if he will believe. For this intention or ordination of God is general, and clearly revealed in the 
            Holy Scriptures; although the absolute and infrustratable intention of God concerning the gift of faith 
            and eternal life for certain people is special and limited to the elect alone.
        </span>
        <cite>John Davenant</cite>
        <cite>Response to the French Reformed Churches</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            The death of Christ is represented in Holy Scripture as a universal remedy applicable to each and every 
            human being for salvation, according to God's ordination and the nature of the thing itself.
        </span>
        <cite>John Davenant</cite>
        <cite>A Dissertation on the Death of Christ</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            That it is not false that Christ died for all men as it regards his conditional will, that is, if they are 
            willing to become partakers of his death through faith. For the death of Christ is set before all in the 
            Gospel, and no one is excluded from it, but he who excludes himself.
        </span>
        <cite>Girolamo Zanchi</cite>
        <cite></cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            Christ offered himself on the cross for all men, as to the sufficiency of the price, but for the elect 
            only as to its efficacy: because he brings salvation to the predestinate alone.
        </span>
        <cite>Peter Lombard</cite>
        <cite></cite>
    </blockquote>
    <br />

    <h2 id="MansResponsibility">Man's Responsibility for Sin</h2>
    <br />

    <blockquote>
        <span>
            Therefore, in regard to evil or sin, man is not forced by God or by the devil but does evil by his own 
            free will, and in this respect he has a most free will.
        </span>
        <cite>Second Helvetic Confession</cite>
        <cite>Chapter 9, Section 3</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            However, that many who have been called through the gospel do not repent or believe in Christ but perish 
            in unbelief is not because the sacrifice of Christ offered on the cross is deficient or insufficient, but 
            because they themselves are at fault. 
        </span>
        <cite>The Canons of Dort</cite>
        <cite>The Second Head of Doctrine, Article 6</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            The fact that many who are called through the ministry of the gospel do not come and are not brought 
            to conversion must not be blamed on the gospel, nor on Christ, who is offered through the gospel, nor
            on God, who calls them through the gospel and even bestows various gifts on them, but on the people 
            themselves who are called. Some in self-assurance do not even entertain the Word of life; others do 
            entertain it but do not take it to heart, and for that reason, after the fleeting joy of a temporary 
            faith, they relapse; others choke the seed of the Word with the thorns of life's cares and with the 
            pleasures of the world and bring forth no fruits. This our Savior teaches in the parable of the 
            sower (Matthew 13). 
        </span>
        <cite>The Canons of Dort</cite>
        <cite>The Third and Fourth Head of Doctrine, Article 9</cite>
    </blockquote>
    <br />
    
    <blockquote>
        <span>
            God invites all indiscriminately to salvation through the Gospel, but the ingratitude of the world is the 
            reason why this grace, which is equally offered to all, is enjoyed by few.
        </span>
        <cite>John Calvin</cite>
        <cite>Commentary on a Harmony of the Evangelists Matthew, Mark, and Luke, vol. 1</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            The Lord died for all; but all are not partakers of redemption, through their own fault.
        </span>
        <cite>Heinrich Bullinger</cite>
        <cite></cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            Reprobation is not a denial of sufficient grace, but a denial of such special grace as God knoweth would 
            infallibly bring them to glory. Neither doth the decree of preterition shut any man under a necessity of 
            sinning and being damned, but it permitteth men voluntarily and freely to run into damnable sins, and
            through their voluntary impenitency to incur eternal damnation.
        </span>
        <cite>John Davenant</cite>
        <cite>Animadversions</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            Reprobation is not a decree necessarily excluding persons not-elect from all possible means of salvation; 
            but a decree permitting such out of freedom of their own wills to neglect and abuse such means of their 
            salvation...
        </span>
        <cite>John Davenant</cite>
        <cite>Animadversions</cite>
    </blockquote>
    <br />
    
    <h2 id="Obedience">The Necessity of Obedience</h2>
    <br />
    
    <blockquote>
        <span>
            The grace of God is manifested in the second covenant, in that he freely provideth and offereth to sinners 
            a Mediator, and life and salvation by him; and, requiring faith as the condition to interest them in him, 
            promiseth and giveth his Holy Spirit to all his elect, to work in them that faith, with all other saving 
            graces; and to enable them unto all holy obedience, as the evidence of the truth of their faith and 
            thankfulness to God, and as the way which he hath appointed them to salvation.
        </span>
        <cite>Westminster Larger Catechism</cite>
        <cite>Question 32</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            The needful but much neglected duty of improving our Baptism, is to be performed by us all our life long, 
            especially in the time of temptation, and when we are present at the administration of it to others, by 
            serious and thankful consideration of the nature of it, and of the ends for which Christ instituted it, 
            the privileges and benefits conferred and sealed thereby, and our solemn vow made therein; by being 
            humbled for our sinful defilement, our falling short of, and walking contrary to, the grace of the 
            Baptism and our engagements; by growing up to assurance of pardon of sin, and of all other blessings 
            sealed to us in that Sacrament; by drawing strength from the death and resurrection of Christ, into whom 
            we are baptized, for the mortifying of sin, and quickening of grace; and by endeavoring to live by faith, 
            to have our conversation in holiness and righteousness, as those that have therein given up their names 
            to Christ; and to walk in brotherly love, as being baptized by the same Spirit into one body.
        </span>
        <cite>Westminster Larger Catechism</cite>
        <cite>Question 167</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            It is impossible for this holy faith to be unfruitful in a human being, seeing that we do not speak of an 
            empty faith but of what Scripture calls 'faith working through love.'
        </span>
        <cite>Belgic Confession</cite>
        <cite>Article 24</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            Let the man who seeks to be justified through Christ, by God’s unmerited goodness, consider that this 
            cannot be attained without his taking him at the same time for sanctification, or, in other words, being 
            renewed to innocence and purity of life. 
        </span>
        <cite>John Calvin</cite>
        <cite>Commentary on 1 Corinthians</cite>
    </blockquote>
    <br />
    
    <h2 id="JudgementByWorks">Judgement According to Works</h2>
    <br />

    <blockquote>
        <span>
            God hath appointed a day, wherein he will judge the world, in righteousness, by Jesus Christ, to whom all 
            power and judgment is given of the Father. In which day, not only the apostate angels shall be judged, but 
            likewise all persons that have lived upon earth shall appear before the tribunal of Christ, to give an 
            account of their thoughts, words, and deeds; and to receive according to what they have done in the body, 
            whether good or evil. 
        </span>
        <cite>Westminster Confession</cite>
        <cite>Chapter 33, Section 1</cite>
    </blockquote>
    <br />
    
    <blockquote>
        <span>
            Then the books (that is to say, the consciences) shall be opened, and the dead judged according to what 
            they shall have done in this world, whether it be good or evil. Nay, all men shall give an account of 
            every idle word they have spoken, which the world only counts amusement and jest; and then the secrets 
            and hypocrisy of men shall be disclosed and laid open before all
        </span>
        <cite>Belgic Confession</cite>
        <cite>Chapter 37</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            If a price is to be put upon works 
            according to their own worth, we hold that they are unfit to appear in the presence of God: that man, 
            accordingly, has no works in which he can glory before God, and that hence, deprived of all aid from works, 
            he is justified by faith alone. Justification, moreover, we thus define: The sinner being admitted into 
            communion with Christ is, for his sake, reconciled to God; when purged by his blood he obtains the
            remission of sins, and clothed with righteousness, just as if it were his own, stands secure before the 
            judgment-seat of heaven. Forgiveness of sins being previously given, the good works which follow have a 
            value different from their merit, because whatever is imperfect in them is covered by the perfection of 
            Christ, and all their blemishes and pollutions are wiped away by his purity, so as never to come under 
            the cognizance of the divine tribunal. The guilt of all transgressions, by which men are prevented from 
            offering God an acceptable service, being thus effaced, and the imperfection which is wont to sully even 
            good works being buried, the good works which are done by believers are deemed righteous, or; which is the 
            same thing, are imputed for righteousness. 
        </span>
        <cite>John Calvin</cite>
        <cite>Institutes of the Christian Religion, Book 3, Chapter 17, Section 8</cite>
    </blockquote>
    <br />
}