@{
    this.Layout = "DocumentLayout";
    this.ViewData["Title"] = "Quotes";
}

@section DocumentNavigation {
    <h1>Table of Contents</h1>
    <ol>
        <li><a href="#Atonement">The Sufficiency of the Atonement</a></li>
        <li><a href="#MansResponsibility">Man's Responsibility for Sin</a></li>
        <li><a href="#GoodWorks">The Necessity of Good Works</a></li>
        <li><a href="#JudgementByWorks">Judgement According to Works</a></li>
        <li><a href="#TwofoldJustification">Twofold Justification</a></li>
        <li><a href="#CivilMagistrate">The Duties of the Civil Magistrate</a></li>
    </ol>
}

@section DocumentDetails {

}

@section Title {
    <h1>Quotes</h1>
    <br />
    <p>
        This is a page collecting thought-provoking quotes from the reformed confessions and divines in areas that tend to be 
        de-emphasized today. The selection of topics is not intended to make any particular
        doctrinal statement, nor to endorse any particular theology, but simply to spark further discussion about our tradition.
        <br /><br />
        
        About half of these quotes come from <a href="https://x.com/ackerman1517">@@ProtestantPerspective</a> on 
        X, I would highly recommend following him.
    </p>
}

@section DocumentContent {
    <style>
        blockquote {
            background-color: rgba(0, 0, 0, 0.075);
            padding: 1rem;
            border-radius: 3px;
            
            span {
                line-height: 1.25rem;
            }
            
            span:before {
                content: "“";
                font-size: 25pt;
                line-height: 1.25rem;
                font-family: 'times new roman';
                vertical-align: middle;
            }
            
            span:after {
                content: "”";
                font-size: 25pt;
                line-height: 1.25rem;
                font-family: 'times new roman';
                vertical-align: middle;
            }
            
            cite:first-of-type {
                display: block;
                font-style: italic;   
                margin-top: 1.25rem;       
            }
            
            cite:first-of-type:before {
                content: '— ';
            }
            
            cite:last-of-type {
                font-size: 12pt;
                display: block;
                text-align: right;
                text-wrap: balance;
            }

            @@media (prefers-color-scheme: dark) {
                background-color: rgba(255, 255, 255, 0.075);
            }
        }
    </style>
    
    <h2 id="Atonement">The Sufficiency of the Atonement</h2>
    <br />

    <blockquote>
        <span>
            This death of God's Son is the only and entirely complete sacrifice and satisfaction for sins; it is 
            of infinite value and worth, more than sufficient to atone for the sins of the whole world. 
        </span>
        <cite>The Canons Of Dort</cite>
        <cite>The Second Head of Doctrine, Article 3</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            It is also a fact, without controversy, that Christ came to atone for the sins of the whole world.
        </span>
        <cite>John Calvin</cite>
        <cite>The Eternal Predestination of God</cite>
    </blockquote>
    <br />
    
    <blockquote>
        <span>
            The promises of the Gospel make offer of the grace of Christ equally to all; and God, by the external 
            call, invites all who are willing to accept of salvation.
        </span>
        <cite>John Calvin</cite>
        <cite>To Melanchthon, The Letters of John Calvin, 2:364-65</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            ... seeing that men are created in the image of God and that their souls have been redeemed by the blood 
            of Jesus Christ, we must try in every way available to us to draw them to the knowledge of the gospel.
        </span>
        <cite>John Calvin</cite>
        <cite>Sermons on Acts 1-7, Sermon 41</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            We must make every effort to draw everybody to the knowledge of the gospel. For when we see people going 
            to hell who have been created in the image of God and redeemed by the blood of our Lord Jesus Christ, that 
            must indeed stir us to do our duty and instruct them and treat them with all gentleness and kindness as we 
            try to bear fruit this way.
        </span>
        <cite>John Calvin</cite>
        <cite></cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            The Lord died for all; but all are not partakers of redemption, through their own fault.
        </span>
        <cite>Heinrich Bullinger</cite>
        <cite></cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            ... no theologian of sound judgment from the Reformed Church wishes to deny a general intention or 
            ordination concerning the salvation of each and every person by the death of Christ, on this condition, 
            if he will believe. For this intention or ordination of God is general, and clearly revealed in the 
            Holy Scriptures; although the absolute and infrustratable intention of God concerning the gift of faith 
            and eternal life for certain people is special and limited to the elect alone.
        </span>
        <cite>John Davenant</cite>
        <cite>Response to the French Reformed Churches</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            The death of Christ is represented in Holy Scripture as a universal remedy applicable to each and every 
            human being for salvation, according to God's ordination and the nature of the thing itself.
        </span>
        <cite>John Davenant</cite>
        <cite>A Dissertation on the Death of Christ</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            That it is not false that Christ died for all men as it regards his conditional will, that is, if they are 
            willing to become partakers of his death through faith. For the death of Christ is set before all in the 
            Gospel, and no one is excluded from it, but he who excludes himself.
        </span>
        <cite>Girolamo Zanchi</cite>
        <cite></cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            Christ offered himself on the cross for all men, as to the sufficiency of the price, but for the elect 
            only as to its efficacy: because he brings salvation to the predestinate alone.
        </span>
        <cite>Peter Lombard</cite>
        <cite></cite>
    </blockquote>
    <br />

    <h2 id="MansResponsibility">Man's Responsibility for Sin</h2>
    <br />

    <blockquote>
        <span>
            Therefore, in regard to evil or sin, man is not forced by God or by the devil but does evil by his own 
            free will, and in this respect he has a most free will.
        </span>
        <cite>Second Helvetic Confession</cite>
        <cite>Chapter 9, Section 3</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            However, that many who have been called through the gospel do not repent or believe in Christ but perish 
            in unbelief is not because the sacrifice of Christ offered on the cross is deficient or insufficient, but 
            because they themselves are at fault. 
        </span>
        <cite>The Canons of Dort</cite>
        <cite>The Second Head of Doctrine, Article 6</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            The fact that many who are called through the ministry of the gospel do not come and are not brought 
            to conversion must not be blamed on the gospel, nor on Christ, who is offered through the gospel, nor
            on God, who calls them through the gospel and even bestows various gifts on them, but on the people 
            themselves who are called. Some in self-assurance do not even entertain the Word of life; others do 
            entertain it but do not take it to heart, and for that reason, after the fleeting joy of a temporary 
            faith, they relapse; others choke the seed of the Word with the thorns of life's cares and with the 
            pleasures of the world and bring forth no fruits. This our Savior teaches in the parable of the 
            sower (Matthew 13). 
        </span>
        <cite>The Canons of Dort</cite>
        <cite>The Third and Fourth Head of Doctrine, Article 9</cite>
    </blockquote>
    <br />
    
    <blockquote>
        <span>
            God invites all indiscriminately to salvation through the Gospel, but the ingratitude of the world is the 
            reason why this grace, which is equally offered to all, is enjoyed by few.
        </span>
        <cite>John Calvin</cite>
        <cite>Commentary on a Harmony of the Evangelists Matthew, Mark, and Luke, vol. 1</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            The Lord died for all; but all are not partakers of redemption, through their own fault.
        </span>
        <cite>Heinrich Bullinger</cite>
        <cite></cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            Reprobation is not a denial of sufficient grace, but a denial of such special grace as God knoweth would 
            infallibly bring them to glory. Neither doth the decree of preterition shut any man under a necessity of 
            sinning and being damned, but it permitteth men voluntarily and freely to run into damnable sins, and
            through their voluntary impenitency to incur eternal damnation.
        </span>
        <cite>John Davenant</cite>
        <cite>Animadversions</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            Reprobation is not a decree necessarily excluding persons not-elect from all possible means of salvation; 
            but a decree permitting such out of freedom of their own wills to neglect and abuse such means of their 
            salvation...
        </span>
        <cite>John Davenant</cite>
        <cite>Animadversions</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            ... the Libertines who say that God is absolutely the cause of sin, and they say this in order to 
            affirm that all sins are to be excused and not blamed, because they are works of God... What more 
            wicked thing can be conceived? The devil could not have found a readier path to hell. Let us send them 
            off in the way of evil, since we cannot send them the way of good: let us beseech God to remove these
            plagues from the Church.
        </span>
        <cite>Peter Martyr Vermigli</cite>
        <cite>On Providence and the Cause of Sin</cite>
    </blockquote>
    <br />
    
    <h2 id="GoodWorks">The Necessity of Good Works</h2>
    <br />
    
    <blockquote>
        <span>
            The grace of God is manifested in the second covenant, in that he freely provideth and offereth to sinners 
            a Mediator, and life and salvation by him; and, requiring faith as the condition to interest them in him, 
            promiseth and giveth his Holy Spirit to all his elect, to work in them that faith, with all other saving 
            graces; and to enable them unto all holy obedience, as the evidence of the truth of their faith and 
            thankfulness to God, and as the way which he hath appointed them to salvation.
        </span>
        <cite>Westminster Larger Catechism</cite>
        <cite>Question 32</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            The needful but much neglected duty of improving our Baptism, is to be performed by us all our life long, 
            especially in the time of temptation, and when we are present at the administration of it to others, by 
            serious and thankful consideration of the nature of it, and of the ends for which Christ instituted it, 
            the privileges and benefits conferred and sealed thereby, and our solemn vow made therein; by being 
            humbled for our sinful defilement, our falling short of, and walking contrary to, the grace of the 
            Baptism and our engagements; by growing up to assurance of pardon of sin, and of all other blessings 
            sealed to us in that Sacrament; by drawing strength from the death and resurrection of Christ, into whom 
            we are baptized, for the mortifying of sin, and quickening of grace; and by endeavoring to live by faith, 
            to have our conversation in holiness and righteousness, as those that have therein given up their names 
            to Christ; and to walk in brotherly love, as being baptized by the same Spirit into one body.
        </span>
        <cite>Westminster Larger Catechism</cite>
        <cite>Question 167</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            It is impossible for this holy faith to be unfruitful in a human being, seeing that we do not speak of an 
            empty faith but of what Scripture calls 'faith working through love.'
        </span>
        <cite>Belgic Confession</cite>
        <cite>Article 24</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            Let the man who seeks to be justified through Christ, by God’s unmerited goodness, consider that this 
            cannot be attained without his taking him at the same time for sanctification, or, in other words, being 
            renewed to innocence and purity of life. 
        </span>
        <cite>John Calvin</cite>
        <cite>Commentary on 1 Corinthians</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            Those whom in mercy he has destined for the inheritance of eternal life, he, in his ordinary 
            administration, introduces to the possession of it by means of good works. What precedes in the order of 
            administration is called the cause of what follows.  For this reason, he sometimes makes eternal life a
            consequent of works; not because it is to be ascribed to them, but because those whom he has elected he 
            justifies, that he may at length glorify (Rom. 8:30); he makes the prior grace to be a kind of cause, 
            because it is a kind of step to that which follows.  But whenever the true cause is to be assigned, he 
            enjoins us not to take refuge in works, but to keep our thoughts entirely fixed on the mercy of God...
        </span>
        <cite>John Calvin</cite>
        <cite>Institutes, Book 3, Chapter 14, Section 21</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            As therefore, if there is a certain, only, and prescribed way, which leads to any city, it is necessary 
            to all who wish to enter that city, to take this way; so, since by the Divine appointment the way of good 
            works leads to the goal of eternal glory, he must inevitably enter upon and hold this way, who desires to 
            arrive thither
        </span>
        <cite>John Davenant</cite>
        <cite>Justification, 1:302-3, on Matthew 7:14</cite>
    </blockquote>
    <br />

    <!--<blockquote>
        <span>
            ... if by grace we understand the favor and mercy of God, then is it the only cause through Jesus Christ 
            why we obtain eternal life.  For our works can by no means be the causes of our felicity; howbeit, they are 
            certain means whereby God bringeth us unto felicity.
            <br /><br />

            As the way is not the cause of the end thereof, nor the running place the cause of the goal or mark, and 
            yet by them men are led both unto the end of the way and unto the mark: so God by good works bringeth us 
            unto eternal life, when as yet the only cause thereof is the election of God ...
        </span>
        <cite>Peter Martyr Vermigli</cite>
        <cite>How Grace and Works are unto Eternal Life, in Common Places (1583), 3rd Part, Chapter 2, Section 15-20</cite>
    </blockquote>
    <br />-->

    <!--<blockquote>
        <span>
            It is not enough for Christians to have knowledge and to be able to speak of the gospel, and have some 
            striving of affection, but they must look to how they live.
        </span>
        <cite>Jeremiah Burroughs</cite>
        <cite>Gospel Conversation, Page 3</cite>
    </blockquote>
    <br />-->

    <blockquote>
        <span>
            But take Sanctification for holy walking in the strength of the grace of justification, and grace inherent 
            in us; so we say, Justification and Sanctification ought not to be separated, but both concur to make us 
            saints; the one as the cause, the other as the unseparable effect
        </span>
        <cite>Samuel Rutherford</cite>
        <cite>A Survey of the Spiritual Antichrist, Opening the Secrets of Familism & Antinomianism, Chapter 73</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            'Every tree which bringeth not forth good fruit is hewn down, and cast into the fire.' Hence of good 
            works, if we desire to be saved, it is necessary that these are added. But, it is asked whether good 
            works are necessary as a cause of justification, and therefore to salvation? The Arminians affirm; we deny.
        </span>
        <cite>Samuel Rutherford</cite>
        <cite>
            <a href="https://play.google.com/books/reader?id=9IhiAAAAcAAJ&printsec=frontcover&pg=GBS.PA530">
                Examination of Arminianism, Chapter 12, Page 530-35
            </a>
        </cite>
    </blockquote>
    <br />
    
    <blockquote>
        <span>
            Unless it [the Covenant of Grace] was conditional, there would be no place for threatenings in the gospel 
            (which could not be denounced except against those who had neglected the prescribed condition)— for the 
            neglect of faith and obedience cannot be culpable, if not required
        </span>
        <cite>Francis Turretin</cite>
        <cite>
            <a href="https://archive.org/details/institutesofelen0002turr/page/184/mode/2up?view=theater">
                Institutes of Elenctic Theology, Volume 2, 12th Topic, Question 3, Page 184-89
            </a>
        </cite>
    </blockquote>
    <br />

    <!--<blockquote>
        <span>
            Works can be considered three ways: either with reference to justification or sanctification or 
            glorification.  They are related to justification not antecedently, efficiently and meritoriously, but 
            consequently and declaratively.  They are related to sanctification constitutively because they constitute 
            and promote it.  They are related to glorification antecedently and ordinatively because they are related 
            to it as the means to the end; yea, as the beginning to the complement because grace is glory begun, as 
            glory is grace consummated.
        </span>
        <cite>Francis Turretin</cite>
        <cite>
            <a href="https://archive.org/details/institutesofelen0002turr/page/702/mode/2up?view=theater">
                Institutes of Elenctic Theology, Volume 2, 17th Topic, Question 3, Page 702-06
            </a>
        </cite>
    </blockquote>
    <br />-->

    <blockquote>
        <span>
            Hence it is evident that the question here does not concern the necessity of merit, causality, and 
            efficiency—whether good works are necessary to effect salvation or to acquire it by right (For this 
            belongs to another controversy, of which hereafter). Rather the question concerns the necessity of means, 
            of presence and of connection or order— Are they required as the means and way for possessing salvation? 
            This we hold.
        </span>
        <cite>Francis Turretin</cite>
        <cite>Institutes of Elenctic Theology, Volume 2, 17th Topic, Third Question, Page 703</cite>
    </blockquote>
    <br />

    <!--<blockquote>
        <span>
            In the Covenant of Nature obedience and works were commanded as the cause of life and justification: in 
            the Covenant of Grace, Faith is required as the instrumental cause of Remission and Salvation, obedience 
            as the qualification of the party justified, and the way leading to everlasting blessedness.
        </span>
        <cite>John Ball</cite>
        <cite>A Treatise of the Covenant of Grace (London, 1645), page 26</cite>
    </blockquote>
    <br />-->

    <blockquote>
        <span>
            The question is ambiguous, for if it be taken in this sense, that our good works are so necessary to 
            salvation that they are the cause or merit of righteousness, salvation and life eternal, it is false. 
            But if it be understood, that new obedience is necessary, so as it be a duty which we owe and an effect 
            necessarily following reconciliation, it is true.
        </span>
        <cite>William Bucanus</cite>
        <cite>Institutions of Christian Religion, Chapter 32, Page 376</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            When the doctrine of the Reformers began to be abused by the Antinomians, the Puritans were raised up, 
            in the good providence of God, to give the same prominence to Sanctification as Luther had given to 
            Justification; to insist as as strenuously on the work of the Spirit in applying salvation as he had 
            done on the work of Christ in procuring it:  for though both doctrines were taught at an earlier period...  
            it was reserved for their successors, when controversy arose, to expound them more fully in their 
            necessary connection and mutual relations.
        </span>
        <cite>James Buchanan</cite>
        <cite>The Doctrine of Justification, Page 363-64</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            ... Good works are necessary to salvation, not as a cause to an effect, or as if they merited a reward, 
            but as a part of salvation itself, or as an antecedent to a consequent, or as a means without which we 
            cannot obtain the end.
            <br /><br />

            In the same way we may also say, that good works are necessary to righteousness or justification, or 
            in them that are to be justified, viz.: as a consequence of justification, with which regeneration is 
            inseparably connected ...
            <br /><br />

            We may more safely and correctly say, That good works are necessary in them that are justified, and 
            that are to be saved….  Augustine has correctly said:  Good works do not precede them that are to be 
            justified, but follow them that are justified.
            <br /><br />

            We may, therefore, easily return an answer to the following objection:  That is necessary to salvation 
            without which no one can be saved.  But no one who is destitute of good works can be saved, as it is 
            said in the 87th Question [of the Heidelberg Catechism].  Therefore, good works are necessary to 
            salvation, as a part of salvation, or as a certain antecedent necessary to salvation, in which sense 
            we admit the conclusion; but not as a cause, or as a merit of salvation.
        </span>
        <cite>Zacharias Ursinus</cite>
        <cite>The Commentary of Zacharias Ursinus on the Heidelberg Catechism, On Question 91, Section 5, Page 485</cite>
    </blockquote>
    <br />
    
    <h2 id="JudgementByWorks">Judgement According to Works</h2>
    <br />

    <blockquote>
        <span>
            God hath appointed a day, wherein he will judge the world, in righteousness, by Jesus Christ, to whom all 
            power and judgment is given of the Father. In which day, not only the apostate angels shall be judged, but 
            likewise all persons that have lived upon earth shall appear before the tribunal of Christ, to give an 
            account of their thoughts, words, and deeds; and to receive according to what they have done in the body, 
            whether good or evil. 
        </span>
        <cite>Westminster Confession</cite>
        <cite>Chapter 33, Section 1</cite>
    </blockquote>
    <br />
    
    <blockquote>
        <span>
            Then the books (that is to say, the consciences) shall be opened, and the dead judged according to what 
            they shall have done in this world, whether it be good or evil. Nay, all men shall give an account of 
            every idle word they have spoken, which the world only counts amusement and jest; and then the secrets 
            and hypocrisy of men shall be disclosed and laid open before all
        </span>
        <cite>Belgic Confession</cite>
        <cite>Chapter 37</cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            If a price is to be put upon works 
            according to their own worth, we hold that they are unfit to appear in the presence of God: that man, 
            accordingly, has no works in which he can glory before God, and that hence, deprived of all aid from works, 
            he is justified by faith alone. Justification, moreover, we thus define: The sinner being admitted into 
            communion with Christ is, for his sake, reconciled to God; when purged by his blood he obtains the
            remission of sins, and clothed with righteousness, just as if it were his own, stands secure before the 
            judgment-seat of heaven. Forgiveness of sins being previously given, the good works which follow have a 
            value different from their merit, because whatever is imperfect in them is covered by the perfection of 
            Christ, and all their blemishes and pollutions are wiped away by his purity, so as never to come under 
            the cognizance of the divine tribunal. The guilt of all transgressions, by which men are prevented from 
            offering God an acceptable service, being thus effaced, and the imperfection which is wont to sully even 
            good works being buried, the good works which are done by believers are deemed righteous, or; which is the 
            same thing, are imputed for righteousness. 
        </span>
        <cite>John Calvin</cite>
        <cite>Institutes of the Christian Religion, Book 3, Chapter 17, Section 8</cite>
    </blockquote>
    <br />

    <h2 id="TwofoldJustification">Twofold Justification</h2>
    <br />
    
    <blockquote>
        <span>
            A twofold trial can be entered into by God with man: either by the law (inasmuch as he is viewed as guilty 
            of violating the law by sin and thus comes under the accusation and condemnation of the law); or by the 
            gospel (inasmuch as he is accused by Satan of having violated the gospel covenant and so is supposed to be
            an unbeliever and impenitent or a hypocrite, who has not testified by works the faith he has professed with 
            his mouth). Now to this twofold trial a twofold justification ought to answer; not in the Romish sense, 
            but in a very different sense. The first is that by which man is absolved from the guilt of sin on account 
            of the righteousness of Christ imputed to us and apprehended by faith; the other is that by which he is 
            freed from the charge of unbelief and hypocrisy and declared to be a true believer and child of God; one 
            who has fulfilled the gospel covenant (if not perfectly as to degree, still sincerely as to parts) and 
            answered to the divine call by the exercise of faith and piety. The first is justification properly so 
            called; the other is only a declaration of it. That is justification of cause a priori; this is 
            justification of sign or of effect a posteriori, declaratively. In that, faith alone can have a place 
            because it alone apprehends the righteousness of Christ, by whose merit we are freed from the condemnation 
            of the law; in this, works also are required as the effects and signs of faith, by which its truth and 
            sincerity are declared against the accusation of unbelief and hypocrisy. For as faith justifies a person, 
            so works justify faith.
        </span>
        <cite>Francis Turretin</cite>
        <cite>
            Institutes of Elenctic Theology, ed. James T. Dennison Jr., trans. George Musgrave Giger, 3 vol. 
            (Phillipsburg, NJ: P&R Publishing, 1992–97), 2.676.
        </cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            Although our justification will be fully declared on the last day (our good works also being brought 
            forward as the sign and proof of its truth, Matthew 25:34-40), still falsely would anyone maintain from 
            this a twofold gospel justification— one from faith in this life (which is the first); the other (and 
            second) from works on the day of judgment (as some hold, agreeing too much with the Romanists on this 
            point). The sentence to be pronounced by the supreme Judge will not be so much a new justification, as 
            the solemn and public declaration of a sentence once passed and its execution by the assignment of the 
            life promised with respect to an innocent person from the preceding justification. Thus it is nothing 
            else than an adjudicatory sentence of the possession of the kingdom of heaven from the right given before 
            through justification. And if works are then brought forward, they are not adduced as the foundation of 
            a new justification to be obtained then, but as signs, marks and effects of our true faith and of our 
            justification solely by it
        </span>
        <cite>Francis Turretin</cite>
        <cite>
            Justification, ed. James Dennison, Page 101-102
        </cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            Second, the same justification is one numerically in individuals. It is not promoted successively after 
            the manner of sanctification by repeated acts, but is finished in one judicial act and brings the believer 
            the remission of all sins. Hence the Romanists (from their fictitious hypothesis concerning physical 
            justification by an infusion of righteousness) falsely make it twofold: the first, that by which a man 
            from being unjust is made just by an infusion of righteousness; the second, that by which from being just 
            he is made more just by the increase of righteousness
        </span>
        <cite>Francis Turretin</cite>
        <cite>
            Justification, ed. James Dennison, Page 108
        </cite>
    </blockquote>
    <br />

    <blockquote>
        <span>
            A few words may suffice, with respect to what is called Sentential Justification at the day of Judgment; 
            for of whatever nature it be, the person concerning whom that sentence is pronounced was actually and 
            completely justified before God in this world; and was made a partaker of all the benefits of that 
            Justification, even to a blessed resurrection. Besides, the souls of the most will long before have 
            enjoyed a blessed rest with God; absolutely acquitted from all their sins, and discharged from all their 
            labours: nothing remaining but an actual admission of their whole persons into eternal glory. Wherefore 
            this judgment need not be reduced to a new Justification, but considered as merely declaratory to the 
            glory of God, and the everlasting refreshment of believers
        </span>
        <cite>John Owen</cite>
        <cite>
            The Doctrine of Justification by Faith through the Imputation of the Righteousness of Christ, Examined, 
            Confirmed, and Vindicated, Chapter 6
        </cite>
    </blockquote>
    <br />

    <!--<blockquote>
        <span>
            The end of God in our justification, is the glory of his grace; but in the last judgment, the glory of his 
            remunerative righteousness... The representation of the final judgment, in Matthew 7 and 25 is only 
            that of the visible church, in which the plea of faith, as to the profession of it, is common to all. Upon 
            that plea, it is put to the trial, whether it were true faith, or only that which was dead and barren; and 
            this trial is made solely by the fruits and effects of it; and otherwise in the public declaration of 
            things to all, it cannot be made; In no other way does the faith whereby we are justified come into 
            judgment as that day
        </span>
        <cite>John Owen</cite>
        <cite>
            The Doctrine of Justification by Faith through the Imputation of the Righteousness of Christ, Examined,
            Confirmed, and Vindicated, Chapter 6
        </cite>
    </blockquote>
    <br />-->

    <blockquote>
        <span>
            And in relation to this outward judgment at the latter day, our sentence of salvation is termed 
            expressly a justification; and this very thing is asserted by Christ himself: 
            'I say unto you, that every idle word that men shall speak, they shall give an account thereof in the 
            day of judgment; for by thy words thou shalt be justified, and by thy words thou shalt be condemned' 
            (Matthew 12:36-37). Neither is it anywhere said that God will judge men according to their faith only; 
            nor will it be a sufficient plea at the latter day to say, 'Lord, thou knowest I believed, and cast 
            myself at thy grace.' God will say, I am to judge thee so as to every one shall be able to judge my 
            sentence righteous together with me (1 Corinthians 4:5): 'Therefore, show me thy faith by thy works;' let 
            me know by them thou fearest me; for as I did judge Abraham, and gave thereupon a testimony of him, so I 
            must proceed towards thee. And this God will do, to the end that all the sons of Israel, yea, the whole 
            world, may know that he justified one that had true faith indeed.
            <br /><br />

            So then, Paul's judging according to works, and James his justification by works, are all one, and are 
            alike consistent with Paul's justification by faith only. For in the same epistle where he argues so 
            strongly for justification by faith without works, as Romans 3 and 4, he in chapter 2 also declares, that 
            'he will judge every man according to his works.' He doth so to the good: 'To them who, by patient 
            continuance in well-doing, seek for glory, and honour, and immortality, eternal life' (Romans 2:7). As 
            well as to the bad he pronounceth a contrary judgment: 'But unto them that are contentious, and do not 
            obey the truth, but obey unrighteousness, indignation and wrath, tribulation and anguish, upon 
            every soul of man that doth evil, of the Jew first, and also of the Gentile' (Romans 2:8-9).
        </span>
        <cite>Thomas Goodwin</cite>
        <cite>
            Of Gospel Holiness in the Heart and Life, Book 2, Chapter 2.4, in The Works of Thomas Goodwin, volume 7, page 182-183
        </cite>
    </blockquote>
    <br />

    <h2 id="CivilMagistrate">The Duties of the Civil Magistrate</h2>
    <br />

    <blockquote>
        <span>
            Protestants teach unanimously that it is incumbent on kings to find out, receive, embrace, and promote the 
            truth of the gospel, and the worship of God appointed therein, confirming, protecting, and defending of it 
            by their regal power and authority; as also, that in their so doing they are to the use of liberty of their 
            own judgements, informed by the ways that God hath appointed for that end, independently of the dictates, 
            determinations, and orders of any other person or persons in the world, unto whose authority they should be 
            obnoxious.
        </span>
        <cite>John Owen</cite>
        <cite>A Vindication of the Animadversions on "Fiat Lux"</cite>
    </blockquote>
    <br />
}