@{
    Layout = "DocumentLayout";
}

@section DocumentNavigation {
    <h1>Table of Contents</h1>

    <ol>
        <li><a href="#Section1">Exhortation to Repentence</a></li>
        <li><a href="#Section2">Statement of the Orthodox Faith</a></li>
        <li><a href="#Section3">The One Person of Christ</a></li>
        <li><a href="#Section4">The Meaning of the Incarnation</a></li>        
        <li><a href="#Section5">Conclusions</a></li>
    </ol>
}

@section DocumentDetails {
    <h1>Details</h1>

    <table>
        <tr>
            <td>Author</td>
            <td>Cyril of Alexandria</td>
        </tr>
        <tr>
            <td>Date Written</td>
            <td>430</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>Alexandria, Egypt</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Greek</td>
        </tr>
    </table>
}


@section DocumentContent {
    <h1 id="Section1">The Second Epistle of Cyril to Nestorius</h1>
    <h3>Rebuking Nestorius's for His Continuing Heresy</h3>
    <br />

    <h2>Exhortation to Repentence</h2>
    <br />
    <p>
        To the most reverend and God-loving fellow-minister Nestorius, Cyril and the synod assembled in Alexandria, of the
        Egyptian Province, Greeting in the Lord.
    </p>
    <br />

    <p>
        When our Saviour says clearly: "He that loves father or mother more than me is not worthy of me: and he that loves
        son or daughter more than me is not worthy of me," what is to become of us, from whom your Holiness requires that we
        love you more than Christ the Saviour of us all? Who can help us in the day of judgment, or what kind of excuse shall
        we find for thus keeping silence so long, with regard to the blasphemies made by you against him? If you injured
        yourself alone, by teaching and holding such things, perhaps it would be less matter; but you have greatly scandalized
        the whole Church and have cast among the people the leaven of a strange and new heresy.
    </p>
    <br />
    
    <p>
        And not to those at
        Constantinople on]y, but also to those everywhere the books of your explanation were sent. Under these circumstances,
        how can we any longer make a defence for our silence, or how shall we not be forced to remember that Christ said,
        "Think not that I have come to send peace on earth: I have not to send peace, but a sword. For I have come to set a man
        at variance against his father, and the daughter against her mother." For if faith be injured, let there the
        honour due to parents be lost, as stale and tottering, let even the law of tender love towards children and brothers be
        silenced, and let death be better to the pious than living; for "that they might obtain a better resurrection," as it is
        written.
    </p>
    <br />

    <p>
        Therefore behold how we, together with the holy synod which met in great Rome, presided over by the most holy and
        most reverend brother and fellow-minister, Celestine the Bishop, also testify by this third letter to you: We counsel
        you to abstain from these mischievous and distorted dogmas, which you teach, and to receive the right faith
        handed down to the churches from the beginning through the holy Apostles and Evangelists, who "were eye-witnesses, and
        ministers of the Word." And if your holiness have not a mind to this according to the limits defined in the writings
        of our brother of blessed memory and most reverend fellow-minister Celestine, Bishop of the Church of Rome, be well
        assured then that you have no lot with us, nor place among the priests and bishops of God.
    </p>
    <br />
    
    <p>
        For it is not possible for us to overlook the churches thus troubled, and the people scandalized, and the right faith
        set aside, and the sheep scattered by you, who ought to save them, if indeed we ourselves are adherents of the right
        faith and followers of the holy fathers. And we are in communion with all those laymen and clergymen
        cast out or deposed by your holiness on account of the faith; for it is not right that those who resolved to believe
        rightly should suffer by your choice; they do well in opposing you. This very thing you have mentioned in your
        epistle written to our most holy and fellow-bishop Celestine of great Rome.
    </p>
    <br />

    <h2 id="Section2">Statement of the Orthodox Faith</h2>
    <br />
    <p>
        But it would not be sufficient for your reverence to confess only the symbol of the faith set out some time
        ago by the Holy Ghost at the great and holy synod of Nicea, for you have not held and interpreted it rightly,
        but rather perversely; even though you confess with your voice the form of words. But in addition, in writing and by
        oath, you must confess that you also anathematize those polluted and unholy dogmas of yours, and that you will hold and
        teach that which we all hold, the bishops, teachers, and leaders of the people both East and West. We and the holy synod of Rome
        both agreed on the epistle written to your Holiness from the Alexandrian Church as being right and blameless. We
        have added our own letters to these and that which it is necessary for you to hold and teach, and what you should be
        careful to avoid.
    </p>
    <br />
    
    <p>
        Now this is the Faith of the Catholic and Apostolic Church to which all Orthodox Bishops, both East
        and West, agree: "We believe in one God, the Father Almighty, Maker of all things visible and invisible, and in one
        Lord Jesus Christ, the Only-begotten Son of God, begotten of his Father, that is, of the substance of the Father; God
        of God, Light of Light, Very God of very God, begotten, not made, being of one substance with the Father, by whom all
        things were made, both those in heaven and those in the earth. Who for us men and for our salvation, came down, and was
        incarnate, and was made man. He suffered, and rose again the third day. He ascended into the heavens, from thence he
        shall come to judge both the quick and the dead. And in the Holy Ghost: But those that say, There was a time when he
        was not, and, before he was begotten he was not, and that he was made of that which previously was not, or that he was
        of some other substance or essence; and that the Son of God was capable of change or alteration; those the Catholic and
        Apostolic Church anathematizes."
    </p>
    <br />

    <p>
        Following in all points the confessions of the Holy Fathers which they made (the Holy Ghost speaking in them), and
        following the scope of their opinions, we confess that the Only begotten Word
        of God, begotten of the same substance of the Father, True God from True God, Light from Light, through Whom all
        things were made, the things in heaven and the things in the earth, coming down for our salvation, making himself of
        no reputation, was incarnate and made man.
    </p>
    <br />
    
    <p>
        That is, taking flesh of the holy Virgin, and
        having made it his own from the womb, he subjected himself to birth for us and came forth from a woman, without
        casting off that which he was. But although he assumed flesh and blood, he remained what he was, God in essence and in
        truth. Neither do we say that his flesh was changed into the nature of divinity, nor that the ineffable nature of the
        Word of God has laid aside for the nature of flesh; for he is unchanged and absolutely unchangeable, being the same
        always, according to the Scriptures. For although visible and a child in swaddling clothes and even in the bosom of
        his Virgin Mother, he filled all creation as God, and was a fellow-ruler with him who begat him, for the Godhead is
        without quantity and dimension, and cannot have limits.
    </p>
    <br />

    <h2 id="Section3">The One Person of Christ</h2>
    <br />
    <p>
        Confessing the Word to be made one with the flesh according to substance, we adore one Son and Lord Jesus Christ: We do
        not divide the God from the man, nor separate him into parts, as though the two natures were mutually united in him
        only through a sharing of dignity and authority, neither do we separately give the name Christ both
        to the Word of God and to a different one born of a woman; but we know only
        one Christ, the Word from God the Father with his own flesh. For as man he was anointed with us, although it is he
        himself who gives the Spirit to those who are worthy, according to the saying of the blessed
        Evangelist John.
    </p>
    <br />

    <p>
        But we do not say that the Word of God dwelt in him as in a common man born of the holy Virgin, lest Christ be thought
        of as a God-bearing man; for although the Word tabernacled among us, it is also said that in Christ "dwelt all the
        fullness of the Godhead bodily." We understand that he became flesh, not just as he is said to dwell in the saints,
        but we define that the tabernacling in him was according to equality. But being made
        one, and not converted into flesh, he made his indwelling in such a way as we may say that the soul of
        man does in his own body.
    </p>
    <br />

    <p>
        One therefore is Christ both Son and Lord, and not as if a man had attained only such a conjunction with God as consists in
        a unity of dignity or of authority. It is not equality of honor which unites natures, for then Peter and
        John, who were of equal honour with each other, being both Apostles and holy disciples, would have been one; and
        yet the two are not one. Neither do we understand the manner of conjunction to be apposition, for this does not
        suffice for natural oneness. Nor yet according to relative participation, like we are also
        joined to the Lord, as it is written "we are one Spirit in him." Rather we deprecate the term of "junction"
        as not having sufficiently signified the oneness.
    </p>
    <br />
    
    <p>
        But we do not call the Word of God the Father,
        lest we openly cut in two the one Christ, the Son and Lord, and fall under the charge of
        blasphemy, making him the God and Lord of himself. For the Word of God, as we have said already, was made
        hypostatically one in flesh, yet he is God of all and he rules all; but he is not the slave of himself, nor his
        own Lord. For it is foolish, or rather impious, to think or teach thus. For he said that God was his Father, although
        he was God by nature, and of his substance. Yet we are not ignorant that while he remained God, he also became man and
        subject to God, according to the law suitable to the nature of manhood. But how could he become the God or Lord of
        himself? Consequently as man, and with regard to the measure of his humiliation, it is said that he is equally
        subject to God with us; thus he became under the Law, although as God he spoke the Law and was the Law-giver.
    </p>
    <br />
    
    <p>
        We are careful also how we say about Christ: "I worship the One clothed on account of the One clothing him, and on
        account of the Unseen, I worship the Seen." It is horrible to say in connection with the following: "The assumed as
        well as the assuming have the name of God."
        For this saying again divides Christ in two, and puts the man separately by himself and God also by himself.
        This saying openly denies the Unity according to which one is not worshipped in the other, nor does God exist
        together with the other; but Jesus Christ is considered as One, the Only-begotten Son, to be honoured with one
        adoration together with his own flesh.
    </p>
    <br />

    <h2 id="Section4">The Meaning of the Incarnation</h2>
    <br />
    <p>
        We confess that he is the Son, begotten of God the Father, and Only-begotten God; and although according to his own
        nature he was not subject to suffering, yet he suffered for us in the flesh according to the Scriptures, and although
        impassible, yet in his Crucified Body he made his own the sufferings of his own flesh; and by the grace of God he
        tasted death for all: he gave his own Body thereto, although he was by nature himself the life and the resurrection, in
        order that, having trodden down death by his unspeakable power, first in his own flesh, he might become the first born
        from the dead, and the first-fruits of them that slept. And that he might make a way for the nature of man to attain
        incorruption, by the grace of God (as we just now said), he tasted death for every man, and after three days rose
        again, having despoiled hell. So although it is said that the resurrection of the dead was through man, yet we
        understand that man to have been the Word of God, and the power of death was loosed through him, and he shall come in
        the fullness of time as the One Son and Lord, in the glory of the Father, in order to judge the world in righteousness,
        as it is written.
    </p>
    <br />
    
    <p>
        We will necessarily add this also: Proclaiming the death, according to the flesh, of the Only-begotten Son of God,
        that is Jesus Christ, confessing his resurrection from the dead, and his ascension into heaven, we offer the unbloody
        sacrifice in the churches, and so go on to the mystical thanksgivings and are sanctified, having received his holy
        flesh and the precious blood of Christ the saviour of us all. And not as common flesh do we receive it; God forbid: nor
        as of a man sanctified and associated with the Word according to the unity of worth, nor as having a divine indwelling,
        but as truly the Life-giving and very flesh of the Word himself. For he is the life according to his nature as God,
        and when he became united to his flesh he made it also to be life-giving, as also he said to us: "Verily, verily, I
        say unto you, except ye eat the flesh of the Son of Man and drink his blood." For we must not think that it is flesh of
        a man like us (for how can the flesh of man be life-giving by its own nature?), but as having become truly His, whom for
        us became and was called the Son of Man.
    </p>
    <br />
    
    <p>
        Besides, what the gospels say our saviour also said, we
        do not divide between two hypostases or persons; for neither is he, the one and only Christ, to be thought of as
        double. Though He is of two natures, yet he has joined them in an indivisible union, just as everyone
        knows that a man is not double although made up of soul and body, but is one of both. Therefore, when thinking rightly, we
        transfer the human and the divine to the same person.
    </p>
    <br />
    
    <p>
        For when as God he speaks about himself: "He who hath seen me hath seen the Father," and "I and my Father are one," we
        consider his ineffable divine nature according to which he is One with his Father through the identity of essence: "The
        image and impress and brightness of his glory." But when not scorning the measure of his humanity, he said to the
        Jews: "But now ye seek to kill me, a man that hath told you the truth." Again no less than before we recognize that He
        is the Word of God from his identity and likeness to the Father, and also from the circumstances we recognize His humanity. For if it
        is necessary to believe that being by nature God, he became flesh (that is, a man endowed with a rational soul),
        what reason can certain ones have to be ashamed of this language about him, which is suitable to him as man? For if
        he should reject the words suitable to him as man, who compelled him to become man like us? And as he humbled himself
        to a voluntary abasement for us, for what cause can any one reject the words suitable to such abasement?
    </p>
    <br />
    
    <p>
        Therefore all the words which are read in the gospels are to be applied to one person, to one hypostasis of the Word
        incarnate. For the Lord Jesus Christ is one, according to the scriptures, although he is called "the Apostle and High
        Priest of our profession," as offering to God and the Father the confession of faith which we make to him; and
        through him to God even the Father and also to the Holy Spirit. Yet we say He is, according to nature, the
        only-begotten of God. And not to any man different from him do we assign the name and substance of priesthood, for
        be became "the mediator between God and men," and a reconciler unto peace, having offered himself as a sweet
        smelling savour to God and the Father.
    </p>
    <br />
    
    <p>
        Therefore also He said: "Sacrifice and offering thou wouldest not; but a body
        hast thou prepared me: In burnt offerings and sacrifices for sin thou hast had no pleasure. Then said I, Lo, I come
        to do thy will, O God." For on account of us He offered his body as a sweet
        smelling savour, but not for Himself, for what offering or sacrifice was needed for Himself, who as God existed above
        all sins? For "all have sinned and come short of the glory of God," so that we became prone to fall, and the nature
        of man has fallen into sin, yet not so He (and therefore we fall short of His glory). How then can there be further
        doubt that the true lamb died for us and on our account? And to say that He offered himself for Himself and us could
        in no way escape the charge of impiety. For He never committed a fault at all, neither did He sin. What offering then
        did He need, not having sin for which sacrifices are rightly offered?
    </p>
    <br />
    
    <p>
        But when He spoke about the Spirit, He said: "He
        shall glorify me." If we think rightly, we do not speak of the one Christ and Son as needing glory from another, nor as
        receiving glory from the Holy Spirit; for the Spirit is neither greater than He nor above Him. But because He used the
        Holy Spirit to show forth His own divinity and His mighty works, therefore He is said to have been glorified by Him
        just as if any one of us should say concerning his inherent strength or knowledge of anything, "they
        glorified me." For although the Spirit is the same essence, yet we think of Him by Himself, as He is the Spirit and not
        the Son; and yet He is not different from the first. For He is called the Spirit of truth and Christ is the truth, and He is sent
        by Him, just as, moreover, He is from God and the Father. When the Spirit worked miracles through the hands of
        the holy apostles after the ascension of our Lord Jesus Christ into heaven, He glorified Him. For it is believed that
        he who works through His own Spirit is God according to nature. Therefore he said: "He shall receive of mine, and
        shall shew it unto you." But we do not say this as if the Spirit is wise and powerful through some sharing with
        another; for he is all perfect and in need of no good thing. Since, therefore, he is the Spirit of the power and
        wisdom of the Father (that is, of the Son), He is evidently Wisdom and Power.
    </p>
    <br />

    <h2 id="Section5">Conclusions</h2>
    <br />
    <p>
        And since the holy Virgin brought forth corporally God made one with flesh according to nature, for this reason we also
        call her the mother of God, but not as if the nature of the Word had the beginning of its existence from the flesh.
        For "In the beginning was the Word, and the Word was God, and the Word was with God," and He is the maker of the ages,
        coeternal with the Father, and Creator of all. But as we have already said, since He hypostatically united human nature to Himself
        from her womb, also He subjected himself to birth as man (not as needing necessarily in his own nature
        birth in time and in these last times of the world), in order that he might bless the beginning of our existence,
        and that which sent the earthly bodies of our whole race to death might lose its power by His
        being born of a woman in the flesh.
    </p>
    <br />
    
    <p>
        And this: "In sorrow thou shalt bring forth children," being removed through Him,
        He showed the truth of that spoken by the prophet, "Strong death swallowed them up, and again God hath wiped away
        every tear from off all faces." For this cause also we say that he attended and also blessed
        the marriage in Cana of Galilee, with his holy apostles in accordance with the economy. We have been taught to hold
        these things by the holy apostles and evangelists, and all the God-inspired scriptures, and in the true confessions
        of the blessed Fathers.
    </p>
    <br />

    <p>
        To all these your reverence also should agree, and give heed, without any guile. And what it is necessary your
        reverence should anathematize we have subjoined to our epistle.
    </p>
}