<div>
    @await RenderSectionAsync("ArticleNavigation", false)
</div>

<div>
    @await RenderSectionAsync("ArticleContent", true)
</div>

<div>
    @await RenderSectionAsync("ArticleDetails", false)
</div>