@{
    Layout = "_Layout";
    var documentTitle = ViewContext.RouteData.Values["id"]?.ToString();
    ViewData["Title"] = documentTitle;
}

<h1>@documentTitle</h1>

<div>
    @await Html.PartialAsync($"{ViewContext.RouteData.Values["category"]}/{documentTitle}")
</div>
