@page
@model ReformedHistory.Pages.Documents.NiceanCreedModel
@{
    Layout = null;
}

<h1 class="text-2xl font-bold">Nicean Creed</h1>
<p>
    <!-- Insert the full text of Nicean Creed here -->
</p>
