@{
    this.Layout = "DocumentLayout";
    this.ViewData["Title"] = "Athanasius On Luke 10:22 and Matthew 11:27";
}

@section DocumentNavigation {
    <h1>Table of Contents</h1>

    <ol>
        <li><a href="#1">This text refers not to the eternal Word but to the Incarnate.</a></li>
        <li><a href="#2">Sense in which, and end for which all things were delivered to the Incarnate Son.</a></li>
        <li><a href="#3">By 'all things' is meant the redemptive attributes and power of Christ.</a></li>
        <li><a href="#4">The text John 16:15, shows clearly the essential relation of the Son to the Father.</a></li>
        <li><a href="#5">The same text further explained.</a></li>
        <li><a href="#6">The Trisagion wrongly explained by Arians. Its true significance.</a></li>
    </ol>
}

@section DocumentDetails {
    <h1>Details</h1>

    <table>
        <tr>
            <td>Author</td>
            <td>Athenasius of Alexandria</td>
        </tr>
        <tr>
            <td>Date Written</td>
            <td>Unknown; ~330 AD</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>Alexandria, Egypt</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Greek</td>
        </tr>
        <tr>
            <td>Translator</td>
            <td>Philip Schaff</td>
        </tr>
    </table>
}

@section Title {
    <h1 id="1">On Luke 10:22 and Matthew 11:27</h1>
}

@section DocumentContent {
    <h2><i>1. This text refers not to the eternal Word but to the Incarnate.</i></h2>
    <br />
    <p>
        "All things were delivered to Me by My Father. And none knows Who the Son is, save the Father; and Who the Father is, save the Son, and he to whomsoever the Son wills to reveal Him."
    </p>
    <br />
    <p>
        And from not perceiving this they of the sect of Arius, Eusebius and his fellows, indulge impiety against the Lord. For they say, if all things were delivered (meaning by 'all' the Lordship of Creation),
        there was once a time when He had them not. But if He had them not, He is not of the Father, for if He were, He would on that account have had them always, and would not have required to receive them.
        But this point will furnish all the clearer an exposure of their folly. For the expression in question does not refer to the Lordship over Creation, nor to presiding over the works of God, but is meant to reveal
        in part the intention of the Incarnation. For if when He was speaking they 'were delivered' to Him, clearly before He received them, creation was void of the Word. What then becomes of the text "in Him all things
        consist" [Colossians 1:17]? But if simultaneously with the origin of the Creation it was all 'delivered' to HIm, such delivery were superfluous, for 'all things were made by Him' [John 1:3], and it would be
        unnecessary for those things of which the Lord Himself was the artificer to be delivered over to Him. For in making them He was Lord of the things which were being originated. But even supposing they were 'delivered'
        to Him after they were originated, see the monstrosity. For if they 'were delivered,' and upon His receiving them the Father retired, then we are in peril of falling into the fabulous tales which some tell, that He
        gave over [His works] to the Son, and Himself departed. Or if, while the Son has them, the Father has them also, we ought to say, not 'were delivered,' but that He took Him as a partner, as Paul did Silvanus. But this
        is even more monstrous; for God is not imperfect, nor did He summon the Son to help Him in His need; but, being Father of the Word, He makes all things by His means, and without delivering creation over to Him, by His
        means and in Him exercises Providence over it, so that not even a sparrow falls to the ground without hte Father [Matthew 10: 29], nor is the grass clothed without God [Matthew 6:30], but at once the Father works, and
        the Son works hitherto [cf. John 5:17]. Vain, therefore, is the opinion of the impious. For the expression is not what they think, but designates the Incarnation.
    </p>
    <br />
    <h2 id="2"><i>2. Sense in which, and end for which all things were delivered to the Incarnate Son.</i></h2>
    <br />
    <p>
        For whereas man sinned, and is fallen, and by his fall all things are in confusion: death prevailed from Adam to Moses [cf. Romans 5:14], the earth was cursed, Hades was opened, Paradise shut, Heaven offended, man,
        lastly corrupted and brutalized [cf. Psalm 49:12], while the devil was exulting against us&mdash;then God, in His loving-kindness, not willing man made in His own image to preish, said, 'Whom shall I send, and who
        will go?' [Isaiah 6:8]. But while all held their peace, the Son said, 'Here am I, send Me.' And then it was that, saying 'Go,' He 'delivered' to Him man, that the Word Himself might be made Flesh, and by taking the
        Flesh, restore it wholly. For to Him, as to a physician, man 'was delivered' to heal the bite of the serpent; as to life, to raise what was dead; as to light, to illumine the darkness; and, because He was Word, to
        renew the rational nature. Since then all things 'were delivered' to Him, and He is made Man, straightway all things were set right and perfected. Earth receives blessing instead of a curse, Paradise was opened to
        the robber, Hades cowered, the tombs were opened and the dead raised, the gates of Heaven were lifted up to await Him that 'comes from Edom?' [Psalm 24:7, Isaiah 63:1]. Why, the Saviour Himself expressly signifies
        in what sense 'all things were delivered' to Him, when He continues as Matthew tells us: 'Come unto Me all you that labour and are heavy laden, and I will give you rest' [Matthew 11:28]. Yes, you 'were delivered'
        to Me to give rest to those who had laboured, and life to the dead. And what is written in John's Gospel harmonises with this: 'The Father loves the Son, and has given all things into His hand' [John 3:35]. Given,
        in order that, just as all things were made by Him, so in Him all things might be renewed. For they were not 'deliverred' unto Him, that being poor, He might be made rich, nor did He receive all things that He might
        receive power which before He had lacked: far be the thought: but in order that as Saviour He might rather set all things right. For it was fitting that while 'through Him' all things came into being at the beginning,
        'in Him' (note the change of phrase) all things should be set right [cf. John 1:3, Ephesians 1:10]. For at the beginning they came into being 'through' Him; but afterwards, all having faallen, the Word has been made
        Flesh, and put it on, in order that 'in Him' all should be set right. Suffering Himself, He gave us rest, hungering Himself, He nourished us, and going down into Hades He brought us back thence. For example, at the
        time of creation of all things, their creation consisted in a fiat, such as 'let [the earth] bring forth', 'let there be' [Genesis 1:3, 11], but at the restoration it was fitting that all things should be 'delivered'
        to Him, in order that He might be made man, and all things be renewed in Him. For man, being in Him, was quickened: for this was why the Word was united to man, namely that against man the curse might no longer prevail.
        This is the why they record the request made on behalf of mankind in the seventy-first Psalm: 'Give the King Your judgment, O God?' [Psalm 72:1]: asking that both the judgment of death which hung over us may be 
        delivered to the Son, and that He may then, by dying for us, abolish it for us in Himself. This was what He signified, saying Himself, in the eighty-seventh Psalm: 'Your indignation lies hard upon me' [Psalm 88:7]. For
        He bore the indignation which lay upon us, as also He says in the hundred and thirty-seventh: 'Lord, You shall do vengeance for me' [Psalm 137:8].
    </p>
    <br />
    <h2 id="3"><i>3. By 'all things' is meant the redemptive attributes and power of Christ.</i></h2>
    <br />
    <p>
        -
    </p>
    <h2 id="4"><i>4. The text John 16:15, shows clearly the essential relation of the Son to the Father.</i></h2>
    <br />
    <p>
        -
    </p>
    <h2 id="5"><i>5. The same text further explained.</i></h2>
    <br />
    <p>
        -
    </p>
    <h2 id="6"><i>6. The Trisagion wrongly explained by Arians. Its true significance.</i></h2>
    <br />
    <p>
        -
    </p>
}