@page
@model ReformedHistory.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<h1 class="text-3xl font-bold underline">
    Welcome to reformedhistory.com!
</h1>

<div id="result" class="mt-5"></div>

