@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<div>
    <div class="NavigationPanel">
        <form hx-post="/Timeline/Content"
              hx-trigger="change"
              hx-target="#Testing"
              hx-swap="innerHTML">
            
            <div class="NavigationPadding">
                <h1>Filters</h1>

                <h2>Tradition</h2>
                <div class="checkbox">
                    <input id="ReformedCheckbox" name="ReformedCheckbox" type="checkbox" checked value="true">
                    <label for="ReformedCheckbox">Reformed</label>
                </div>
                <div class="checkbox">
                    <input id="LutheranCheckbox" name="LutheranCheckbox" type="checkbox" checked value="true">
                    <label for="LutheranCheckbox">Lutheran</label>
                </div>
                <div class="checkbox">
                    <input id="AnglicanCheckbox" name="AnglicanCheckbox" type="checkbox" checked value="true">
                    <label for="AnglicanCheckbox">Anglican</label>
                </div>
                <br/>

                <h2>Type</h2>
                <div class="checkbox">
                    <input id="DocumentCheckbox" name="DocumentCheckbox" type="checkbox" checked value="true">
                    <label for="DocumentCheckbox">Confessions</label>
                </div>
                <div class="checkbox">
                    <input id="LetterCheckbox" name="LetterCheckbox" type="checkbox" checked value="true">
                    <label for="LetterCheckbox">Letters</label>
                </div>
                <div class="checkbox">
                    <input id="CouncilCheckbox" name="CouncilCheckbox" type="checkbox" checked value="true">
                    <label for="CouncilCheckbox">Councils</label>
                </div>
                <div class="checkbox">
                    <input id="SermonCheckbox" name="SermonCheckbox" type="checkbox" checked value="true">
                    <label for="SermonCheckbox">Sermons</label>
                </div>
                <div class="checkbox">
                    <input id="CatechismCheckbox" name="CatechismCheckbox" type="checkbox" checked value="true">
                    <label for="CatechismCheckbox">Catechisms</label>
                </div>
                <br/>

                <h2>Era</h2>
                <div class="checkbox">
                    <input id="ReformationCheckbox" name="ReformationCheckbox" type="checkbox" checked value="true">
                    <label for="ReformationCheckbox">Reformation</label>
                </div>
                <div class="checkbox">
                    <input id="MedievalCheckbox" name="MedievalCheckbox" type="checkbox" checked value="true">
                    <label for="MedievalCheckbox">Medieval</label>
                </div>
                <div class="checkbox">
                    <input id="AncientCheckbox" name="AncientCheckbox" type="checkbox" checked value="true">
                    <label for="AncientCheckbox">Ancient</label>
                </div>
                <br/>
            </div>
        </form>
    </div>

    <div id="Testing" class="ContentPanel">
        <partial name="Content"/>
    </div>
    
    <style>
        me {
            width: 100%;
            display: flex;
            flex-direction: row;
            font-family: "EB Garamond", serif;
            text-wrap: balance;

            .NavigationPanel {
                position: relative;
                flex-grow: 20;
                flex-shrink: 20;
                flex-basis: 20%;
                max-width: 200px;
                
                form {
                    position: fixed;
                    overflow-y: auto;
                    top: 4.5rem;
                    left: 0;
                    bottom: 0;
                    padding: 0;
                    margin: 0;
                    width: calc(min(350px, 20% + 1rem));
                    max-width: 200px;
                }

                .NavigationPadding {
                    padding: 1rem;
                    padding-top: 0;
                    width: auto;
                }
                
                h1 {
                    font-size: 20pt;
                    margin-bottom: 1rem;
                }
                
                h2 {
                    font-size: 13pt;
                    line-height: 15pt;
                    font-weight: bold;
                    margin-bottom: 3pt;
                    margin-left: 3pt;
                }
                
                .checkbox {
                    margin-left: 16pt;
                    margin-bottom: 4pt;
                    font-size: 13pt;
                    line-height: 15pt;
                    
                    input[type=checkbox] {
                        margin-right: 4pt;
                    }
                    
                    label {
                        user-select: none;
                    }
                }
                
                /*.checkbox {
                    --checkbox-border-width: 1.1px;
                
                    font-family: "EB Garamond", serif;
                    font-size: 13pt;
                    line-height: 1.15;
                    display: grid;
                    grid-template-columns: 1em auto;
                    gap: 0.5em;
                    
                    input[type=checkbox] {
                        appearance: none;                        
                        background-color: #fff; /* For iOS < 15 to remove gradient background */                        
                        margin: 0; /* Not removed via appearance */
                        font: inherit;
                        color: currentColor;
                        width: calc(1em + 2 * var(--checkbox-border-width));
                        height: calc(1em + 2 * var(--checkbox-border-width));
                        border: var(--checkbox-border-width) solid currentcolor;
                        //border-radius: var(--checkbox-border-width);
                        //transform: translateY(calc(-1 * var(--checkbox-border-width)));
                        display: grid;
                        place-content: center;
                    }
                    
                    input[type=checkbox]::before {
                        content: "";
                        width: 0.5em;
                        height: 0.5em;
                        transform: scale(0);
                        //transition: 120ms transform ease-in-out;
                        box-shadow: inset 1em 1em black;
                        //transform-origin: bottom left;
                        //clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                    }
                    
                    input[type=checkbox]:checked::before {
                        transform: scale(1);
                    }
                }*/
            }           

            .ContentPanel {
                flex-grow: 60;
                flex-shrink: 60;
                flex-basis: 60%;
                padding-left: 70pt;
                max-width: 850px;                
            }
        }
    </style>
</div>