@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TimelineFilters

@{
    Layout = "_Layout";

    var model = this.Model;
    if (this.Model is null) {
        model = TimelineFilters.Default;
    }
}

<div class="container">
    <partial name="NavigationPanel" model="model" />

    <div class="ContentPanel">
        <partial name="Content" model="model" />
    </div>
    
    <style>
        .container {
            display: flex;
            flex-direction: row;
            width: 100%;
            font-family: "EB Garamond", serif;
            padding-bottom: 0.25in;
            gap: 20px;
            flex-wrap: nowrap;
        }

        .NavigationPanel {
            flex: 1 1 150px; /* Flex-grow: 1, flex-shrink: 1, base width: 250px */
            max-width: 150px;
            min-width: 100px;
        }

        .ContentPanel {
            flex: 3 1 350px; /* Flex-grow: 3, flex-shrink: 1, base width: 60% */
            max-width: 850px;
            min-width: 350px;
        }

        /* Responsive adjustments */
        @@media (max-width: 600px) {
            .container {
                flex-direction: column;
            }

/*            .NavigationPanel {
                max-width: 100%;
                width: 100%;
                flex-basis: auto;
            }

            .ContentPanel {
                max-width: 100%;
                width: 100%;
                flex-basis: auto;
            }*/
        }
    </style>
</div>
