@{
    this.Layout = "DocumentLayout";
    this.ViewData["Title"] = "Articles of Prague";
}

@section DocumentNavigation {
<h1>Table of Contents</h1>

<ol>
    <li><a href="#Article1">Of the Word of God</a></li>
    <li><a href="#Article2">Of the Eucharist</a></li>
    <li><a href="#Article3">Of the Priests and Monks</a></li>
    <li><a href="#Article4">Of Mortal Sin</a></li>
</ol>
}

@section DocumentDetails {
    <h1>Details</h1>

    <table>
        <tr>
            <td>Author</td>
            <td>Jacob of Mies and followers of John Hus</td>
        </tr>
        <tr>
            <td>Date Written</td>
            <td>1420</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>The Kingdom of Bohemia</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Latin</td>
        </tr>
    </table>
}

@section Title {
    <h1 id="Article1">The Four Articles of Prague</h1>
}

@section DocumentContent {    
    <h2>Article 1</h2>
    <h3>Of the Word of God</h3>
    <br />
    <p>
        The Word of God is to be freely examined by Christian priests throughout the Kingdom of Bohemia and the 
        Margravate of Moravia.
    </p>
    <br />

    <h2 id="Article2">Article 2</h2>
    <h3>Of the Eucharist</h3>
    <br />
    <p>
        The venerable Sacrament of the Body and Blood of Jesus Christ is to be given in two kinds to adults as well as 
        to children, as Jesus Christ has instituted.
    </p>
    <br />

    <h2 id="Article3">Article 3</h2>
    <h3>Of the Priests and Monks</h3>
    <br />
    <p>
        The priests and monks, of whom many meddle with the affairs of the State, are to be deprived of the worldly 
        goods which they possess in great quantities and which make them neglect their sacred office; and their goods 
        shall be restored to us, in order that, in accordance with the doctrine of the Gospel, and the practice of the 
        Apostles, the clergy shall be subject to us, and, living in poverty, serve as a pattern of humility to others.
    </p>
    <br />

    <h2 id="Article4">Article 4</h2>
    <h3>Of Mortal Sin</h3>
    <br />
    <p>
        All the public sins which are called mortal, and all other trespasses contrary to the law of God, are to be 
        punished according to the laws of the country, by those in charge of them, in order to wipe from the Kingdom of 
        Bohemia and the Margravate of Moravia the bad reputation of tolerating disorders.
    </p>
    <br />
}