@{
    Layout = "DocumentLayout";
}

@section DocumentNavigation {
<h1>Table of Contents</h1>

<ol>
    <li><a href="#Article1">Of the Lord's Supper</a></li>
    <li><a href="#Article2">Of the Person of Christ</a></li>
    <li><a href="#Article3">Of Holy Baptism</a></li>
    <li><a href="#Article4">On Predestination</a></li>
    <li><a href="#Article1Errors">Of the False Doctrine of the Calvinists on the Lord's Supper</a></li>
    <li><a href="#Article2Errors">Of the False Doctrine of the Calvinists on the Person of Christ</a></li>
    <li><a href="#Article3Errors">Of the False Doctrine of the Calvinists on Holy Baptism</a></li>
    <li><a href="#Article4Errors">Of the False Doctrine of the Calvinists on Predestination</a></li>
</ol>
}

@section DocumentDetails {
    <h1>Details</h1>

    <table>
        <tr>
            <td>Author</td>
            <td>Aegidius Hunnius</td>
        </tr>
        <tr>
            <td>Date Written</td>
            <td>1592</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>The Electorate of Saxony, Holy Roman Empire</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>German</td>
        </tr>
    </table>
}

@section Title {
    <h1 id="Article1">The Saxon Visitation Articles</h1>
    <h3>For the Electorate and Provinces of Upper Saxony, published A.D. 1592.</h3>
}

@section DocumentContent {
    <h2>Article 1</h2>
    <h3>Of the Lord's Supper</h3>
    <br />
    <ol>
        <li>
            That the words of Christ, “Take and eat, this is my Body”; “Drink, this is my Blood”, are to be understood 
            in the simple and literal sense, as they sound.
        </li>
        <li>
            That, in the Sacrament, there are two things which are exhibited and received together: one, earthly, which 
            is bread and wine; the other, heavenly, which is the body and blood of Christ.
        </li>
        <li>
            That these things (this union, exhibition, and sumption) take place here below on the earth, and not above 
            in heaven.
        </li>
        <li>
            That the true and natural body of Christ which hung on the cross, and the true and natural blood, which 
            flowed from the side of Christ, are exhibited and received.
        </li>
        <li>
            That the body and blood of Christ are received in the Supper, not only spiritually, which might be done out 
            of the Supper; but by the mouth, with the bread and wine; yet in an inscrutable and supernatural manner; 
            and this for a pledge and ascertainment of the resurrection of our bodies from the dead.
        </li>
        <li>
            That the body and blood of Christ are received orally, not only by the worthy, but also by the unworthy, 
            who approach them without repentance and true faith; though with different effect. By the worthy, they are 
            received for salvation; by the unworthy, for judgment.
        </li>
    </ol>
    <br />

    <h2 id="Article2">Article 2</h2>
    <h3>Of the Person of Christ</h3>
    <br />
    <ol>
        <li>
            In Christ there are two distinct natures, the divine and the human. These remain eternally unmixed and 
            inseparable (or undivided).
        </li>
        <li>
            These two natures are personally so united that there is but one Christ and one person.
        </li>
        <li>
            On account of this personal union it is rightly said, and in fact and truth it really is, that God is man, and 
            man is God; that Mary begat the Son of God, and that God redeemed us by his own proper blood.
        </li>
        <li>
            By this personal union, and the exaltation which followed it, Christ, according to the flesh, is placed at the 
            right hand of God, and has received all power in heaven and in earth, and is made partaker of all the divine 
            majesty, honor, power, and glory.
        </li>
    </ol>
    <br />
    
    <h2 id="Article3">Article 3</h2>
    <h3>Of Holy Baptism</h3>
    <br />
    <ol>
        <li>
            That there is but one Baptism, and one Ablution: not that which is used to take away the filth of the body, 
            but that which washes us from our sins.
        </li>
        <li>
            By Baptism, as a bath of the regeneration and renovation of the Holy Ghost, God saves us, and works in us 
            such justice and purgation from our sins, that he who perseveres to the end in that covenant and hope does 
            not perish, but has eternal life.
        </li>
        <li>
            All who are baptized in Jesus Christ are baptized in his death; and by baptism are buried with him in his 
            death, and have put on Christ.
        </li>
        <li>
            Baptism is the bath of regeneration, because in it we are born again, and sealed by the Spirit of adoption 
            through grace (or gratuitously).
        </li>
        <li>
            Unless a person be born again of water and Spirit, he can not enter into the kingdom of heaven. This is not 
            intended, however, for cases of necessity.
        </li>
        <li>
            Whatever is born of the flesh is flesh; and, by nature, all of us are children of divine wrath: because we 
            are born of sinful seed, and we are all born in sin.
        </li>
    </ol>
    <br />

    <h2 id="Article4">Article 4</h2>
    <h3>On Predestination and the Eternal Providence of God</h3>
    <br />
    <ol>
        <li>
            That Christ died for all men, and, as the Lamb of God, took away the sins of the whole world.
        </li>
        <li>
            That God created no man for condemnation; but wills that all men should be saved and arrive at the 
            knowledge of truth. He therefore commands all to hear Christ, his Son, in the gospel; and promises, by his 
            hearing, the virtue and operation of the Holy Ghost for conversion and salvation.
        </li>
        <li>
            That many men, by their own fault, perish: some, who will not hear the gospel concerning Christ; some, who 
            again fall from grace, either by fundamental error, or by sins against conscience.
        </li>
        <li>
            That all sinners who repent will be received into favor; and none will be excluded, though his sins be red 
            as blood; since the mercy of God is greater than the sins of the whole world, and God hath mercy on all his 
            works.
        </li>
    </ol>
    <br />



    <h2 id="Article1Errors">Rejection of Errors: Article 1</h2>
    <h3>The False and Erroneous Doctrine of the Calvinists On the Lord’s Supper</h3>
    <br />
    <ol>
        <li>
            That the before-cited words of Christ are to be understood figuratively, and not according to the letter, 
            as they sound.
        </li>
        <li>
            That bare signs only are in the Supper; but the body of Christ is as far from the bread as the highest
            heaven from the earth.
        </li>
        <li>
            That Christ is present therein, by his virtue and operation only, and not in his body; as the sun, by his 
            splendor and operation, is present and effective on earth; but the body of the sun exists above in heaven.
        </li>
        <li>
            That the body of Christ is therein a typified body, which is only signified and prefigured by the bread and
            wine.
        </li>
        <li>
            That the body is received by faith alone, which raises itself to heaven, and not by the mouth.
        </li>
        <li>
            That the worthy only receive it; that the unworthy, who do have the faith which rises to the heavens, 
            receive nothing besides bread and wine.
        </li>
    </ol>
    <br />

    <h2 id="Article2Errors">Rejection of Errors: Article 2</h2>
    <h3>
        The False and Erroneous doctrine of the Calvinists On the Person of Christ: Which differs, in particular, from
        the Third and Fourth Article of the more pure doctrine.
    </h3>
    <br />
    <ol>
        <li>
            That God is man, and man God, is a figurative mode of speech.
        </li>
        <li>
            That human nature hath communion with the divine, not in fact and truth, but in name and words only.
        </li>
        <li>
            That it is impossible to God, by all his omnipotence, to effect that the natural body of Christ, which is 
            in one place, should, at the same time and instant, be in several.
        </li>
        <li>
            That, according to his human nature, Christ hath, by his exaltation, received only created good and finite 
            power; and doth not know and can not do all things.
        </li>
        <li>
            That, according to his humanity, Christ reigns, where he is absent, as the King of Spain governs his new 
            islands.
        </li>
        <li>
            That it is a damnable idolatry to place the hope and faith of the heart in Christ, not only according to 
            his divine, but also according to his human nature, and to direct the honor of adoration to both.
        </li>
    </ol>
    <br />

    <h2 id="Article3Errors">Rejection of Errors: Article 3</h2>
    <h3>The False and Erroneous doctrine of the Calvinists On Holy Baptism</h3>
    <br />
    <ol>
        <li>
            That Baptism is an external washing of water, by which a certain internal ablution from sin is merely 
            signified.
        </li>
        <li>
            That Baptism does not work nor confer regeneration, faith, the grace of God, and salvation, but only 
            signifies and seals them.
        </li>
        <li>
            That not all who are baptized in water, but the elect only, obtain by it the grace of Christ and the gifts 
            of faith.
        </li>
        <li>
            That regeneration doth not take place in and with Baptism, but afterwards, at a more advanced age— yea, 
            with many not before old age.
        </li>
        <li>
            That salvation doth not depend on Baptism, and therefore in cases of necessity should not be required in 
            the Church; but when the ordinary minister of the Church is wanting, the infant should be permitted to die 
            without Baptism.
        </li>
        <li>
            The infants of Christians are already holy before Baptism in the womb of the mother, and even in the womb
            of the mother are received into the covenant of eternal life: otherwise the Sacrament of Baptism could not
            be conferred on them.
        </li>
    </ol>
    <br />

    <h2 id="Article4Errors">Rejection of Errors: Article 4</h2>
    <h3>The False and Erroneous doctrine of the Calvinists On Predestination and the Providence of God.</h3>
    <br />
    <ol>
        <li>
            That Christ did not die for all men, but only for the elect.
        </li>
        <li>
            That God created the greater part of mankind for eternal damnation, and wills not that the greater part 
            should be converted and live.
        </li>
        <li>
            That the elected and regenerated can not lose faith and the Holy Spirit, or be damned, though they commit 
            great sins and crimes of every kind.
        </li>
        <li>
            That those who are not elect are necessarily damned, and can not arrive at salvation, though they be 
            baptized a thousand times, and receive the Eucharist every day, and lead as blameless a life as ever can 
            be led.
        </li>
    </ol>
    <br />
}