@{
    Layout = "DocumentLayout";
}

@section DocumentNavigation {
    <h1>Table of Contents</h1>

    <ol>
        <li><a href="#Part1">One Thing Is Seen, Another Is Grasped</a></li>
        <li><a href="#Part2">What is the Body of Christ?</a></li>
        <li><a href="#Part3">Doxology</a></li>
    </ol>
}

@section DocumentDetails {
    <h1>Details</h1>

    <table>
        <tr>
            <td>Author</td>
            <td>Augustine of Hippo</td>
        </tr>
        <tr>
            <td>Date Written</td>
            <td>Unknown; ~407—411</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>Unknown</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Latin</td>
        </tr>
    </table>
}

@section DocumentContent {
    <h1 id="Part1">Augustine's Sermon on the Eucharist, Called Sermon #272</h1>
    <h3>
        Wherein Augustine explains that the Eucharist is the body of Christ, that it is grapsed by
        faith, and that it is composed of believers
    </h3>
    <br />

    <h2>One Thing Is Seen, Another Is Grasped</h2>
    What you see on God's altar, you've already observed during the night that has now ended. But you've heard nothing 
    about just what it might be, or what it might mean, or what great thing it might be said to symbolize. For what you 
    see is simply bread and a cup — this is the information your eyes report. But your faith demands far subtler 
    insight: the bread is Christ's body, the cup is Christ's blood. Faith can grasp the fundamentals quickly, 
    succinctly, yet it hungers for a fuller account of the matter. As the prophet says, "Unless you believe, you will 
    not understand" (Isaiah 7:9). So you can say to me, "You urged us to believe; now explain, so we can understand." 
    <br /><br />
    
    Inside each of you, thoughts like these are rising: "Our Lord Jesus Christ, we know the source of his flesh; he 
    took it from the virgin Mary. Like any infant, he was nursed and nourished; he grew; became a youngster; suffered 
    persecution from his own people. To the wood he was nailed; on the wood he died; from the wood, his body was taken 
    down and buried. On the third day (as he willed) he rose; he ascended bodily into heaven whence he will come to 
    judge the living and the dead. There he dwells even now, seated at God's right.
    <br /><br />
    
    So how can bread be his body? And what about the cup? How can it (or what it contains) be his blood?" My friends, 
    these realities are called sacraments because in them one thing is seen, while another is grasped. What is seen is 
    a mere physical likeness; what is grasped bears spiritual fruit.
    <br /><br />

    <h2 id="Part2">What is the Body of Christ?</h2>
    So now, if you want to understand the body of Christ, listen to the Apostle Paul speaking to the faithful: "You are 
    the body of Christ, member for member" (1 Corinthians 12:27). If you, therefore, are Christ's body and members, it 
    is your own mystery that is placed on the Lord's table! It is your own mystery that you are receiving! You are 
    saying "Amen" to what you are: your response is a personal signature, affirming your faith. When you hear "The 
    body of Christ", you reply "Amen." Be a member of Christ's body, then, so that your "Amen" may ring true!
    <br /><br />
    
    But what role does the bread play? We have no theory of our own to propose here; listen, instead, to what Paul says 
    about this sacrament: "The bread is one, and we, though many, are one body" (1 Corinthians 10:17). Understand and 
    rejoice: unity, truth, faithfulness, love. "One bread," he says. What is this one bread? Is it not the "one body," 
    formed from many? Remember: bread doesn't come from a single grain, but from many.
    <br /><br />
    
    When you received exorcism, you were "ground." When you were baptized, you were "leavened." When you received the 
    fire of the Holy Spirit, you were "baked." Be what you see, receive what you are. This is what Paul is saying about 
    the bread. So too, what we are to understand about the cup is similar and requires little explanation. In the 
    visible object of bread, many grains are gathered into one just as the faithful (so Scripture says) form "a single 
    heart and mind in God" (Acts 4:32). And thus it is with the wine. Remember, friends, how wine is made. Individual 
    grapes hang together in a bunch, but the juice from them all is mingled to become a single brew.
    <br /><br />
    
    This is the image chosen by Christ our Lord to show how, at his own table, the mystery of our unity and peace is 
    solemnly consecrated. All who fail to keep the bond of peace after entering this mystery receive not a sacrament 
    that benefits them, but an indictment that condemns them.
    <br /><br />
    
    <h2 id="Part3">Doxology</h2>
    So let us give God our sincere and deepest gratitude, 
    and, as far as human weakness will permit, let us turn to the Lord with pure hearts. With all our strength, let 
    us seek God's singular mercy, for then the Divine Goodness will surely hear our prayers. God's power will drive 
    the Evil One from our acts and thoughts; it will deepen our faith, govern our minds, grant us holy thoughts, and 
    lead us, finally, to share the divine happiness through God's own son Jesus Christ.
    <br /><br />
    
    Amen!
}