@{
    Layout = "DocumentLayout";
}

@section DocumentNavigation {
<h1>Table of Contents</h1>

<ol>
    <li><a href="#Preface">Preface</a></li>
    <li><a href="#Chapter1">Of God</a></li>
    <li><a href="#Chapter2">Of the Creation of Man</a></li>
    <li><a href="#Chapter3">Of Original Sin</a></li>
    <li><a href="#Chapter4">Of the Revelation of the Promise</a></li>
    <li><a href="#Chapter5">The Continuance, Increase, and Preservation of the Kirk</a></li>
    <li><a href="#Chapter6">Of the Incarnation of Christ Jesus</a></li>
    <li><a href="#Chapter7">Why It Behoved the Mediator to be Very God and Very Man</a></li>
    <li><a href="#Chapter8">Election</a></li>
    <li><a href="#Chapter9">Christ's Death, Passion, Burial, etc.</a></li>
    <li><a href="#Chapter10">Resurrection</a></li>
    <li><a href="#Chapter11">Ascensions</a></li>
    <li><a href="#Chapter12">Faith in the Holy Ghost</a></li>
    <li><a href="#Chapter13">The Cause of Good Works</a></li>
    <li><a href="#Chapter14">What Works Are Reputed Good Before God</a></li>
    <li><a href="#Chapter15">The Perfection of the Law and Imperfection of Man</a></li>
    <li><a href="#Chapter16">Of the Kirk</a></li>
    <li><a href="#Chapter17">The Immortality of the Souls</a></li>
    <li><a href="#Chapter18">
        Of the Notes by Which the True Kirk Is Discerned From the False And Who Shall Be Judge of the Doctrine
    </a></li>
    <li><a href="#Chapter19">The Authority of the Scriptures</a></li>
    <li><a href="#Chapter20">Of General Councils, of Their Power, Authority, and Causes of Their Convention</a></li>
    <li><a href="#Chapter21">Of the Sacraments</a></li>
    <li><a href="#Chapter22">Of the Right Administration of the Sacraments</a></li>
    <li><a href="#Chapter23">To Whom Sacraments Appertain</a></li>
    <li><a href="#Chapter24">Of the Civil Magistrate</a></li>
    <li><a href="#Chapter25">The Gifts Freely Given to the Kirk</a></li>
</ol>
}

@section DocumentDetails {
    <h1>Details</h1>

    <table>
        <tr>
            <td>Author</td>
            <td>John Knox</td>
        </tr>
        <tr>
            <td>Date Written</td>
            <td>1560</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>Scotland</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Scots</td>
        </tr>
    </table>
}

@section Title {
    <h1 id="Preface">The Scots Confession</h1>
    <h3>
        The Confession Of Faith Professed And Believed By The Protestants Within The Realm Of Scotland, Published By
        Them In Parliament, And By The Estates Thereof Ratified And Approved, As Wholesome And Sound Doctrine, Grounded
        Upon The Infallible Truth Of God's Word
    </h3>
}

@section DocumentContent {
    <h2>Preface</h2>
    <br />
    <p>
        The Estates Of Scotland, with the inhabitants of the same, professing Christ Jesus his Holy Evangel, To their 
        natural countrymen, and to all other Realms and Nations, professing the same Lord Jesus with them, wish grace, 
        peace, and mercy from God the Father of our Lord Jesus Christ, with the spirit of righteous judgment, for 
        Salutation.
        <br /><br />

        Long have we thirsted, dear Brethren, to have notified unto the world the sum of that doctrine which we 
        profess, and for the which we have sustained infamy and danger. But such has been the rage of Satan against
        us, and against Christ Jesus his eternal verity, lately born amongst us, that to this day no time has been 
        granted unto us to clear our consciences, as most gladly we would have done; for how we have been tossed a 
        whole year past, the most part of Europe (as we suppose) does understand. But seeing that of the infinite 
        goodness of our God (who never suffers his afflicted to be utterly confounded) above expectation we have 
        obtained some rest and liberty, we could not but set forth this brief and plain Confession of such doctrine as
        is proponed unto us, and as we believe and profess, partly for satisfaction of our Brethren, whose hearts we 
        doubt not have been and yet are wounded by the despiteful railing of such as yet have not learned to speak 
        well; and partly for stopping of the mouths of impudent blasphemers, who boldly condemn that which they have 
        neither heard nor yet understand. Not that we judge that the cankered malice of such is able to be cured by 
        this simple Confession: No, we know that the sweet savour of the Evangel is, and shall be, death to the sons 
        of perdition. 
        <br /><br />
        
        But we have chief respect to our weak and infirm brethren, to whom we would communicate the 
        bottom of our hearts, lest that they be troubled or carried away by the diversities of rumours, which Satan 
        spreads against us, to the defecting of this our most godly enterprise; Protesting, that if any man will note 
        in this our Confession any article or sentence repugning to God's holy word, that it would please him of his 
        gentleness, and for Christian charity's sake, to admonish us of the same in writ; and We of our honour and 
        fidelity do promise unto him satisfaction from the mouth of God (that is, from his holy Scriptures), or else 
        reformation of that which he shall prove to be amiss. For God we take to record in our consciences, that from 
        our hearts we abhor all sects of heresy, and all teachers of erroneous doctrine; and that with all humility we 
        embrace the purity of Christ's Evangel, which is the only food of our souls; and therefore so precious unto us,
        that we are determined to suffer the extremity of worldly danger, rather than that we will suffer ourselves to 
        be defrauded of the same. For hereof we are most certainly persuaded, "That whosoever denies Christ Jesus, or 
        is ashamed of him, in presence of men, shall be denied before the Father, and before his holy angels." And 
        therefore by the assistance of the mighty Spirit of the same, our Lord Jesus, we firmly purpose to abide to 
        the end in the Confession of this our Faith as by the articles followeth.
        <br /><br />

        Arise, O Lord, and let thy enemies be confounded: Let them flee from thy presence that hate thy godly name: 
        Give thy Servants strength to speak thy word in boldness; and let all Nations attain to thy true knowledge.
        <br /><br />

        These acts and articles were read in face of parliament, and ratified by the three estates of this realm, at 
        Edinburgh, the seventeen day of August, the year of God 1560.
    </p>
    <br />
    
    <h2 id="Chapter1">Chapter 1</h2>
    <h3>Of God</h3>
    <br />
    <p>
        We confess and acknowledge one only God, to whom only we must cleave, whom only we must serve, whom only we 
        must worship, and in whom only we must put our trust; who is eternal, infinite, unmeasurable, incomprehensible,
        omnipotent, invisible: one in substance, and yet distinct in three persons, the Father, the Son, and the Holy 
        Ghost: By whom we confess and believe all things in heaven and in earth, as well visible as invisible, to have 
        been created, to be retained in their being, and to be ruled and guided by his inscrutable Providence, to such 
        end as his eternal wisdom, goodness, and justice has appointed them, to the manifestation of his own glory.
    </p>
    <br />

    <h2 id="Chapter2">Chapter 2</h2>
    <h3>Of the Creation of Man</h3>
    <br />
    <p>
        We confess and acknowledge this our God to have created Man (to wit, our first father Adam), of whom also God
        formed the Woman to his own image and similitude; to whom he gave wisdom, lordship, justice, free-will, and
        clear knowledge of himself; so that in the whole nature of man there could be noted no imperfection: From which
        honour and perfection man and woman did both fall; the woman being deceived by the Serpent, and man obeying to
        the voice of the woman, both conspiring against the Sovereign Majesty of God, who in expressed words of before
        had threatened death, if they presumed to eat of the forbidden tree.
    </p>
    <br />

    <h2 id="Chapter3">Chapter 3</h2>
    <h3>Of Original Sin</h3>
    <br />
    <p>
        By which transgression, commonly called Original Sin, was the image of God utterly defaced in man; and he and 
        his posterity of nature became enemies to God, slaves to Satan, and servants to sin; in so much that death 
        everlasting has had, and shall have power and dominion over all that has not been, are not, or shall not be 
        regenerate from above: which regeneration is wrought by the power of the Holy Ghost, working in the hearts of
        the elect of God an assured faith in the promise of God, revealed to us in his word; by which faith they 
        apprehend Christ Jesus, with the graces and benefits promised in him.
    </p>
    <br />

    <h2 id="Chapter4">Chapter 4</h2>
    <h3>Of the Revelation of the Promise</h3>
    <br />
    <p>
        For this we constantly believe, that God, after the fearful and horrible defection of man from his obedience, 
        did seek Adam again, call upon him, rebuke his sin, convict him of the same, and in the end made unto him a 
        most joyful promise, to wit, "That the seed of the woman should break down the serpent's head"; that is, he 
        should destroy the works of the Devil. Which promise, as it was repeated and made more clear from time to time, 
        so was it embraced with joy, and most constantly retained of all the faithful, from Adam to Noah, from Noah to 
        Abraham, from Abraham to David, and so forth to the incarnation of Christ Jesus: who all (we mean the faithful 
        Fathers under the law), did see the joyful days of Christ Jesus, and did rejoice.
    </p>
    <br />

    <h2 id="Chapter5">Chapter 5</h2>
    <h3>The Continuance, Increase, and Preservation of the Kirk</h3>
    <br />
    <p>
        We most constantly believe that God preserved, instructed, multiplied, honoured, adorned and from 
        death called to life his Kirk in all ages, from Adam, till the coming of Christ Jesus in the flesh: for 
        Abraham he called from his father's country, him he instructed, his seed he multiplied, the same he 
        marvellously preserved, and more marvellously delivered from the bondage and tyranny of Pharaoh; to them he
        gave his laws, constitutions, and ceremonies; them he possessed in the land of Canaan; to them, after Judges 
        and after Saul, he gave David to be king, to whom he made promise, "That of the fruit of his loins should one
        sit for ever upon his regal seat." To this same people from time to time he sent prophets to lead them back
        to the right way of their God, from the which often times they declined by idolatry. And albeit for their 
        stubborn contempt of justice, he was compelled to give them in the hands of their enemies, as before was 
        threatened by the mouth of Moses, in so much that the holy city was destroyed, the temple burnt with fire, and 
        the whole land left desolate the space of seventy years; yet of mercy did he reduce them again to Jerusalem, 
        where the city and temple were re-edified, and they, against all temptations and assaults of Satan, did abide 
        till the Messiah came, according to the promise.
    </p>
    <br />

    <h2 id="Chapter6">Chapter 6</h2>
    <h3>Of the Incarnation of Christ Jesus</h3>
    <br />
    <p>
        When the fullness of time came, God sent his Son, his Eternal Wisdom, the substance of his own glory, in this
        world, who took the nature of man-hood of the substance of a woman, to wit, of a Virgin, and that by the 
        operation of the Holy Ghost. And so was born the just seed of David, the angel of the great council of God; 
        the very Messiah promised, whom we acknowledge and confess Emanuel; very God and very man, two perfect natures 
        united and joined in one person. By which our confession we condemn the damnable and pestilent heresies 
        of Arius, Marcion, Eutyches, Nestorius, and such others, as either deny the eternity of his Godhead, or the 
        verity of his human nature, either confound them, or yet divide them.
    </p>
    <br />

    <h2 id="Chapter7">Chapter 7</h2>
    <h3>Why It Behoved the Mediator to be Very God and Very Man</h3>
    <br />
    <p>
        We acknowledge and confess that this most wondrous conjunction betwixt the Godhead and the Manhead in Christ 
        Jesus did proceed from the eternal and immutable decree of God, whence also our salvation springs and depends.
    </p>
    <br />

    <h2 id="Chapter8">Chapter 8</h2>
    <h3>Election</h3>
    <br />
    <p>
        For that same Eternal God and Father, who of mere mercy elected us in Christ Jesus his Son, before the
        foundation of the world was laid, appointed him to be our Head, our Brother, our Pastor, and great Bishop of 
        our Souls. But because that the enmity betwixt the justice of God and our sins was such, that no flesh by itself
        could or might have attained unto God, it behoved that the Son of God should descend unto us, and take himself
        a body of our body, flesh of our flesh, and bone of our bones, and so become the perfect Mediator betwixtt God 
        and man; giving power to so many as believe in Him to be the sons of God, as Himself does witness, "I pass up 
        to my Father and unto your Father, to my God and unto your God." By which most holy fraternity, whatsoever we
        have lost in Adam is restored to us again. 
        <br /><br />
        
        And for this cause are we not afraid to call God our Father, not so 
        much in that He has created us (which we have common with the reprobate), as for that He has given to us his 
        only Son to be our brother, and given unto us grace to acknowledge and embrace Him for our only Mediator, as
        before is said. It behoved further the Messiah and Redeemer to be very God and very Man, because He was to 
        underlie the punishment due for our transgressions, and to present Himself in the presence of his Father's 
        judgment, as in our person, to suffer for our transgression and inobedience, by death to overcome him that was 
        author of death. But because the only Godhead could not suffer death, neither could the only Manhead overcome 
        the same, He joined both together in one person, that the imbecility of the one should suffer, and be subject 
        to death (which we had deserved), and the infinite and invincible power of the other, to wit, of the Godhead, 
        should triumph and purchase to us life, liberty, and perpetual victory. And so we confess, and most undoubtedly 
        believe.
    </p>
    <br />

    <h2 id="Chapter9">Chapter 9</h2>
    <h3>Christ's Death, Passion, Burial, etc.</h3>
    <br />
    <p>
        That our Lord Jesus Christ offered Himself a voluntary sacrifice unto his Father for us; that He suffered 
        contradiction of sinners; that He was wounded and plagued for our transgressions; that He being the clean and 
        innocent Lamb of God, was damned in the presence of an earthly judge, that we might be absolved before the 
        tribunal seat of our God; that He suffered not only the cruel death of the cross (which was accursed by the 
        sentence of God), but also that He suffered for a season the wrath of his Father, which sinners had deserved.
        But yet we avow, that He remained the only and well-beloved and blessed Son of his Father, even in the midst 
        of his anguish and torment, which He suffered in body and soul, to make the full satisfaction for the sins of 
        his people. After the which, we confess and avow, that there remains no other sacrifice for sins; which if any 
        affirm, we nothing doubt to avow that they are blasphemers against Christ's death, and the everlasting
        purgation and satisfaction purchased to us by the same.
    </p>
    <br />

    <h2 id="Chapter10">Chapter 10</h2>
    <h3>Resurrection</h3>
    <br />
    <p>
        We undoubtedly believe that insomuch as it was impossible that the dolours of death should retain in bondage 
        the Author of life, that our Lord Jesus Christ crucified, died, and buried, who descended into hell, did rise 
        again for our 
        justification, and destroying of him who was the author of death, brought life again to us that were subject 
        to death and to the bondage of the same. We know that his resurrection was confirmed by the testimony of his 
        very enemies; by the resurrection of the dead, whose sepultures did open, and they did arise and appeared to 
        many within the City of Jerusalem. It was also confirmed by the testimony of his Angels, and by the senses and 
        judgments of his Apostles, and of others, who had conversation, and did eat and drink with Him after his 
        resurrection.
    </p>
    <br />

    <h2 id="Chapter11">Chapter 11</h2>
    <h3>Ascensions</h3>
    <br />
    <p>
        We nothing doubt but that the selfsame body, which was born of the Virgin, was crucified, died, and buried,
        and which did rise again, did ascend into the heavens for the accomplishment of all things; where, in our
        names, and for our comfort He has received all power in heaven and in earth, where He sits at the right hand 
        of the Father inaugurate in his kingdom, advocate and only Mediator for us; which glory, honour, and 
        prerogative He alone amongst the brethren shall possess, till that all his enemies be made his footstool, as 
        that we undoubtedly believe they shall be in the final judgment; to the execution whereof we certainly believe 
        that the same our Lord Jesus shall visibly return, as that He was seen to ascend. And then we firmly believe,
        that the time of refreshing and restitution of all things shall come, in so much that they that from the
        beginning have suffered violence, injury, and wrong for righteousness' sake, shall inherit that blessed 
        immortality promised from the beginning; but contrariwise, the stubborn, inobedient, cruel oppressors, filthy
        persons, adulterers, and all sorts of unfaithful men shall be cast in the dungeon of utter darkness, where 
        their worm shall not die, neither yet their fire shall be extinguished. 
        <br /><br />
        
        The remembrance of the which day, and 
        of the judgment to be executed in the same, is not only to us a bridle whereby our carnal lusts are refrained; 
        but also such inestimable comfort, that neither may the threatening of worldly princes, neither yet the fear of
        temporal death and present danger move us to renounce and forsake that blessed society, which we the members 
        have with our Head and only Mediator Christ Jesus, whom we confess and avow to be the Messiah promised, the 
        only Head of his Kirk, our just Lawgiver, our only High Priest, Advocate, and Mediator. In which honours and 
        offices, if man or angel presume to intrude themselves, we utterly detest and abhor them, as blasphemous to our
        Sovereign and Supreme Governor, Christ Jesus.
    </p>
    <br />

    <h2 id="Chapter12">Chapter 12</h2>
    <h3>Faith in the Holy Ghost</h3>
    <br />
    <p>
        This our Faith, and the assurance of the same, proceeds not from flesh and blood, that is to say, from no 
        natural powers within us, but is the inspiration of the Holy Ghost: Whom we confess God, equal with the Father 
        and with the Son; who sanctifieth us, and bringeth us in all verity by his own operation; without whom we 
        should remain forever enemies to God, and ignorant of his Son, Christ Jesus. For of nature we are so dead, so
        blind and so perverse, that neither can we feel when we are pricked, see the light when it shines, nor assent 
        to the will of God when it is revealed; only the Spirit of the Lord Jesus quickeneth that which is dead, 
        removeth the darkness from our minds, and boweth our stubborn hearts to the obedience of his blessed will. 
        <br /><br />
        
        And
        so as we confess that God the Father created us when we were not; as his Son, our Lord Jesus redeemed us when 
        we were enemies to Him: so also do we confess that the Holy Ghost does sanctify and regenerate us, without all 
        respect of any merit proceeding from us, be it before or be it after our regeneration. To speak this one thing 
        yet in more plain words, as we willingly spoil ourselves of all honour and glory of our own creation and
        redemption, so do we also of our regeneration and sanctification: For of ourselves we are not sufficient to 
        think one good thought; but He who has begun the good work in us, is only He that continueth us in the same,
        to the praise and glory of his undeserved grace.
    </p>
    <br />

    <h2 id="Chapter13">Chapter 13</h2>
    <h3>The Cause of Good Works</h3>
    <br />
    <p>
        So that the cause of Good works we confess to be, not our free will, but the Spirit of the Lord Jesus who, 
        dwelling in our hearts by true faith, brings forth such good works as God hath prepared for us to walk into: 
        for this we most boldly affirm, that blasphemy it is to say that Christ Jesus abides in the hearts of such as
        in whom there is no spirit of Sanctification. 
        <br /><br />
        
        And therefore we fear not to affirm that murderers, oppressors, 
        cruel persecutors, adulterers, whoremongers, filthy persons, idolaters, drunkards, thieves, and all workers of 
        iniquity, have neither true faith, neither any portion of the spirit of Sanctification, which proceedeth from 
        the Lord Jesus, so long as they obstinately continue in their wickedness. For how soon that ever the spirit of
        the Lord Jesus (which God's elect children receive by true faith), takes possession in the heart of any man, 
        so soon does He regenerate and renew the same man; so that he begins to hate that which before he loved, and 
        begins to love that which before he hated; and from thence comes that continual battle which is betwixt the
        flesh and the spirit in God's children; while the flesh and natural man (according to its own corruption) lusts
        for things pleasing and delectable unto the self, grudges in adversity, is lifted up in prosperity, and at 
        every moment is prone and ready to offend the Majesty of God.
        <br /><br />
        
        But the Spirit of God, which giveth witnessing 
        to our spirit, that we are the sons of God, makes us to resist the devil, to abhor filthy pleasures, to groan
        in God's presence for deliverance from this bondage of corruption; and finally, so to triumph over sin that it
        reign not in our mortal bodies. This battle has not the carnal men, being destitute of God's Spirit; but do 
        follow and obey sin with greediness, and without repentance, even as the devil and their corrupt lusts do 
        prick them. But the sons of God (as before is said) do fight against sin, do sob and mourn, when they perceive 
        themselves tempted to iniquity; and if they fall, they rise again with earnest and unfeigned repentance. And 
        these things they do not by their own power, but the power of the Lord Jesus (without whom they were able to 
        do nothing) worketh in them all that is good.
    </p>
    <br />

    <h2 id="Chapter14">Chapter 14</h2>
    <h3>What Works Are Reputed Good Before God</h3>
    <br />
    <p>
        We confess and acknowledge that God has given to man his holy law, in which not only are forbidden all such 
        works which displease and offend his Godly Majesty; but also are commanded all such as please Him, and as He
        hath promised to reward. And these works be of two sorts; the one are done to the honour of God, the other to
        the profit of our neighbours; and both have the revealed will of God for their assurance. 
        <br /><br />
        
        To have one God, to 
        worship and honour Him, to call upon Him in all our troubles, to reverence his holy name, to hear his word, to
        believe the same, and to communicate with his holy sacraments, these are the Works of the First Table.
        <br /><br />
        
        To honour 
        father, mother, princes, rulers, and superior powers, to love them, to support them, yea, to obey their 
        charges (not repugning to the commandment of God), to save the lives of innocents, to repress tyranny, to
        defend the oppressed, to keep our bodies clean and holy, to live in sobriety and temperance, to deal justly
        with all men, both in word and in deed, and, finally, to repress all appetite of our neighbour's hurt, these are 
        the good works of the Second Table, which are most pleasing and acceptable unto God, as those works that are
        commanded by Himself.
        <br /><br />
        
        The contrary whereof is sin most odious which always displeases Him, and provokes Him to 
        anger: not to call upon Him alone when we have need, not to hear his word with reverence, to contemn and 
        despise it, to have or to worship idols, to maintain and defend idolatry, lightly to esteem the reverent name 
        of God, to profane, abuse, or contemn the sacraments of Christ Jesus, to disobey or resist any that God has 
        placed in authority (while they pass not over the bounds of their office), to murder, or to consent thereto,
        to bear hatred, or to suffer innocent blood to be shed if we may gainstand it, and, finally, the transgressing 
        of any other commandment in the First or Second Table, we confess and affirm to be sin, by the which God's hot
        displeasure is kindled against the proud and unthankful world.
        <br /><br />
        
        So that good works we affirm to be these only 
        that are done in faith, and at God's commandment, who in his law has expressed what be the things that please 
        Him. And evil works, we affirm, not only those that are expressedly done against God's commandment, but those 
        also that, in matters of religion and worshipping of God, have no other assurance but the invention and 
        opinion of man, which God from the beginning has ever rejected; as by the prophet Isaiah, and by our master 
        Christ Jesus, we are taught in these words, "In vain do they worship me, teaching the doctrine being precepts
        of men."
    </p>
    <br />

    <h2 id="Chapter15">Chapter 15</h2>
    <h3>The Perfection of the Law and Imperfection of Man</h3>
    <br />
    <p>
        The Law of God we confess and acknowledge most just, most equal, most holy, and most perfect; commanding those
        things which, being wrought in perfection, were able to give life, and able to bring man to eternal felicity. 
        But our nature is so corrupt, so weak, and imperfect, that we are never able to fulfil the works of the Law in
        perfection; yea, "If we say we have no sin (even after we are regenerate), we deceive ourselves, and the verity
        of God is not into us."
        <br /><br />
        
        And therefore it behoved us to apprehend Christ Jesus, with his justice and 
        satisfaction, who is the end and accomplishment of the Law, to all that believe, by whom we are set at this
        liberty, that the curse and malediction of God fall not upon us, albeit that we fulfil not the same in all 
        points. For God the Father beholding us in the body of his Son Christ Jesus, accepteth our imperfect obedience
        as it were perfect, and covereth our works, which are defiled with many spots, with the justice of his Son. We 
        do not mean that we are so set at liberty, that we owe no obedience to the Law (for that before we have plainly
        confessed); but this we affirm, that no man in earth (Christ Jesus only excepted) hath given, giveth, or shall 
        give in work, that obedience to the Law which the Law requireth. But when we have done all things, we must fall
        down and unfeignedly confess, "That we are unprofitable servants." And therefore whosoever boast themselves of 
        the merits of their own works, or put their trust in the works of supererogation, they boast themselves of that
        which is not, and put their trust in damnable idolatry.
    </p>
    <br />

    <h2 id="Chapter16">Chapter 16</h2>
    <h3>Of the Kirk</h3>
    <br />
    <p>
        As we believe in one God, Father, Son, and Holy Ghost, so do we most earnestly believe that from the beginning 
        there has been, now is, and to the end of the world shall be a Church; that is to say, a company and multitude 
        of men chosen of God, who rightly worship and embrace Him, by true faith in Christ Jesus, who is the only Head 
        of the same Kirk, which also is the body and spouse of Christ Jesus; which Kirk is Catholic, that is, 
        universal, because it contains the Elect of all ages, of all realms, nations, and tongues, be they of the Jews, 
        or be they of the Gentiles, who have communion and society with God the Father, and with his Son Christ Jesus, 
        through the sanctification of his Holy Spirit; and therefore it is called the communion, not of profane persons 
        but of saints, who, as citizens of the heavenly Jerusalem, have the fruition of the most inestimable benefits, 
        to wit, of one God, one Lord Jesus, one faith, and of one baptism; out of the which Kirk there is neither life,
        nor eternal felicity.
        <br /><br />
        
        And therefore we utterly abhor the blasphemy of those that affirm that men which live 
        according to equity and justice shall be saved, what religion soever they have professed. For as without Christ 
        Jesus there is neither life nor salvation, so shall there none be participant thereof but such as the Father 
        has given unto his Son Christ Jesus, and those that in time come to Him, avow his doctrine, and believe into 
        Him (we comprehend the children with the faithful parents). This Kirk is invisible, known only to God, who 
        alone knoweth whom He has chosen, and comprehends as well (as said is) the Elect that be departed (commonly 
        called the Kirk Triumphant), as those that yet live and fight against sin and Satan as shall live hereafter.
    </p>
    <br />

    <h2 id="Chapter17">Chapter 17</h2>
    <h3>The Immortality of the Souls</h3>
    <br />
    <p>
        The Elect departed are in peace and rest from their labours; not that they sleep and come to a certain 
        oblivion (as some fantastic heads do affirm), but that they are delivered from all fear, all torment, and 
        all temptation, to which we and all God's elect are subject in this life; and therefore do bear the name of
        the Kirk Militant. As contrariwise, the reprobate and unfaithful departed, have anguish, torment, and pain,
        that cannot be expressed; so that neither are the one nor the other in such sleep that they feel not joy or 
        torment, as the Parable of Christ Jesus in the sixteenth of Luke, his words to the thief, and these words of 
        the souls crying under the altar, "O Lord, thou that art righteous and just, how long shall thou not revenge 
        our blood upon them that dwell upon the earth!" doth plainly testify.
    </p>
    <br />

    <h2 id="Chapter18">Chapter 18</h2>
    <h3>
        Of the Notes by Which the True Kirk Is Discerned From the False And Who Shall Be Judge of the Doctrine
    </h3>
    <br />
    <p>
        Because that Satan from the beginning has laboured to deck his pestilent Synagogue with the title of the Kirk
        of God, and has inflamed the hearts of cruel murderers to persecute, trouble, and molest the true Kirk and 
        members thereof, as Cain did Abel; Ishmael, Isaac; Esau, Jacob; and the whole priesthood of the Jews, Jesus 
        Christ Himself, and his apostles after him; it is a thing most requisite that the true Kirk be discerned from 
        the filthy synagogue, by clear and perfect notes, lest we, being deceived, receive and embrace to our own
        condemnation the one for the other.
        <br /><br />
        
        The notes, signs, and assured tokens whereby the immaculate spouse of 
        Christ Jesus is known from that horrible harlot the Kirk malignant, we affirm are neither antiquity, title 
        usurped, lineal descent, place appointed, nor multitude of men approving an error; for Cain in age and title 
        was preferred to Abel and Seth; Jerusalem had prerogative above all places of the earth, where also were the 
        priests lineally descended from Aaron; and greater multitude followed the Scribes, Pharisees, and Priests, 
        than unfeignedly believed and approved Christ Jesus and his doctrine; and yet (as we suppose) no man of sound 
        judgment will grant that any of the forenamed were the Kirk of God.
        <br /><br />
        
        The Notes, therefore, of the true Kirk of 
        God we believe, confess, and avow to be, first, The true preaching of the word of God; into the which God has 
        revealed himself to us, as the writings of the Prophets and Apostles do declare. Secondly, The right 
        administration of the sacraments of Christ Jesus, which must be annexed to the word and promise of God, to seal 
        and confirm the same in our hearts. Lastly, Ecclesiastical discipline uprightly ministered, as God's word 
        prescribes, whereby vice is repressed, and virtue nourished.
        <br /><br />
        
        Wheresoever then these former notes are seen, and 
        of any time continue (be the number never so few above two or three) there, but all doubt, is the true Kirk 
        of Christ, who according to his promise is in the midst of them: not that universal (of which we have before 
        spoken) but particular; such as was in Corinth, Galatia, Ephesus, and other places in which the ministry was 
        planted by Paul, and were of himself named the Kirks of God. And such Kirks we, the inhabitants of the Realm 
        of Scotland, professors of Christ Jesus, confess us to have in our cities, towns, and places reformed; for the 
        doctrine taught in our kirks is contained in the written word of God, to wit, in the Books of the Old and New
        Testaments.
        <br /><br />
        
        In those books, we mean, which of the ancient have been reputed canonical, in the which we affirm 
        that all things necessary to be believed for the salvation of mankind, is sufficiently expressed; the 
        interpretation whereof, we confess, neither appertained to private nor public person, neither yet to any kirk 
        for any pre-eminence or prerogative, personal or local, which one has above another; but appertained to the 
        Spirit of God, by the which also the Scripture was written.
        <br /><br />
        
        When controversy then happeneth for the right 
        understanding of any place or sentence of Scripture, or for the reformation of any abuse within the Kirk of 
        God, we ought not so much to look what men before us have said or done, as unto that which the Holy Ghost 
        uniformly speaks within the body of the Scriptures, and unto that which Christ Jesus Himself did, and commanded
        to be done. For this is a thing universally granted, that the Spirit of God, which is the Spirit of unity, is 
        in nothing contrarious unto Himself.
        <br /><br />
        
        If then the interpretation, determination, or sentence of any doctor,
        kirk, or council, repugn to the plain word of God written in any other place of the Scripture, it is a thing 
        most certain, that theirs is not the true understanding and meaning of the Holy Ghost, supposing that Councils,
        Realms, and Nations have approved and received the same: For we dare not receive and admit any interpretation 
        which directly repugneth to any principal point of our faith, or to any other plain text of Scripture, or yet 
        unto the rule of charity.
    </p>
    <br />

    <h2 id="Chapter19">Chapter 19</h2>
    <h3>The Authority of the Scriptures</h3>
    <br />
    <p>
        As we believe and confess the Scriptures of God sufficient to instruct and make the man of God perfect, so do 
        we affirm and avow the authority of the same to be of God, and neither to depend on men nor angels. We affirm 
        therefore that such as allege the Scripture to have no other authority, but that which is received from the 
        Kirk, to be blasphemous against God, and injurious to the true Kirk, which always heareth and obeyeth the 
        voice of her own Spouse and Pastor, but taketh not upon her to be mistress over the same.
    </p>
    <br />

    <h2 id="Chapter20">Chapter 20</h2>
    <h3>Of General Councils, of Their Power, Authority, and Causes of Their Convention</h3>
    <br />
    <p>
        As we do not rashly damn that which godly men, assembled together in General Councils, lawfully gathered, have
        approved unto us; so without just examination dare we not receive whatsoever is obtruded unto men, under the
        name of General Councils: for plain it is, that as they were men, so have some of them manifestly erred, and 
        that in matters of great weight and importance. So far then as the Council proveth the determination and 
        commandment that it giveth by the plain word of God, so far do we reverence and embrace the same.
        <br /><br />
        
        But if men,
        under the name of a Council, pretend to forge unto us new articles of our faith, or to make constitutions 
        repugning to the word of God, then utterly we must refuse the same as the doctrine of devils, which draws our 
        souls from the voice of our only God to follow the doctrines and constitutions of men.
        <br /><br />
        
        The cause, then, why 
        that General Councils convened, was neither to make any perpetual law (which God before had not made), neither
        yet to forge new articles of our belief, neither to give the word of God authority, much less to make that to 
        be his word, or yet the true interpretation of the same, which was not before by his holy will expressed in 
        his word.
        <br /><br />
        
        But the cause of Councils (we mean of such as merit the name of Councils), partly for confutation of
        heresies, and for giving public confession of their faith to the posterity following; which both they did by 
        the authority of God's written word, and not by any opinion or prerogative that they could not err, by reason 
        of their General assembly. And this we judge to have been the chief cause of General Councils. The other was 
        for good policy and order to be constituted and observed in the Kirk, in which (as in the house of God) it 
        becomes all things to be done decently and into order. Not that we think that one policy and one order in 
        ceremonies can be appointed for all ages, times, and places; for as ceremonies (such as men has devised) are
        but temporal, so may and ought they to be changed, when they rather foster superstition than that they edify 
        the Kirk using the same.
    </p>
    <br />

    <h2 id="Chapter21">Chapter 21</h2>
    <h3>Of the Sacraments</h3>
    <br />
    <p>
        As the Fathers under the Law, besides the verity of the sacrifices, had two chief Sacraments, to wit, 
        Circumcision and the Passover, the despisers and contemners whereof were not reputed for God's people; so do
        we acknowledge and confess that we now, in the time of the Evangel, have two Sacraments only, instituted by 
        the Lord Jesus, and commanded to be used of all those that will be reputed members of his body, to wit, Baptism
        and the Supper, or Table of the Lord Jesus, called The Communion of his body and blood.
        <br /><br />
        
        And these sacraments 
        (as well of the Old as of the New Testament) were instituted of God, not only to make a visible difference 
        betwixt his people, and those that were without his league; but also to exercise the faith of his children; and
        by participation of the same sacraments, to seal in their hearts the assurance of his promise, and of that
        most blessed conjunction, union, and society, which the Elect have with their head, Christ Jesus.
        <br /><br />
        
        And thus we 
        utterly damn the vanity of those that affirm sacraments to be nothing else but naked and bare signs. No, we 
        assuredly believe that by Baptism we are ingrafted in Christ Jesus to be made partakers of his justice, by the
        which our sins are covered and remitted; and also, that in the Supper, rightly used, Christ Jesus is so joined
        with us, that he becomes the very nourishment and food of our souls.
        <br /><br />
        
        Not that we imagine any transubstantiation 
        of bread into Christ's natural body, and of wine in his natural blood (as the Papists have perniciously taught 
        and damnably believed); but this union and communion which we have with the body and blood of Christ Jesus in 
        the right use of the sacraments, is wrought by operation of the Holy Ghost, who by true faith carries us above
        all things that are visible, carnal, and earthly, and makes us to feed upon the body and blood of Christ Jesus,
        which was once broken and shed for us, which now is in the heaven, and appeareth in the presence of his Father 
        for us.
        <br /><br />
        
        And yet, notwithstanding the far distance of place, which is betwixt his body now glorified in the 
        heaven, and us now mortal in this earth, yet we most assuredly believe, that the bread which we break is the 
        communion of Christ's body, and the cup which we bless is the communion of his blood. So that we confess, and 
        undoubtedly believe, that the faithful, in the right use of the Lord's Table, so do eat the body, and drink the
        blood of the Lord Jesus, that He remaineth in them and they in Him: yea, that they are so made flesh of his 
        flesh, and bone of his bones, that as the Eternal Godhead hath given to the flesh of Christ Jesus (which of 
        its own condition and nature was mortal and corruptible) life and immortality, so doth Christ Jesus his flesh 
        and blood eaten and drunken by us, give to us the same prerogatives.
        <br /><br />
        
        Which, albeit we confess are neither given
        unto us at that only time, neither yet by the proper power and virtue of the Sacraments only; yet we affirm 
        that the faithful in the right use of the Lord's Table have such conjunction with Christ Jesus, as the natural 
        man cannot comprehend: yea, and further we affirm, that albeit the faithful oppressed by negligence, and manly 
        infirmity, do not profit so much as they would at the very instant action of the Supper, yet shall it after 
        bring forth fruit, as lively seed sown in good ground; for the Holy Spirit, which can never be divided from the 
        right institution of the Lord Jesus, will not frustrate the faithful of the fruit of that mystical action.
        <br /><br />
        
        But 
        all this, we say, comes by true faith, which apprehendeth Christ Jesus, who only makes his Sacraments effectual
        unto us; and, therefore, whosoever slandereth us, as that we affirmed or believed Sacraments to be only naked 
        and bare signs, do injury unto us, and speak against a manifest truth. But this liberally and frankly we must 
        confess, that we make a distinction betwixt Christ Jesus, in his natural substance, and betwixt the elements in 
        the Sacramental signs; so that we will neither worship the signs in place of that which is signified by them; 
        neither yet do we despise and interpret them as unprofitable and vain; but do use them with all reverence, 
        examining ourselves diligently before that so we do, because we are assured by the mouth of the Apostle, "That 
        such as eat of that bread, and drink of that cup, unworthily, are guilty of the body and blood of the Lord
        Jesus."
    </p>
    <br />

    <h2 id="Chapter22">Chapter 22</h2>
    <h3>Of the Right Administration of the Sacraments</h3>
    <br />
    <p>
        That Sacraments be rightly ministered, we judge two things requisite: the one, That they be ministered by 
        lawful ministers, whom we affirm to be only they that are appointed to the preaching of the word, or into whose
        mouths God has put some sermon of exhortation, they being men lawfully chosen thereto by some Kirk. The other, 
        That they be ministered in such elements, and in such sort as God hath appointed. Else we affirm, that they 
        cease to be right Sacraments of Christ Jesus.
        <br /><br />
        
        And, therefore, it is, that we flee the society with the 
        Papistical Kirk in participation of their Sacraments; first, because their ministers are no ministers of Christ
        Jesus; yea (which is more horrible) they suffer women, whom the Holy Ghost will not suffer to teach in the 
        congregation, to baptise.
        <br /><br />
        
        And, secondly, Because they have so adulterated, both the one sacrament and the 
        other, with their own inventions, that no part of Christ's action abideth in the original purity; for oil, 
        salt, spittle, and suchlike in baptism, are but men's inventions; adoration, veneration, bearing through 
        streets and towns, and keeping of bread in boxes or chests, are profanation of Christ's Sacraments, 
        and no use of the same: For Christ Jesus said, "Take, eat; Do ye this in remembrance of me." By which 
        words and charge he sanctified bread and wine to be the sacrament of his body and blood; to the end, that the 
        one should be eaten, and that all should drink of the other; and not that they should be kept to be worshipped 
        and honoured as God, as the blind Papists have done heretofore, who also have committed sacrilege, stealing 
        from the people the one part of the Sacrament, to wit, the blessed cup.
        <br /><br />
        
        Moreover, that the Sacraments be 
        rightly used, it is required that the end and cause why the Sacraments were instituted be understood and 
        observed, as well of the minister as of the receivers; for if the opinion be changed in the receiver, the 
        right use ceaseth; which is most evident by the rejection of the sacrifices (as also if the teacher teach false 
        doctrine) which were odious and abominable unto God (albeit they were his own ordinances), because that wicked
        men use them to another end than God hath ordained.
        <br /><br />
        
        The same affirm we of the sacraments in the Papistical 
        Kirk, in which we affirm the whole action of the Lord Jesus to be adulterated, as well in the external form, 
        as in the end and opinion. What Christ Jesus did, and commanded to be done, is evident by the three Evangelists 
        and by Saint Paul. What the priest does at his altar we need not to rehearse. The end and cause of Christ's 
        institution, and why the self-same should be used, is expressed in these words, "Do this in remembrance of 
        me. As oft as ye shall eat of this bread and drink of this cup, ye shall show forth (that is, extol, preach, 
        and magnify), the Lord's death till he come." But to what end, and in what opinion, the priests say their 
        masses, let the words of the same, their own doctors and writings witness, to wit, that they, as mediators 
        betwixt Christ and his Kirk, do offer unto God the Father a sacrifice propitiatory for the sins of the quick
        and the dead. Which doctrine, as blasphemous to Christ Jesus, and making derogation to the sufficiency of his
        only sacrifice, once offered for purgation of all those that shall be sanctified, we utterly abhor, detest, 
        and renounce.
    </p>
    <br />

    <h2 id="Chapter23">Chapter 23</h2>
    <h3>To Whom Sacraments Appertain</h3>
    <br />
    <p>
        We Confess and acknowledge that Baptism appertaineth as well to the infants of the faithful, as to those that
        be of age and discretion. And so we damn the error of the Anabaptists, who deny baptism to appertain to 
        children, before that they have faith and understanding. But the Supper of the Lord, we confess to appertain 
        only to such as have been of the household of faith, and can try and examine themselves, as well in their 
        faith, as in their duty towards their neighbours. Such as eat and drink at that holy table without faith, or 
        being at dissension and division with their brethren, do eat unworthily: and therefore it is, that in our Kirks
        our Ministers take public and particular examination of the knowledge and conversation of such as are to be 
        admitted to the table of the Lord Jesus.
    </p>
    <br />

    <h2 id="Chapter24">Chapter 24</h2>
    <h3>Of the Civil Magistrate</h3>
    <br />
    <p>
        We Confess and acknowledge empires, kingdoms, dominions, and cities to be distincted and ordained by God: the 
        powers and authorities in the same (be it of Emperors in their empires, of Kings in their realms, Dukes and
        Princes in their dominions, or of other Magistrates in free cities), to be God's holy ordinance, ordained for 
        manifestation of his own glory, and for the singular profit and commodity of mankind.
        <br /><br />
        
        So that whosoever goes 
        about to take away or to confound the whole state of civil policies, now long established, we affirm the same
        men not only to be enemies to mankind, but also wickedly to fight against God's expressed will.
        <br /><br />
        
        We further 
        Confess and acknowledge, that such persons as are placed in authority are to be loved, honoured, feared, and 
        held in most reverent estimation; because that they are the lieutenants of God, in whose session God himself
        doth sit and judge (yea even the Judges and Princes themselves), to whom by God is given the sword, to the
        praise and defence of good men, and to revenge and punish all open malefactors.
        <br /><br />
        
        Moreover, to Kings, Princes, 
        Rulers, and Magistrates, we affirm that chiefly and most principally the conservation and purgation of the 
        Religion appertains; so that not only they are appointed for civil policy, but also for maintenance of the 
        true Religion, and for suppressing of idolatry and superstition whatsoever, as in David, Jehoshaphat, Hezekiah,
        Josiah, and others, highly commended for their zeal in that case, may be espied.
        <br /><br />
        
        And therefore we confess and
        avow, that such as resist the supreme power (doing that thing which appertains to his charge), do resist God's
        ordinance, and therefore cannot be guiltless. And further, we affirm, that whosoever deny unto them their aid, 
        counsel, and comfort, while the Princes and Rulers vigilantly travail in the executing of their office, that 
        the same men deny their help, support, and counsel to God, who by the presence of his lieutenant craveth it of 
        them.
    </p>
    <br />

    <h2 id="Chapter25">Chapter 25</h2>
    <h3>The Gifts Freely Given to the Kirk</h3>
    <br />
    <p>
        Albeit that the word of God truly preached, and the Sacraments rightly ministered, and discipline executed 
        according to the word of God, be the certain and infallible signs of the true Kirk; yet do we not so mean, 
        that every particular person joined with such a company, be an elect member of Christ Jesus. For we acknowledge 
        and confess, that darnel, cockle, and chaff may be sown, grow, and in great abundance lie in the midst of the 
        wheat; that is, the reprobate may be joined in the society of the elect, and may externally use with them the 
        benefits of the word and sacraments; but such being but temporal professors in mouth, but not in heart, do fall 
        back and continue not to the end: and therefore have they no fruit of Christ's death, resurrection, nor 
        ascension.
        <br /><br />
        
        But such as with heart unfeignedly believe, and with mouth boldly confess the Lord Jesus (as before 
        we have said), shall most assuredly receive these gifts: First, In this life, remission of sins, and that by 
        faith only in Christ's blood, in so much, that albeit sin remain and continually abide in these our mortal 
        bodies, yet it is not imputed unto us, but is remitted and covered with Christ's justice.
        <br /><br />
        
        Secondly, In the 
        general judgment there shall be given to every man and woman resurrection of the flesh; for the sea shall give 
        her dead, the earth those that therein be inclosed; yea, the Eternal, our God, shall stretch out his hand upon 
        the dust, and the dead shall arise incorruptible, and that in the substance of the selfsame flesh that every 
        man now bears, to receive according to their works, glory or punishment: for such as now delight in vanity, 
        cruelty, filthiness, superstition, or idolatry, shall be adjudged to the fire inextinguishable, in the which 
        they shall be tormented forever, as well in their own bodies, as in their souls, which now they give to serve 
        the devil in all abomination.
        <br /><br />
        
        But such as continue in well doing to the end, boldly professing the Lord Jesus
        we constantly believe, that they shall receive glory, honour, and immortality, to reign forever in life 
        everlasting with Christ Jesus, to whose glorified body all his Elect shall be made like, when He shall appear
        again to judgment, and shall render up the kingdom to God his Father, who then shall be, and ever shall remain 
        all in all things, God blessed forever: To whom, with the Son, and with the Holy Ghost, be all honour and 
        glory, now and ever.
        <br /><br />
        
        Amen.
    </p>
    <br />
}