@{
    Layout = "DocumentLayout";
}

@section DocumentNavigation {
<h1>Table of Contents</h1>

<ol>
    <li><a href="#Chapter1">Of The Apostles' Creed</a></li>
    <li><a href="#Chapter2">Of God</a></li>
    <li><a href="#Chapter3">Of Scripture</a></li>
    <li><a href="#Chapter4">Of the Fall</a></li>
    <li><a href="#Chapter5">Of the Law</a></li>
    <li><a href="#Chapter6">Of Grace</a></li>
    <li><a href="#Chapter7">Of Christ</a></li>
    <li><a href="#Chapter8">Of Christ the Mediator</a></li>
    <li><a href="#Chapter9">Of the Afterlife</a></li>
    <li><a href="#Chapter10">Of Religious Inventions</a></li>
    <li><a href="#Chapter11">Of Distressing Religious Inventions</a></li>
    <li><a href="#Chapter12">Of the Sacraments</a></li>
    <li><a href="#Chapter13">Of the Number of Sacraments</a></li>
    <li><a href="#Chapter14">Of Secular Powers</a></li>
</ol>
}

@section DocumentDetails {
    <h1>Details</h1>

    <table>
        <tr>
            <td>Author</td>
            <td>Peter Waldo</td>
        </tr>
        <tr>
            <td>Date Written</td>
            <td>1180</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>Lyon, France</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Occitan / Provençal</td>
        </tr>
    </table>
}

@section Title {
    <h1 id="Chapter1">The Waldensian Confession</h1>
}

@section DocumentContent {
    <h2>Chapter 1</h2>
    <h3>Of The Apostles' Creed</h3>
    <br />
    <p>
        We believe and firmly maintain all that is contained in the twelve Chapters of the symbol, commonly called the 
        apostles’ creed, and we regard as heretical whatever is inconsistent with the said twelve Chapters.
    </p>
    <br />

    <h2 id="Chapter2">Chapter 2</h2>
    <h3>Of God</h3>
    <br />
    <p>
        We believe that there is one God — the Father, Son, and Holy Spirit.
    </p>
    <br />

    <h2 id="Chapter3">Chapter 3</h2>
    <h3>Of Scripture</h3>
    <br />
    <p>
        We acknowledge for sacred canonical scriptures the books of the Holy Bible. (Here follows the title of each, 
        exactly conformable to our received canon, but which it is deemed, on that account, quite unnecessary to 
        particularize).
    </p>
    <br />

    <h2 id="Chapter4">Chapter 4</h2>
    <h3>Of the Fall</h3>
    <br />
    <p>
        The books above-mentioned teach us: That there is one God, almighty, unbounded in wisdom, and infinite in 
        goodness, and who, in His goodness, has made all things. For He created Adam after His own image and likeness. 
        But through the enmity of the Devil, and his own disobedience, Adam fell, sin entered into the world, and we 
        became transgressors in and by Adam.
    </p>
    <br />

    <h2 id="Chapter5">Chapter 5</h2>
    <h3>Of the Law</h3>
    <br />
    <p>
        That Christ had been promised to the fathers who received the law, to the end that, knowing their sin by the 
        law, and their unrighteousness and insufficiency, they might desire the coming of Christ to make satisfaction 
        for their sins, and to accomplish the law by Himself.
    </p>
    <br />

    <h2 id="Chapter6">Chapter 6</h2>
    <h3>Of Grace</h3>
    <br />
    <p>
        That at the time appointed of the Father, Christ was born — a time when iniquity everywhere abounded, to make 
        it manifest that it was not for the sake of any good in ourselves, for all were sinners, but that He, who is 
        true, might display His grace and mercy towards us.
    </p>
    <br />

    <h2 id="Chapter7">Chapter 7</h2>
    <h3>Of Christ</h3>
    <br />
    <p>
        That Christ is our life, and truth, and peace, and righteousness — our shepherd and advocate, our sacrifice and 
        priest, who died for the salvation of all who should believe, and rose again for their justification.
    </p>
    <br />

    <h2 id="Chapter8">Chapter 8</h2>
    <h3>Of Christ the Mediator</h3>
    <br />
    <p>
        And we also firmly believe, that there is no other mediator, or advocate with God the Father, but Jesus Christ. 
        And as to the Virgin Mary, she was holy, humble, and full of grace; and this we also believe concerning all 
        other saints, namely, that they are waiting in heaven for the resurrection of their bodies at the day of 
        judgment.
    </p>
    <br />

    <h2 id="Chapter9">Chapter 9</h2>
    <h3>Of the Afterlife</h3>
    <br />
    <p>
        We also believe, that, after this life, there are but two places — one for those that are saved, the other for 
        the damned, which we call paradise and hell, wholly denying that imaginary purgatory of Antichrist, 
        invented in opposition to the truth.
    </p>
    <br />

    <h2 id="Chapter10">Chapter 10</h2>
    <h3>Of Religious Inventions</h3>
    <br />
    <p>
        Moreover, we have ever regarded all the inventions of men in the affairs of religion as an unspeakable 
        abomination before God; such as the festival days and vigils of saints, and what is called holy-water, the 
        abstaining from flesh on certain days, and such like things, but above all, the masses.
    </p>
    <br />

    <h2 id="Chapter11">Chapter 11</h2>
    <h3>Of Distressing Religious Inventions</h3>
    <br />
    <p>
        We hold in abhorrence all human inventions, as proceeding from Antichrist, which produce distress (Alluding 
        probably to the voluntary penances and mortification imposed by the Catholics on themselves), and are 
        prejudicial to the liberty of the mind.
    </p>
    <br />

    <h2 id="Chapter12">Chapter 12</h2>
    <h3>Of the Sacraments</h3>
    <br />
    <p>
        We consider the Sacraments as signs of holy things, or as the visible emblems of invisible blessings. We regard 
        it as proper and even necessary that believers use these symbols or visible forms when it can be done. 
        Notwithstanding which, we maintain that believers may be saved without these signs, when they have neither 
        place nor opportunity of observing them.
    </p>
    <br />

    <h2 id="Chapter13">Chapter 13</h2>
    <h3>Of the Number of Sacraments</h3>
    <br />
    <p>
        We acknowledge no sacraments as of divine appointment but baptism and the Lord’s supper.
    </p>
    <br />

    <h2 id="Chapter14">Chapter 14</h2>
    <h3>Of Secular Powers</h3>
    <br />
    <p>
        We honour the secular powers, with subjection, obedience, promptitude, and payment.
    </p>
    <br />
}