@{
    this.Layout = "DocumentLayout";
    this.ViewData["Title"] = "Council of Chalcedon";
}

@section DocumentNavigation {
    <h1>Table of Contents</h1>

    <h2><a href="#EpisleOfLeo">The Epistle of Leo to Flavian</a></h2>
    <br />

    <h2><a href="#Definition">The Chalcedonian Definition</a></h2>
    <br />

    <h2><a href="#Canon1">Canons</a></h2>
    <br />
    <ol>
        <li><a href="#Canon1">Of Past Canons</a></li>
        <li><a href="#Canon2">Of Simony</a></li>
        <li><a href="#Canon3">Of Corruption in the Clergy</a></li>
        <li><a href="#Canon4">Of Monks</a></li>
        <li><a href="#Canon5">Of Wandering Clergy</a></li>
        <li><a href="#Canon6">Of Ordination Without a Charge</a></li>
        <li><a href="#Canon7">Of Clergy in the Military</a></li>
        <li><a href="#Canon8">Of the Jurisdiction of Bishops</a></li>
        <li><a href="#Canon9">Of Disputes Among the Clergy</a></li>
        <li><a href="#Canon10">Of Clergy Enrolled in Two Cities</a></li>
        <li><a href="#Canon11">Of Those in Need Who Travel</a></li>
        <li><a href="#Canon12">Of Dividing Provinces</a></li>
        <li><a href="#Canon13">Of Unknown Clergy</a></li>
        <li><a href="#Canon14">Of the Marriage of Clergy</a></li>
        <li><a href="#Canon15">Of Deaconesses</a></li>
        <li><a href="#Canon16">Of the Marriage of Virgins and Monks</a></li>
        <li><a href="#Canon17">Of Disputes in Outlying Provinces</a></li>
        <li><a href="#Canon18">Of Conspiracy</a></li>
        <li><a href="#Canon19">Of Regular Provincial Synods</a></li>
        <li><a href="#Canon20">Of Receiving Foreign Clergy</a></li>
        <li><a href="#Canon21">Of Examination of Accusers</a></li>
        <li><a href="#Canon22">Of the Death of Bishops</a></li>
        <li><a href="#Canon23">Of Rouge Clergy</a></li>
        <li><a href="#Canon24">Of Monasteries</a></li>
        <li><a href="#Canon25">Of Delayed Ordination of Bishops</a></li>
        <li><a href="#Canon26">Of Stewards in Churches</a></li>
        <li><a href="#Canon27">Of Clergy Who Carry Off Women</a></li>
        <li><a href="#Canon28">Of New Rome</a></li>
        <li><a href="#Canon29">Of Demoting Bishops</a></li>
        <li><a href="#Canon30">Of the Egyptian Bishops</a></li>
    </ol>
    <br />
}

@section DocumentDetails {
    <h1>Details</h1>

    <img src="~/img/Chalcedon.jpg">

    <table>
        <tr>
            <td>Date</td>
            <td>451</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>Chalcedon, Bithynia</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Greek</td>
        </tr>
        <tr>
            <td>Purpose</td>
            <td>To re-assert the two natures of Christ without confusion or seperation</td>
        </tr>
        <tr>
            <td>Notable Persons</td>
            <td>Emperor Marcion, Leo the Great, Eutyches</td>
        </tr>
    </table>
}

@section Title {
    <h1 id="Creed">The Council of Chalcedon</h1>
}

@section DocumentContent {
    <h2 id="EpisleOfLeo">The Epistle of Leo to Flavian</h2>
    <br />
    <p>
        The epistle of Pope Leo the Great to Flavian describing how to speak of Christ's two natures can be found
        below:
        <br /><br />

        <a href="~/Content/Letters/LeoToFlavian">The Episle of Leo to Flavian</a>
    </p>
    <br />
    
    <h2 id="Definition">The Chalcedonian Definition</h2>
    <br />
    <p>
        Following the holy Fathers we teach with one voice that the Son of God and our Lord Jesus Christ is to be confessed
        as one and the same person, that he is perfect in Godhead and perfect in manhood, very God and very man, consisting of a
        rational soul and human body, consubstantial with the Father as touching his Godhead, and
        consubstantial with us as touching his manhood; made in all things like unto us, sin only excepted; begotten
        of his Father before the worlds according to his Godhead; but in these last days for us men and for our
        salvation born into the world of the Virgin Mary, the Mother of God according to his manhood. This one and the
        same Jesus Christ, the only-begotten Son of God must be confessed to be in two natures, unconfusedly,
        immutably, indivisibly, distinctly, inseparably, and that without the distinction of natures being taken
        away by such union, but rather the peculiar property of each nature being preserved and being united in one Person
        and subsistence, not separated or divided into two persons, but one and the same Son and only-begotten, God the Word,
        our Lord Jesus Christ, as the Prophets of old time have spoken concerning him, and as the Lord Jesus Christ has
        taught us, and as the Creed of the Fathers has delivered to us.
        <br /><br />

        These things, therefore, having been expressed by us with the greatest accuracy and attention, the holy ecumenical
        synod defines that no one shall be suffered to bring forward a different faith, nor to write, nor
        to put together, nor to plan, nor to teach it to others. But such as dare either to put together another
        faith, or to bring forward or to teach or to deliver a different Creed, such wish to be converted
        to the knowledge of the truth, from the Gentiles, or Jews or any heresy whatever, if they be Bishops or clerics
        let them be deposed, the Bishops from the Episcopate, and the clerics from the clergy; but if they be monks or
        laity: let them be anathematized.
    </p>
    <br />

   

    <h2 id="Canon1">Canon 1</h2>
    <h3>Of Past Canons</h3>
    <br />
    <p>
        We have judged it fight that the canons of the Holy Fathers made in every synod even until now should remain in force.
    </p>
    <br />

    <h2 id="Canon2">Canon 2</h2>
    <h3>Of Simony</h3>
    <br />
    <p>
        If any bishop should ordain for money, and put to sale a grace which cannot be sold, and for money ordain a bishop,
        or presbyters, or deacons, or any other of those who are counted among the clergy; or if through
        lust of gain he should nominate for money a steward, or advocate, or anyone whatever who is on the
        roll of the Church, let him who is convicted of this forfeit his own rank; and let him who is ordained be nothing
        profited by the purchased ordination or promotion; but let him be removed from the dignity or charge he has obtained
        for money. And if any one should be found negotiating such shameful and unlawful transactions, let him also, if he is
        a clergyman, be deposed from his rank, and if he is a layman or monk, let him be anathematized.
    </p>
    <br />

    <h2 id="Canon3">Canon 3</h2>
    <h3>Of Corruption in the Clergy</h3>
    <br />
    <p>
        It has come to the knowledge of the holy synod that certain of those who are enrolled among the clergy have,
        through lust of gain, become hirers of other men's possessions, and make contracts pertaining to secular affairs,
        lightly esteeming the service of God, and slip into the houses of secular persons, whose property they undertake
        through covetousness to manage. Wherefore the great and holy Synod decrees that henceforth no bishop, clergyman,
        nor monk shall hire possessions, or engage in business, or occupy himself in worldly engagements, unless he shall
        be called by the law to the guardianship of minors, from which there is no escape; or unless the bishop of the city
        shall commit to him the care of ecclesiastical business, or of unprovided orphans or widows and of persons who stand
        especially in need of the Church's help, through the fear of God. And if any one shall hereafter transgress these
        decrees, he shall be subjected to ecclesiastical penalties.
    </p>
    <br />

    <h2 id="Canon4">Canon 4</h2>
    <h3>Of Monks</h3>
    <br />
    <p>
        Let those who truly and sincerely lead the monastic life be counted worthy of becoming honor; but,
        forasmuch as certain persons using the pretext of monasticism bring confusion both upon the churches and
        into political affairs by going about promiscuously in the cities, and at the same time seeking to establish
        monasteries for themselves: it is decreed that no one anywhere build or found a monastery or oratory contrary
        to the will of the bishop of the city; and that the monks in every city and district shall be subject to the
        bishop, and embrace a quiet course of life, and give themselves only to fasting and prayer, remaining permanently
        in the places in which they were set apart; and they shall meddle neither in ecclesiastical nor in secular affairs,
        nor leave their own monasteries to take part in such; unless, indeed, they should at any time through urgent
        necessity be appointed thereto by the bishop of the city. And no slave shall be received into any monastery to
        become a monk against the will of his master. And if any one shall transgress this our judgment, we have decreed
        that he shall be excommunicated, that the name of God be not blasphemed. But the bishop of the city must make the
        needful provision for the monasteries.
    </p>
    <br />

    <h2 id="Canon5">Canon 5</h2>
    <h3>Of Wandering Clergy</h3>
    <br />
    <p>
        Concerning bishops or clergymen who go about from city to city, it is decreed that the canons enacted by the holy
        fathers shall still retain their force.
    </p>
    <br />

    <h2 id="Canon6">Canon 6</h2>
    <h3>Of Ordination Without a Charge</h3>
    <br />
    <p>
        Neither presbyter, deacon, nor any of the ecclesiastical order shall be ordained at large, nor unless the person
        ordained is particularly appointed to a church in a city or village, or to a martyry, or to a monastery. And if
        any have been ordained without a charge, the holy Synod decrees, to the reproach of the ordainer, that such an
        ordination shall be inoperative, and that such shall nowhere be suffered to officiate.
    </p>
    <br />

    <h2 id="Canon7">Canon 7</h2>
    <h3>Of Clergy in the Military</h3>
    <br />
    <p>
        We have decreed that those who have once been enrolled among the clergy, or have been made monks, shall accept
        neither a military charge nor any secular dignity; and if they shall presume to do so and not repent in such wise
        as to turn again to that which they had first chosen for the love of God, they shall be anathematized.
    </p>
    <br />

    <h2 id="Canon8">Canon 8</h2>
    <h3>Of the Jurisdiction of Bishops</h3>
    <br />
    <p>
        Let the clergy of the poor-houses, monasteries, and martyries remain under the authority of the bishops in every city
        according to the tradition of the holy fathers; and let no one arrogantly cast off the rule of his own bishop; and if
        any shall contravene this canon in any way whatever, and will not be subject to their own bishop, if they be clergy,
        let them be subjected to canonical censure, and if they be monks or laymen, let them be excommunicated.
    </p>
    <br />

    <h2 id="Canon9">Canon 9</h2>
    <h3>Of Disputes Among the Clergy</h3>
    <br />
    <p>
        If any clergyman have a matter against another clergyman, he shall not forsake his bishop and run to secular courts;
        but let him first lay open the matter before his own Bishop, or let the matter be submitted to any person whom each
        of the parties may, with the Bishop's consent, select. And if any one shall contravene these decrees, let him be
        subjected to canonical penalties. And if a clergyman have a complaint against his own or any other bishop, let it
        be decided by the synod of the province. And if a bishop or clergyman should have a difference with the metropolitan
        of the province, let him have recourse to the exarch of the diocese, or to the throne of the imperial city of
        Constantinople, and there let it be tried.
    </p>
    <br />

    <h2 id="Canon10">Canon 10</h2>
    <h3>Of Clergy Enrolled in Two Cities</h3>
    <br />
    <p>
        It shall not be lawful for a clergyman to be at the same time enrolled in the churches of two cities, that is, in the
        church in which he was at first ordained, and in another to which, because it is greater, he has removed from lust
        of empty honour. And those who do so shall be returned to their own church in which they were originally ordained,
        and there only shall they minister. But if any one has heretofore been removed from one church to another, he shall
        not intermeddle with the affairs of his former church, nor with the martyries, almshouses, and hostels belonging to
        it. And if, after the decree of this great and ecumenical synod, any shall dare to do any of these things now
        forbidden, the synod decrees that he shall be degraded from his rank.
    </p>
    <br />

    <h2 id="Canon11">Canon 11</h2>
    <h3>Of Those in Need Who Travel</h3>
    <br />
    <p>
        We have decreed that the poor and those needing assistance shall travel, after examination, with letters merely
        pacifical from the church, and not with letters commendatory, inasmuch as commendatory letters ought to be given only
        to persons who are open to suspicion.
    </p>
    <br />

    <h2 id="Canon12">Canon 12</h2>
    <h3>Of Dividing Provinces</h3>
    <br />
    <p>
        It has come to our knowledge that certain persons, contrary to the laws of the church, having had recourse to secular
        powers, have by means of imperial rescripts divided one province into two, so that there are consequently two
        metropolitans in one province; therefore the holy synod has decreed that for the future no such thing shall be
        attempted by a bishop, since he who shall undertake it shall be degraded from his rank. But the cities which have
        already been honoured by means of imperial letters with the name of metropolis, and the bishops in charge of them,
        shall take the bare title, all metropolitan rights being preserved to the true metropolis.
    </p>
    <br />

    <h2 id="Canon13">Canon 13</h2>
    <h3>Of Unknown Clergy</h3>
    <br />
    <p>
        Strange and unknown clergymen without letters commendatory from their own bishop, are absolutely prohibited from
        officiating in another city.
    </p>
    <br />

    <h2 id="Canon14">Canon 14</h2>
    <h3>Of the Marriage of Clergy</h3>
    <br />
    <p>
        Since in certain provinces it is permitted to the readers and singers to marry, the holy synod has decreed that it
        shall not be lawful for any of them to take a wife that is heterodox. But those who have already begotten children
        of such a marriage, if they have already had their children baptized among the heretics, must bring them into the
        communion of the catholic church; but if they have not had them baptized, they may not hereafter baptize them
        among heretics, nor give them in marriage to a heretic, or a Jew, or a heathen, unless the person marrying the
        orthodox child shall promise to come over to the orthodox faith. And if any one shall transgress this decree of
        the holy synod, let him be subjected to canonical censure.
    </p>
    <br />

    <h2 id="Canon15">Canon 15</h2>
    <h3>Of Deaconesses</h3>
    <br />
    <p>
        A woman shall not receive the laying on of hands as a deaconess under forty years of age, and then only after
        searching examination. And if, after she has had hands laid on her and has continued for a time to minister, she
        shall despise the grace of God and give herself in marriage, she and the man united to her shall be anathematized .
    </p>
    <br />

    <h2 id="Canon16">Canon 16</h2>
    <h3>Of the Marriage of Virgins and Monks</h3>
    <br />
    <p>
        It is not lawful for a virgin who has dedicated herself to the Lord God, nor for monks, to marry; and if they are
        found to have done this, let them be excommunicated. But we decree that in every place the bishop shall have the
        power of indulgence towards them.
    </p>
    <br />

    <h2 id="Canon17">Canon 17</h2>
    <h3>Of Disputes in Outlying Provinces</h3>
    <br />
    <p>
        Outlying or rural parishes shall in every province remain subject to the bishops who now have jurisdiction over them,
        particularly if the bishops have peaceably and continuously governed them for the space of thirty years. But if
        within thirty years there has been, or is, any dispute concerning them, it is lawful for those who hold themselves
        aggrieved to bring their cause before the synod of the province. And if any one be wronged by his metropolitan,
        let the matter be decided by the exarch of the diocese or by the throne of Constantinople, as aforesaid. And if
        any city has been, or shall hereafter be newly erected by imperial authority, let the order of the ecclesiastical
        parishes follow the political and municipal example.
    </p>
    <br />

    <h2 id="Canon18">Canon 18</h2>
    <h3>Of Conspiracy</h3>
    <br />
    <p>
        The crime of conspiracy or banding together is utterly prohibited even by the secular law, and much more ought it
        to be forbidden in the church of God. Therefore, if any, whether clergymen or monks, should be detected in
        conspiring or banding together, or hatching plots against their bishops or fellow-clergy, they shall by all means
        be deposed from their own rank.
    </p>
    <br />

    <h2 id="Canon19">Canon 19</h2>
    <h3>Of Regular Provincial Synods</h3>
    <br />
    <p>
        Whereas it has come to our ears that in the provinces the canonical synods of bishops are not held, and that on this
        account many ecclesiastical matters which need reformation are neglected; therefore, according to the canons of the
        holy fathers, the holy synod decrees that the bishops of every province shall twice in the year assemble together
        where the bishop of the Metropolis shall approve, and shall then settle whatever matters may have arisen. And
        bishops, who do not attend, but remain in their own cities, though they are in good health and free from any
        unavoidable and necessary business, shall receive a brotherly admonition.
    </p>
    <br />

    <h2 id="Canon20">Canon 20</h2>
    <h3>Of Receiving Foreign Clergy</h3>
    <br />
    <p>
        It shall not be lawful, as we have already decreed, for clergymen officiating in one church to be appointed to the
        church of another city, but they shall cleave to that in which they were first thought worthy to minister; those,
        however, being excepted, who have been driven by necessity from their own country, and have therefore removed to
        another church. And if, after this decree, any bishop shall receive a clergyman belonging to another bishop, it
        is decreed that both the received and the receiver shall be excommunicated until such time as the clergyman who
        has removed shall have returned to his own church.
    </p>
    <br />

    <h2 id="Canon21">Canon 21</h2>
    <h3>Of Examination of Accusers</h3>
    <br />
    <p>
        Clergymen and laymen bringing charges against bishops or clergymen are not to be received loosely and without
        examination, as accusers, but their own character shall first be investigated.
    </p>
    <br />

    <h2 id="Canon22">Canon 22</h2>
    <h3>Of the Death of Bishops</h3>
    <br />
    <p>
        It is not lawful for clergymen, after the death of their bishop, to seize what belongs to him, as has been forbidden
        also by the ancient canons; and those who do so shall be in danger of degradation from their own rank.
    </p>
    <br />

    <h2 id="Canon23">Canon 23</h2>
    <h3>Of Rouge Clergy</h3>
    <br />
    <p>
        It has come to the hearing of the holy synod that certain clergymen and monks, having no authority from their own
        bishop, and sometimes, indeed, while under sentence of excommunication by him, betake themselves to the imperial
        Constantinople, and remain there for a long time, raising disturbances and troubling the ecclesiastical state,
        and turning men's houses upside down. Therefore the holy Synod has determined that such persons be first notified by
        the advocate of the most holy church of Constantinople to depart from the imperial city; and if they shall shamelessly
        continue in the same practices, that they shall be expelled by the same advocate even against their will, and
        return to their own places.
    </p>
    <br />

    <h2 id="Canon24">Canon 24</h2>
    <h3>Of Monasteries</h3>
    <br />
    <p>
        Monasteries, which have once been consecrated with the consent of the bishop, shall remain monasteries forever,
        and the property belonging to them shall be preserved, and they shall never again become secular dwellings. And they
        who shall permit this to be done shall be liable to ecclesiastical penalties.
    </p>
    <br />

    <h2 id="Canon25">Canon 25</h2>
    <h3>Of Delayed Ordination of Bishops</h3>
    <br />
    <p>
        Forasmuch as certain of the metropolitans, as we have heard, neglect the flocks committed to them, and delay the
        ordinations of bishops the holy Synod has decided that the ordinations of bishops shall take place within three
        months, unless an inevitable necessity should some time require the term of delay to be prolonged. And if he shall
        not do this, he shall be liable to ecclesiastical penalties, and the income of the widowed church shall be kept
        safe by the steward of the same Church.
    </p>
    <br />

    <h2 id="Canon26">Canon 26</h2>
    <h3>Of Stewards in Churches</h3>
    <br />
    <p>
        Forasmuch as we have heard that in certain churches the bishops managed the church-business without stewards, it
        has seemed good that every church having a bishop shall have also a steward from among its own clergy, who shall
        manage the church business under the sanction of his own bishop; that so the administration of the church may not
        be without a witness; and that thus the goods of the church may not be squandered, nor reproach be brought upon
        the priesthood; and if the bishop will not do this, he shall be subjected to the divine canons.
    </p>
    <br />

    <h2 id="Canon27">Canon 27</h2>
    <h3>Of Clergy Who Carry Off Women</h3>
    <br />
    <p>
        The holy Synod has decreed that those who forcibly carry off women under pretence of marriage, and the alders or
        abettors of such ravishers, shall be degraded if clergymen, and if laymen be anathematized.
    </p>
    <br />

    <h2 id="Canon28">Canon 28</h2>
    <h3>Of New Rome</h3>
    <br />
    <p>
        Following in all things the decisions of the holy Fathers, and acknowledging the canon, which has been just read, of
        the One Hundred and Fifty Bishops beloved-of-God (who assembled in the imperial city of Constantinople, which is new
        Rome, in the time of the Emperor Theodosius of happy memory), we also do enact and decree the same things concerning
        the privileges of the most holy Church of Constantinople, which is new Rome. For the Fathers rightly granted
        privileges to the throne of old Rome, because it was the royal city. And the one hundred and fifty most religious
        bishops, actuated by the same consideration, gave equal privileges to the most holy throne of new
        Rome, justly judging that the city which is honoured with the sovereignty and the senate, and enjoys equal privileges
        with the old imperial Rome, should in ecclesiastical matters also be magnified as she is, and rank next after her;
        so that, in the Pontic, the Asian, and the Thracian dioceses, the metropolitans only and such bishops also of the
        Dioceses aforesaid as are among the barbarians, should be ordained by the aforesaid most holy throne of the most
        holy church of Constantinople; every metropolitan of the aforesaid dioceses, together with the bishops of his
        province, ordaining his own provincial bishops, as has been declared by the divine canons; but that, as has been
        above said, the metropolitans of the aforesaid Dioceses should be ordained by the archbishop of Constantinople,
        after the proper elections have been held according to custom and have been reported to him.
    </p>
    <br />

    <h2 id="Canon29">Canon 29</h2>
    <h3>Of Demoting Bishops</h3>
    <br />
    <p>
        It is sacrilege to degrade a bishop to the rank of a presbyter; but, if they are for just cause removed from
        episcopal functions, neither ought they to have the position of a presbyter; and if they have been displaced without
        any charge, they shall be restored to their episcopal dignity.
        <br /><br />
        
        And Anatolius, the most reverend archbishop of Constantinople, said: If those who are alleged to have been removed
        from the episcopal dignity to the order of presbyter, have indeed been condemned for any sufficient causes, clearly
        they are not worthy of the honour of a presbyter. But if they have been forced down into the lower rank without just
        cause, they are worthy, if they appear guiltless, to receive again both the dignity and priesthood of the episcopate.
        <br /><br />
        
        And all the most reverend bishops cried out: The judgment of the fathers is right. We all say the same. The fathers
        have righteously decided. Let the sentence of the archbishops prevail.
        <br /><br />

        And the most magnificent and glorious judges said: Let the pleasure of the holy synod be established for all time.
    </p>
    <br />

    <h2 id="Canon30">Canon 30</h2>
    <h3>Of the Egyptian Bishops</h3>
    <br />
    <p>
        Since the most religious bishops of Egypt have postponed for the present their subscription to the letter of the most
        holy archbishop Leo, not because they oppose the catholic faith, but because they declare that it is the custom in the
        Egyptian diocese to do no such thing without the consent and order of their archbishop, and ask to be excused until
        the ordination of the new bishop of the metropolis of Alexandria, it has seemed to us reasonable and kind that this
        concession should be made to them, they remaining in their official habit in the imperial city until the archbishop
        of the metropolis of Alexandria shall have been ordained.
        <br /><br />

        And the most religious bishop Paschasinus, representative of the Apostolic throne for Rome, said: If your
        authority suggests and commands that any indulgence be shewn to them, let them give securities that they will not
        depart from this city until the city of Alexandria receives a bishop.
        <br /><br />

        And the most magnificent and glorious judges, and the whole senate, said: Let the sentence of the most holy
        Paschasinus be confirmed.
        <br /><br />

        And therefore let the most religious bishops of the Egyptians remain in their official habit, either
        giving securities, if they can, or being bound by the obligation of an oath.
    </p>
    <br />
}