@{
    this.Layout = "DocumentLayout";
    this.ViewData["Title"] = "The Council of Ephesus";
}

@section DocumentNavigation {
    <h1>Table of Contents</h1>

    <h2><a href="#LettersOfCyril">The Epistles of Cyril to Nestorius</a></h2>
    <br />

    <h2><a href="#LetterFromCelestine">The Letter of Pope Celestine to the Council</a></h2>
    <br />
    
    <h2><a href="#DecreeOnNestorius">The Decree of the Council Against Nestorius</a></h2>
    <br />

    <h2><a href="#12Anathemas">The 12 Anathemas Against Nestorius</a></h2>
    <br />

    <h2><a href="#Canon1">Canons</a></h2>
    <br />
    <ol>
        <li><a href="#Canon1">Of Bishops Following Celestius</a></li>
        <li><a href="#Canon2">Of Bishops Following Nestorius</a></li>
        <li><a href="#Canon3">Of Orthodox Clergy</a></li>
        <li><a href="#Canon4">Of Heterodox Clergy</a></li>
        <li><a href="#Canon5">Of Deposed Clergy</a></li>
        <li><a href="#Canon6">Of Those who Ignore the Synod</a></li>
        <li><a href="#Canon7">Of Those Of a Different Faith</a></li>
        <li><a href="#Canon8">Of the Rights of Provinces</a></li>
    </ol>
    <br />

    <h2><a href="#LetterToCelestine">The Letter of the Council to Pope Celestine</a></h2>
    <br />
}

@section DocumentDetails {
    <h1>Details</h1>

    <img src="~/img/Ephesus.jpg">

    <table>
        <tr>
            <td>Date</td>
            <td>431</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>Ephesus, Greece</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Greek</td>
        </tr>
        <tr>
            <td>Purpose</td>
            <td>To reject the teachings of Nestorius and affirm Mary as the Mother of God</td>
        </tr>
    </table>
}

@section Title {
    <h1 id="Creed">The Council of Ephesus</h1>
}

@section DocumentContent {
    <h2 id="LettersOfCyril">The Epistles of Cyril to Nestorius</h2>
    <br />
    <p>
        Two epistles of Cyril to Nestorius outlining orthodox Christology were read and approved by the council, and 
        can be found below:
        <br /><br />
        
        <a href="~/Content/Letters/CyrilToNestorius1">The First Epistle of Cyril to Nestorius</a>
        <br /><br />
        
        <a href="~/Content/Letters/CyrilToNestorius2">The Second Epistle of Cyril to Nestorius</a>
    </p>
    <br />

    <h2 id="LetterFromCelestine">The Letter of Pope Celestine to the Council</h2>
    <br />
    <p>
        A Synod of priests gives witness to the presence of the Holy Spirit. For true is that which we read, since the Truth
        cannot lie, to wit, the promise of the Gospel; "Where two or three are gathered together in my name, there am I in the
        midst of them." And since it is so, if the Holy Spirit is not absent from so small a number how much more may we
        believe he is present when so great a multitude of holy ones are assembled together! Every council is holy on account
        of a peculiar veneration which is its due; for in every such council we are to regard the reverence which should be
        paid to that most famous council of the Apostles.
        <br /><br />

        Never was the Master, whom they had received
        to preach, lacking to this, but ever was present as Lord and Master; and never were those who taught deserted by their
        teacher. For he that had sent them was their teacher; he who had commanded what was to be taught, was their teacher;
        he who affirms that he himself is heard in his Apostles, was their teacher. This duty of preaching has been entrusted
        to all the Lord's priests in common, for by right of inheritance we are bound to undertake this solicitude, whoever of
        us preach the name of the Lord in many lands in their stead, for he said to them, "Go, teach all nations." You, dear
        brethren, should observe that we have received a general command: for he wills that all of us should perform that
        office, which he entrusted in common to all the Apostles. We must follow our predecessors. Let us all,
        then, undertake their labours, since we are the successors in their honour. And we show forth our diligence in
        preaching the same doctrines that they taught, beside which, according to the admonition of the Apostle, we are
        forbidden to add anything. For the office of keeping what is committed to our trust is no less dignified than that of
        handing it down.
        <br /><br />

        They sowed the seed of the faith. This shall be our care that the coming of our great father of the family, to whom
        alone assuredly this fullness of the Apostles is assigned, may find fruit uncorrupt and many-fold. For the vase of
        election tells us that it is not sufficient to plant and to water unless God gives the increase. We must strive
        therefore in common to keep the faith which has come down to us today, through the apostolic succession. For we are
        expected to walk according to the Apostle.
        <br /><br />

        For now not our appearance but our faith is called in question.
        Spiritual weapons are those we must take, because the war is one of minds, and the weapons are words; so shall we be
        strong in the faith of our King. Now the Blessed Apostle Paul admonishes that all should remain in that place in which
        he bid Timothy remain. The same place therefore, the same cause, lays upon us the same duty. Let us now also do and
        study that which he then commanded him to do. And let no one think otherwise, and let no one pay heed to over strange
        fables, as he himself ordered.
        <br /><br />

        Let us be unanimous thinking the same thing, for this is expedient: let us do nothing
        out of contention, nothing out of vain glory; let us be in all things of one mind, of one heart, when the faith which
        is one, is attacked. Let the whole body grieve and mourn in common with us. He who is to judge the world is called into
        judgment; he who is to criticise all, is himself made the object of criticism; he who redeemed us is made to suffer
        calumny. Dear Brethren, gird yourselves with the armour of God. You know what helmet must protect our head, what breast-plate
        our breast. For this is not the first time the ecclesiastical camps have received you as their rulers. Let no one doubt
        that by the favour of the Lord who makes two to be one, there will be peace, and that arms will be laid aside since
        the very cause defends itself.
        <br /><br />

        Let us look once again at these words of our Doctor, which he uses with express reference to bishops, saying, "Take
        heed to yourselves and to the whole flock, over which the Holy Ghost has placed you as bishop, that you rule the church
        of God, which he has purchased with his blood" (Acts 20:28). We read that they who heard this at Ephesus, the same place at
        which your holiness is come together, were called from there. To them therefore to whom this preaching of the faith was
        known, to them also let your defence of the same
        faith be known. Let us show them the constancy of our mind with that reverence which is due to matters of great
        importance; which things peace has guarded for a long time with pious understanding.
        <br /><br />

        Let there be announced by you what things have been preserved intact from the Apostles; for the words of tyrannical
        opposition are never admitted against the King of Kings, nor can the business of truth be oppressed by falsehood.
        <br /><br />

        I exhort you, most blessed brethren, that love alone be regarded in which we ought to remain, according to the voice
        of John the Apostle whose relics we venerate in this city. Let common prayer be offered to the Lord. For we can form
        some idea of what will be the power of the divine presence at the united intercession of such a multitude of priests,
        by considering how the very place was moved where, as we read, the twelve made together their supplication. And what
        was the purport of that prayer of the Apostles? It was that they might receive grace to speak the word of God with
        confidence, and to act through its power, both of which they received by the favour of Christ our God. And now what
        else is to be asked for by your holy council, except that you may speak the Word of the Lord with confidence? Why
        else would he give you grace to preserve that which he has given you to preach? That is, being filled with the
        Holy Ghost, as it is written, you may set forth that one truth which the Spirit himself has taught you, although with
        many voices.
        <br /><br />

        Animated, in brief, by all these considerations (for, as the Apostle says: "I speak to them that know the law, and I
        speak wisdom among them that are perfect"), stand fast by the catholic faith, and defend the peace of the Churches.
        For so it is said, both to those past, present, and future, asking and preserving "those things which belong to the
        peace of Jerusalem."
        <br /><br />

        Out of our solicitude, we have sent our holy brethren and fellow priests, who are at one with us and are most approved
        men, Arcedius, and Projectus, the bishops, and our presbyter, Philip, that they may be present at what is done and may
        carry out the things that have been already decreed by us. To the performing of which we have no doubt that your
        holiness will assent when it is seen that what has been decreed
        is for the security of the whole church.
        <br /><br />

        Given in the Ides of May, in the consulate of Bassus and Antiochus.
    </p>
    <br />
    
    <h2 id="DecreeOnNestorius">The Decree of the Council Against Nestorius</h2>
    <br />
    <p>
        As, in addition to other things, the impious Nestorius has not obeyed our citation, and did not receive the 
        holy bishops who were sent by us to him, we were compelled to examine his ungodly doctrines. We discovered that 
        he had held and published impious doctrines in his letters and treatises, as well as in discourses which he 
        delivered in this city, and which have been testified to. 
        <br /><br />
        
        Compelled thereto by the canons and by the letter
        of our most holy father and fellow-servant Celestine, the Roman bishop, we have come, with many tears, to this 
        sorrowful sentence against him: that our Lord Jesus Christ, whom he has blasphemed, decrees by the holy 
        Synod that Nestorius be excluded from the episcopal dignity, and from all priestly communion.
    </p>
    <br />
    
    <h2 id="12Anathemas">The 12 Anathemas Against Nestorius</h2>
    <br />
    <ol>
        <li>
            If anyone will not confess that the Emmanuel is very God, and that therefore the Holy Virgin is the Mother 
            of God, inasmuch as in the flesh she bore the Word of God made flesh, as it is written, "The Word was made 
            flesh," let him be anathema.
        </li>
        <li>
            If anyone shall not confess that the Word of God the Father is united hypostatically to flesh, and that 
            with that flesh of his own, he is one only Christ both God and man at the same time: let him be anathema.
        </li>
        <li>
            If anyone shall after the hypostatic union divide the hypostases in the one Christ, joining them by that 
            connexion alone, which happens according to worthiness, or even authority and power, and not rather by a 
            coming together, which is made by natural union: let him be anathema.
        </li>
        <li>
            If anyone shall divide between two persons those expressions which are contained in the 
            Evangelical and Apostolic writings, or which have been said concerning Christ by the Saints, or by 
            himself, and shall apply some to him as to a man separate from the Word of God, and shall apply others to 
            the only Word of God the Father, on the ground that they are fit to be applied to God: let him be anathema.
        </li>
        <li>
            If anyone shall dare to say that the Christ is a God-bearing man and not rather that he is very God, as an 
            only Son through nature, because "the Word was made flesh," and "hath a share in flesh and blood as we 
            do," let him be anathema.
        </li>
        <li>
            If anyone shall dare say that the Word of God the Father is the God of Christ or the Lord of Christ, and 
            shall not rather confess him as at the same time both God and Man, since according to the Scriptures, 
            "The Word was made flesh," let him be anathema.
        </li>
        <li>
            If anyone shall say that Jesus as man is only energized by the Word of God, and that the glory of the 
            Only-begotten is attributed to him as something not properly his: let him be anathema.
        </li>
        <li>
            If anyone shall dare to say that the assumed man ought to be worshipped together with God the Word, and 
            glorified together with him, and recognised together with him as God, and yet as two different things, the 
            one with the other (for this "together with" is added by the Nestorians to convey this meaning); and shall 
            not rather with one adoration worship the Emmanuel and pay to him one glorification, as it is written, 
            "The Word was made flesh," let him be anathema.
        </li>
        <li>
            If any man shall say that the one Lord Jesus Christ was glorified by the Holy Ghost, so that he used 
            through him a power not his own and from him received power against unclean spirits and power to work 
            miracles before men and shall not rather confess that it was his own Spirit through which he worked these 
            divine signs; let him be anathema.
        </li>
        <li>
            Whosoever shall say that it is not the divine Word himself, when he was made flesh and had become man as we 
            are, but another than he, a man born of a woman, yet different from him, who is become our Great High
            Priest and Apostle; or if any man shall say that he offered himself in sacrifice for himself and not rather 
            for us, whereas, being without sin, he had no need of offering or sacrifice: let him be anathema.
        </li>
        <li>
            Whosoever shall not confess that the flesh of the Lord gives life and that it pertains to the Word of God 
            the Father as his very own, but shall pretend that it belongs to another person who is united to him only
            according to honour, and who has served as a dwelling for the divinity; and shall not rather confess, as we 
            say, that that flesh gives life because it is that of the Word who gives life to all: let him be anathema.
        </li>
        <li>
            Whosoever shall not recognize that the Word of God suffered in the flesh, that he was crucified in the 
            flesh, and that likewise in that same flesh he tasted death and that he is become the first-begotten of the 
            dead, for, as he is God, he is the life, and it is he that gives life: let him be anathema.
        </li>
    </ol>
    <br />
    
    <h2 id="Canon1">Canon 1</h2>
    <h3>Of Bishops Following Celestius</h3>
    <br />
    <p>
        Whereas it is needed that they who were detained from the holy Synod and remained in their own district or city,
        for any reason, ecclesiastical or personal, should not be ignorant of the matters which were thereby decreed: we,
        therefore, notify your holiness and charity that if any Metropolitan of a Province, forsaking the holy and Ecumenical
        Synod, has joined the assembly of the apostates, or shall join the same hereafter; or, if he has adopted, or shall
        hereafter adopt, the doctrines of Celestius, he has no power in any way to do anything in opposition to the bishops of
        the province, since he is already cast forth from all ecclesiastical communion and made incapable of exercising his
        ministry; but he shall himself be subject in all things to those very bishops of the province and to the neighbouring
        orthodox metropolitans, and shall be degraded from his episcopal rank.
    </p>
    <br />

    <h2 id="Canon2">Canon 2</h2>
    <h3>Of Bishops Following Nestorius</h3>
    <br />
    <p>
        If any provincial bishops were not present at the holy Synod and have joined or attempted to join the apostacy; or
        if, after subscribing the deposition of Nestorius, they went back into the assembly of apostates; these men, according
        to the decree of the holy Synod, are to be deposed from the priesthood and degraded from their rank.
    </p>
    <br />
    
    <h2 id="Canon3">Canon 3</h2>
    <h3>Of Orthodox Clergy</h3>
    <br />
    <p>
        If any of the city or country clergy have been inhibited by Nestorius or his followers from the exercise of the
        priesthood, on account of their orthodoxy, we have declared it just that these should be restored to their proper rank.
        And in general we forbid all the clergy who adhere to the Orthodox and Ecumenical Synod in any way to submit to the
        bishops who have already apostatized or shall hereafter apostatize.
    </p>
    <br />

    <h2 id="Canon4">Canon 4</h2>
    <h3>Of Heterodox Clergy</h3>
    <br />
    <p>
        If any of the clergy should fall away, and publicly or privately presume to maintain the doctrines of Nestorius or
        Celestius, it is declared just by the holy Synod that these also should be deposed.
    </p>
    <br />

    <h2 id="Canon5">Canon 5</h2>
    <h3>Of Deposed Clergy</h3>
    <br />
    <p>
        If any have been condemned for evil practices by the holy Synod, or by their own bishops; and if, with his usual
        lack of discrimination, Nestorius (or his followers) has attempted, or shall hereafter attempt, uncanonically to
        restore such persons to communion and to their former rank, we have declared that they shall not be profited thereby,
        but shall remain deposed nevertheless.
    </p>
    <br />

    <h2 id="Canon6">Canon 6</h2>
    <h3>Of Those who Ignore the Synod</h3>
    <br />
    <p>
        Likewise, if any should in any way attempt to set aside the orders in each case made by the holy Synod at Ephesus,
        the holy Synod decrees that, if they be bishops or clergymen, they shall absolutely forfeit their office; and, if
        laymen, that they shall be excommunicated.
    </p>
    <br />

    <h2 id="Canon7">Canon 7</h2>
    <h3>Of Those Of a Different Faith</h3>
    <br />
    <p>
        When these things had been read, the holy Synod decreed that it is unlawful for any man to bring forward, or to
        write, or to compose a different Faith as a rival to that established by the holy Fathers assembled with
        the Holy Ghost in Nicaea.
        <br /><br />

        But those who shall dare to compose a different faith, or to introduce or offer it to persons desiring to turn to the
        acknowledgment of the truth, whether from heathenism or from Judaism, or from any heresy whatsoever, shall be deposed,
        if they be bishops or clergymen; bishops from the episcopate and clergymen from the clergy; and if they be laymen, they
        shall be anathematized.
        <br /><br />

        And in like manner, if any, whether bishops, clergymen, or laymen, should be discovered to hold or teach the doctrines
        contained in the Exposition introduced by the presbyter Charisius concerning the Incarnation of the Only-Begotten Son
        of God, or the abominable and profane doctrines of Nestorius, which are subjoined, they shall be subjected to the
        sentence of this holy and ecumenical Synod. So that, if he is a bishop, he shall be removed from his bishopric and
        degraded; if he be a clergyman, he shall likewise be stricken from the clergy; and if he be a layman, he shall be
        anathematized, as has been said before.
    </p>
    <br />

    <h2 id="Canon8">Canon 8</h2>
    <h3>Of the Rights of Provinces</h3>
    <br />
    <p>
        Our brother bishop Rheginus, the beloved of God, and his fellow beloved of God bishops, Zeno and Evagrius, of the
        Province of Cyprus, have reported to us an innovation which has been introduced contrary to the ecclessiastical
        constitutions and the canons of the Holy Apostles, and which touches the liberties of all. Wherefore, since injuries
        affecting all require the more attention, as they cause the greater damage, and particularly when they are
        transgressions of an ancient custom. 
        <br /><br />
        
        And since those excellent men, who have petitioned the Synod, have told us in
        writing and by word of mouth that the bishop of Antioch has in this way held ordinations in Cyprus; therefore the
        Rulers of the holy churches in Cyprus shall enjoy, without dispute or injury, according to the Canons of the blessed
        Fathers and ancient custom, the right of performing for themselves the ordination of their excellent Bishops. The same
        rule shall be observed in the other dioceses and provinces everywhere, so that none of the God-beloved Bishops shall
        assume control of any province which has not heretofore, from the very beginning, been under his own hand or that of
        his predecessors. But if any one has violently taken and subjected a province, he shall give it up; lest the canons
        of the fathers be transgressed; or the vanities of worldly honour be brought in under pretext of sacred office; or we
        lose, without knowing it, little by little, the liberty which our Lord Jesus Christ, the deliverer of all men, hath
        given us by his own blood.
        <br /><br />

        Wherefore, this holy and ecumenical Synod has decreed that in every province the rights which heretofore, from the
        beginning, have belonged to it, shall be preserved to it, according to the old prevailing custom, unchanged and
        uninjured: every Metropolitan having permission to take, for his own security, a copy of these acts. And if any one
        shall bring forward a rule contrary to what is hero determined, this holy and ecumenical Synod unanimously decrees
        that it shall be of no effect.
    </p>
    <br />
    
    <h2 id="LetterToCelestine">The Letter of the Council to Pope Celestine</h2>
    <br />
    <p>
        The Holy Synod which by the grace of God was assembled at Ephesus, the Metropolis to the most holy and our
        fellow-minister Celestine, health in the Lord.
        <br /><br />

        The zeal of your holiness for piety, and your care for the right faith, so grateful and highly pleasing to God the
        Saviour of us all, are worthy of all admiration. For it is your custom in such great matters to make trial of all
        things, and the confirmation of the Churches you have made your own care. But since it is right that all things which
        have taken place should be brought to the knowledge of your holiness, we are writing to inform you
        that, by the will of Christ the Saviour of us all, and in accordance with the orders of the most pious and
        Christ-loving Emperors, we assembled together in the Metropolis of the Ephesians from many and far scattered regions,
        being in all over two hundred bishops.
        <br /><br />
        
        Then, in accordance with the decrees of the Christ-loving Emperors by whom we
        were assembled, we fixed the date of the meeting of the holy Synod as the Feast of the Holy Pentecost, all agreeing
        thereto, especially as it was contained in the letters of the Emperors that if anyone did not arrive at the appointed
        time, he was absent with no good conscience, and was inexcusable both before God and man. The most reverend John
        bishop of Antioch stopped behind; not in singleness of heart, nor because the length of the journey made the
        impediment, but hiding in his mind his plan and his thought (which was so displeasing to God), 
        which he made clear when not long afterwards he arrived at Ephesus.
        <br /><br />

        Therefore we put off the assembling of the council until after the appointed day of the Holy Pentecost for sixteen whole
        days; in the meanwhile many of the bishops and clerics were overtaken with illness, and much burdened by the expense,
        and some even died. A great injury was thus being done to the great Synod, as your holiness easily perceives. For he
        used perversely such long delay that many from much greater distances arrived before him.
        <br /><br />

        Nevertheless after sixteen days had passed, certain of the bishops who were with him, to wit, two Metropolitans, the
        one Alexander of Apamea, and the other Alexander of Hierapolis, arrived before him. And when we complained of the tardy
        coming of the most reverend bishop John, not once, but often, we were told, "He gave us command to announce to your
        reverence, that if anything should happen to delay him, not to put off the Synod, but to do what was right." After
        having received this message, and as it was manifest, as well from his delay as from the announcements just made to
        us, that he refused to attend the Council, whether out of friendship to Nestorius, or because he had been a cleric of
        a church under his sway, or out of regard to petitions made by some in his favour, the Holy Council sat in the great
        church of Ephesus, which bears the name of Mary.
        <br /><br />

        But when all with zeal had come together, Nestorius alone was found missing from the council, thereupon the holy Synod
        sent him admonition in accordance with the canons by bishops, a first, second, and third time. But he, surrounding his
        house with soldiers, set himself up against the ecclesiastical laws, neither did he show himself, nor give any
        satisfaction for his iniquitous blasphemies.
        <br /><br />

        After this the letters were read which were written to him by the most holy and most reverend bishop of the Church of
        Alexandria, Cyril, which the Holy Synod approved as being orthodox and without fault, and
        in no point out of agreement either with the divinely inspired Scriptures, or with the faith banded down and set forth
        in the great synod of holy Fathers, which assembled sometime ago at Nicea in Bithynia, as your holiness also rightly
        having examined this has given witness.
        <br /><br />

        On the other hand there was read the letter of Nestorius, which was written to the already mentioned most holy and
        reverend brother of ours and fellow-minister, Cyril, and the Holy Synod was of the opinion that those things which were
        taught in it were wholly alien from the Apostolic and Evangelical faith, sick with many and strange blasphemies.
        <br /><br />

        His most impious expositions were likewise read, and also the letter written to him by your holiness, in which he was
        properly condemned as one who had written blasphemy and had inserted irreligious views in his private
        interpretations, and after this a just sentence of deposition was pronounced against him; especially is this sentence just,
        because he is so far removed from being penitent, or from a confession of the matters in which he blasphemed. While
        yet he had the Church of Constantinople, that even in the very metropolis of the Ephesians, he delivered a sermon to
        certain of the metropolitan bishops, men who were not ignorant, but learned and God-fearing, in which he was bold
        enough to say, "I do not confess a two or three months old God," and he said other things more outrageous than this.
        <br /><br />
        
        Therefore as an impious and most pestilent heresy, which perverts our most pure religion and which
        overthrows from the foundation the whole economy of the mystery of the incarnation, we cast it down, as we have
        said above. But it was not possible, as it seemed, that those who had the sincere love of Christ, and were zealous in
        the Lord should not experience many trials. For we had hoped that the most reverend John, bishop of Antioch would have
        praised the diligent care and piety of the Synod, and that perchance he would have blamed the slowness of Nestorius's
        deposition. But all things turned out contrary to our hope. For he was found to be an enemy, and a most warlike one,
        to the holy Synod, and even to the orthodox faith of the churches, as these things indicate.
        <br /><br />

        For as soon as he was come to Ephesus, before he had even shaken off the dust of the journey, or changed his travelling
        dress, he assembled those who had sided with Nestorius and who had uttered blasphemies against their head, and not only
        derided the glory of Christ, but gathering
        as a college to himself, I suppose, thirty men, having the name of bishops (some of whom were without sees, wandering
        about and having no dioceses, others again had for many years been deposed for serious causes from their
        metropolises, and with these were Pelagians and the followers of Celestius, and some of those who were turned out of
        Thessaly), he had the presumption to commit a piece of iniquity no man had ever done before. For all by himself he drew
        up a paper which he called a deposition, and reviled and reproached the most holy and reverend Cyril, bishop of
        Alexandria, and the most reverend Memnon, bishop of Ephesus, our brother, and fellow-minister. But none of us knew
        anything about it, and not even those who were thus reviled knew what was being done, nor for what reason they had
        presumed to do this.
        <br /><br />
        
        But ignoring the anger of God for such behaviour, and unheeding the ecclesiastical canons, and
        forgetting that they were hastening to destruction by such a course of action, under the name of an excommunication,
        they then reviled the whole Synod. And placing these acts of theirs on the public bulletin boards, they exposed them
        to be read by such as chose to do so, having posted them on the outside of the theatres, that they might make a
        spectacle of their impiety. But not even was this the limit of their audacity; but as if they had done something in
        accordance with the canons, they dared to bring what they had done to the ears of the most pious and Christ-loving
        Emperors. Things being in this condition, the most holy and reverend Cyril, bishop of Alexandria and the most
        reverend Memnon bishop of the city of Ephesus, offered some books composed by themselves and accusing the most
        reverend Bishop John and those who with him had done this thing, and conjuring our holy Synod that John and those
        with him should be summoned according to the canons, so that they might apologize for their daring acts, and if they
        had any complaints to make they might speak and prove them, for in their written deposition, or rather sheet of abuse,
        they made this statement as a pretext, "They are Apollinarians, and Arians, and Eunomians, and therefore they have
        been deposed by us."
        <br /><br />
        
        When, therefore, those who had endured their reviling were present, we again necessarily assembled in the great church,
        being more than two hundred bishops, and by a first, second, and third call on two days, we summoned John and his
        companions to the Synod, in order that they might examine those who had been reviled, and might make explanations, and
        tell the causes which led them to draw up the sentence of deposition; but he did not dare to come.
        <br /><br />
        
        But it was right that he, if he could truly prove the before-mentioned holy men to be heretics, both should come and
        prove the truth of that which, accepted as a true and indubitable crime, induced the reckless sentence against them;
        Bbt being condemned by his own conscience, he did not come. Now what he had planned was this: for he thought that when
        that foundationless and most unjust reviling was done away, the just vote of the Synod which it cast against the
        heretic Nestorius would likewise be dissolved. Being justly vexed, therefore, we determined to inflict according to
        law the same penalty upon him and those who were with him, which he contrary to law had pronounced against those who
        had been convicted of no fault. But although most justly and in accordance with law he would have suffered this
        punishment yet in the hope that by our patience his audacity might be conquered, we have reserved this to the decision
        of your holiness. In the meanwhile, we have deprived them of communion and have taken from them all priestly power, so
        that they may not be able to do any harm by their opinions. For those who thus ferociously, and cruelly, and
        uncanonically are wont to rush to such frightful and most wicked things, how was it not necessary that they should be
        stripped of the powers which they did not possess, of being able to do harm.
        <br /><br />

        With our brethren and fellow-ministers, both Cyril the bishop and Memnon, who had endured reproval at their hands, we
        are all in communion, and after the rashness of their accusers we both have and do perform the liturgy in common, all
        together celebrating the Synaxis, having made of none effect their play in writing, and having thus shewn that it
        lacked all validity and effect. For it was mere reviling and nothing else. For what kind of a synod could thirty men
        hold, some of whom were marked with the stamp of heresy, and some without sees and ejected from their dioceses? Or
        what strength could it have in opposition to a synod gathered from all the whole world?
        <br /><br />
        
        For there were sitting
        with us the most reverend bishops Arcadius and Projectus, and with them the most holy presbyter Philip, all of
        whom were sent by your holiness, who gave to us your presence and filled the place of the apostolic see. 
        Let then your holiness be angered at what took place. But if license were granted to
        such as wished to pour reproval upon the greater sees, and thus unlawfully and uncanonically to give sentence or
        rather to utter revilings against those over whom they have no power, against those who for religion have endured such
        great conflicts, by reason of which now also piety shines forth through the prayers of your holiness (if, I say, all
        this should be tolerated), the affairs of the Church would fall into the greatest confusion. But when those who dare to
        do such things shall have been chastised aright, all disturbance will cease, and the reverence due to the canons will
        be observed by all.
        <br /><br />

        When there had been read in the holy Synod what had been done touching the deposition of the most irreligious
        Pelagians and Celestines, of Coelestius, and Pelagius, and Julian, and Praesidius, and Florus, and Marcellian, and
        Orontius, and those inclined to like errors, we also deemed it right that the determinations of your
        holiness concerning them should stand strong and firm. And we all were of the same mind, holding them deposed. And
        that you may know in full all things that have been done, we have sent you a copy of the Acts, and of the subscriptions
        of the Synod. We pray that you, dearly beloved t and most longed for, may be strong and mindful of us in the Lord.
    </p>
}