@{
    this.Layout = "DocumentLayout";
    this.ViewData["Title"] = "Athanasius On Luke 10:22 and Matthew 11:27";
}

@section DocumentNavigation {
    <h1>Table of Contents</h1>

    <ol>
        <li><a href="#1">1. This text refers not to the eternal Word but to the Incarnate</a></li>
        <li><a href="#2">2. Sense in which, and end for which all things were delivered to the Incarnate Son.</a></li>
        <li><a href="#3">3. By 'all things' is meant the redemptive attributes and power of Christ.</a></li>
        <li><a href="#4">4. The text John 16:15, shows clearly the essential relation of the Son to the Father.</a></li>
        <li><a href="#5">5. The same text further explained</a></li>
        <li><a href="#6">6. The Trisagion wrongly explained by Arians. Its true significance.</a></li>
    </ol>
}

@section DocumentDetails {
    <h1>Details</h1>

    <table>
        <tr>
            <td>Author</td>
            <td>Athenasius of Alexandria</td>
        </tr>
        <tr>
            <td>Date Written</td>
            <td>Unknown; ~330 AD</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>Alexandria, Egypt</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Greek</td>
        </tr>
        <tr>
            <td>Translator</td>
            <td>Philip Schaff</td>
        </tr>
    </table>
}

@section Title {
    <h1 id="1">On Luke 10:22 and Matthew 11:27</h1>
}

@section DocumentContent {
    <h2><i>1. This text refers not tot he eternal Word but to the Incarnate</i></h2>
    <br />
    <p>
        "All things were delivered to Me by My Father. And none knows Who the Son is, save the Father; and Who the Father is, save the Son, and he to whomsoever the Son wills to reveal Him."
    </p>
    <br />
    <p>
        And from not perceiving this they of the sect of Arius, Eusebius and his fellows, indulge impiety against the Lord. For they say, if all things were delivered (meaning by 'all' the Lordship of Creation),
        there was once a time when He had them not. But if He had them not, He is not of the Father, for if He were, He would on that account have had them always, and would not have required to receive them.
        But this point will furnish all the clearer an exposure of their folly. For the expression in question does not refer to the Lordship over Creation, nor to presiding over the works of God, but is meant to reveal
        in part the intention of the Incarnation. For if when He was speaking they 'were delivered' to Him, clearly before He received them, creation was void of the Word. What then becomes of the text "in Him all things
        consist" [Colossians 1:17]? But if simultaneously with the origin of the Creation it was all 'delivered' to HIm, such delivery were superfluous, for 'all things were made by Him' [John 1:3], and it would be
        unnecessary for those things of which the Lord Himself was the artificer to be delivered over to Him. For in making them He was Lord of the things which were being originated. But even supposing they were 'delivered'
        to Him after they were originated, see the monstrosity. For if they 'were delivered,' and upon His receiving them the Father retired, then we are in peril of falling into the fabulous tales which some tell, that He
        gave over [His works] to the Son, and Himself departed. Or if, while the Son has them, the Father has them also, we ought to say, not 'were delivered,' but that He took Him as a partner, as Paul did Silvanus. But this
        is even more monstrous; for God is not imperfect, nor did He summon the Son to help Him in His need; but, being Father of the Word, He makes all things by His means, and without delivering creation over to Him, by His
        means and in Him exercises Providence over it, so that not even a sparrow falls to the ground without hte Father [Matthew 10: 29], nor is the grass clothed without God [Matthew 6:30], but at once the Father works, and
        the Son works hitherto [cf. John 5:17]. Vain, therefore, is the opinion of the impious. For the expression is not what they think, but designates the Incarnation.
    </p>
    <br />
}