@{
    this.Layout = "DocumentLayout";
    this.ViewData["Title"] = "Heidelberg Catechism";
}

@section DocumentNavigation {
    <h1>Table of Contents</h1>
    <ol>
        <li><a href="#Q1-5">Questions 1-5</a></li>
        <li><a href="#Q6-10">Questions 6-10</a></li>
        <li><a href="#Q11-15">Questions 11-15</a></li>
        <li><a href="#Q16-20">Questions 16-20</a></li>
        <li><a href="#Q21-25">Questions 21-25</a></li>
        <li><a href="#Q26-30">Questions 26-30</a></li>
        <li><a href="#Q31-35">Questions 31-35</a></li>
        <li><a href="#Q36-40">Questions 36-40</a></li>
        <li><a href="#Q41-45">Questions 41-45</a></li>
        <li><a href="#Q46-50">Questions 46-50</a></li>
        <li><a href="#Q51-55">Questions 51-55</a></li>
        <li><a href="#Q56-60">Questions 56-60</a></li>
        <li><a href="#Q61-65">Questions 61-65</a></li>
        <li><a href="#Q66-70">Questions 66-70</a></li>
        <li><a href="#Q71-75">Questions 71-75</a></li>
        <li><a href="#Q76-80">Questions 76-80</a></li>
        <li><a href="#Q81-85">Questions 81-85</a></li>
        <li><a href="#Q86-90">Questions 86-90</a></li>
        <li><a href="#Q91-95">Questions 91-95</a></li>
        <li><a href="#Q96-100">Questions 96-100</a></li>
        <li><a href="#Q101-105">Questions 101-105</a></li>
        <li><a href="#Q106-110">Questions 106-110</a></li>
        <li><a href="#Q111-115">Questions 111-115</a></li>
        <li><a href="#Q116-120">Questions 116-120</a></li>
        <li><a href="#Q121-125">Questions 121-125</a></li>
        <li><a href="#Q126-129">Questions 126-129</a></li>
    </ol>
}

@section DocumentDetails {
    <h1>Details</h1>

    <img src="~/img/Heidelberg.jpg">

    <table>
        <tr>
            <td>Author</td>
            <td>Zacharius Ursinus and Caspar Olevianus</td>
        </tr>
        <tr>
            <td>Date Written</td>
            <td>1563</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>Heidelberg, Germany</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>German</td>
        </tr>
    </table>
}

@section Title {
    <h1>The Heidelberg Catechism</h1>
}

@section DocumentContent {
    <ol class="decimal">
        <li id="Q1-5">
            <h4>What is your only comfort in life and death?</h4>
            <p>
                That I am not my own (1), but belong with body and soul, both in life and in death (2), to my faithful
                Saviour Jesus Christ (3). He has fully paid for all my sins with His precious blood (4), and has set me free
                from all the power of the devil (5). He also preserves me in such a way (6) that without the will of my
                heavenly Father not a hair can fall from my head (7); indeed, all things must work together for my
                salvation (8). Therefore, by His Holy Spirit He also assures me of eternal life (9) and makes me heartily
                willing and ready from now on to live for Him (10).
            </p>
            <br />
            <p>1) 1 Corinthians 6:19-20</p>
            <p>2) Romans 14:7-9</p>
            <p>3) 1 Corinthians 3:23; Titus 2:14</p>
            <p>4) 1 Peter 1:18-19; 1 John 1:7, 2:2</p>
            <p>5) John 8:34-36; Hebrews 2:14-15; 1 John 3:8</p>
            <p>6) John 6:39-40, 10:27-30; 2 Thessalonians 3:3; 1 Peter 1:5</p>
            <p>7) Matthew 10:29-31; Luke 21:16-18</p>
            <p>8) Romans 8:28</p>
            <p>9) Romans 8:15-16; 2 Corinthians 1:21-22, 5:5; Ephesians 1:13-14</p>
            <p>10) Romans 8:14</p>
            <br />
        </li>
        <li>
            <h4>What do you need to know in order to live and die in the joy of this comfort?</h4>
            <p>
                First, how great my sins and misery are (1); second, how I am delivered from all my sins and
                misery (2); third, how I am to be thankful to God for such deliverance (3).
            </p>
            <br />
            <p>1) Romans 3:9-10; 1 John 1:10</p>
            <p>2) John 17:3; Acts 4:12, 10:43</p>
            <p>3) Matthew 5:16; Romans 6:13; Ephesians 5:8-10; 1 Peter 2:9-10.</p>
            <br />
        </li>
        <li>
            <h4>From where do you know your sins and misery?</h4>
            <p>
                From the law of God (1).
            </p>
            <br />
            <p>1) Romans 3:20</p>
            <br />
        </li>
        <li>
            <h4>What does God's law require of us?</h4>
            <p>
                Christ teaches us this in a summary in Matthew 22: You shall love the LORD your God with all your
                heart, and with all your soul, and with all your mind (1). This is the great and first commandment.
                And a second is like it, You shall love your neighbour as yourself. On these two commandments
                depend all the law and the prophets (2).
            </p>
            <br />
            <p>1) Deuteronomy 6:5</p>
            <p>2) Leviticus 19:18</p>
            <br />
        </li>
        <li>
            <h4>Can you keep all this perfectly?</h4>
            <p>
                No (1), I am inclined by nature to hate God and my neighbour (2).
            </p>
            <br />
            <p>1) Romans 3:10-23; 1 John 1:8-10</p>
            <p>2) Genesis 6:5, 8:21; Jeremiah 17:9; Romans 7:23, 8:7; Ephesians 2:3; Titus 3:3</p>
            <br />
        </li>
        <li id="Q6-10">
            <h4>Did God, then, create man so wicked and perverse?</h4>
            <p>
                No, on the contrary, God created man good (1) and in His image (2), that is, in true righteousness and
                holiness (3), so that he might rightly know God His Creator (4), heartily love Him, and live with Him
                in eternal blessedness to praise and glorify Him (5).
            </p>
            <br />
            <p>1) Genesis 1:31</p>
            <p>2) Genesis 1:26</p>
            <p>3) Ephesians 4:24</p>
            <p>4) Colossians 3:10</p>
            <p>5) Psalm 8</p>
            <br />
        </li>
        <li>
            <h4>From where, then, did man's depraved nature come?</h4>
            <p>
                From the fall and disobedience of our first parents, Adam and Eve, in Paradise (1), for there our
                nature became so corrupt (2) that we are all conceived and born in sin (3).
            </p>
            <br />
            <p>1) Genesis 3</p>
            <p>2) Romans 5:12-19</p>
            <p>3) Psalm 51:5</p>
            <br />
        </li>
        <li>
            <h4>But are we so corrupt that we are totally unable to do any good and inclined to all evil?</h4>
            <p>
                Yes (1), unless we are regenerated by the Spirit of God (2).
            </p>
            <br />
            <p>1) Genesis 6:5, 8:21; Job 14:4; Isaiah 53:6</p>
            <p>2) John 3:3-5</p>
            <br />
        </li>
        <li>
            <h4>Is God, then, not unjust by requiring in His law what man cannot do?</h4>
            <p>
                No, for God so created man that he was able to do it (1). But man, at the instigation of the devil (2),
                in deliberate disobedience (3) robbed himself and all his descendants of these gifts (4).
            </p>
            <br />
            <p>1) Genesis 1:31</p>
            <p>2) Genesis 3:13; John 8:44; 1 Timothy 2:13-14</p>
            <p>3) Genesis 3:6</p>
            <p>4) Romans 5:12-19</p>
            <br />
        </li>
        <li>
            <h4>Will God allow such disobedience and apostasy to go unpunished?</h4>
            <p>
                Certainly not. He is terribly displeased with our original sin as well as our actual sins. Therefore
                He will punish them by a just judgment both now and eternally (1), as He has declared (2): Cursed be
                every one who does not abide by all things written in the book of the law, and do them (3).
            </p>
            <br />
            <p>1) Exodus 34:7; Psalm 5:4-6, 7:10; Nahum 1:2; Romans 1:18, 5:12; Ephesians 5:6; Hebrews 9:27</p>
            <p>2) Deuteronomy 27:26</p>
            <p>3) Galatians 3:10</p>
            <br />
        </li>
        <li id="Q11-15">
            <h4>But is God not also merciful?</h4>
            <p>
                God is indeed merciful (1), but He is also just (2). His justice requires that sin committed against
                the most high majesty of God also be punished with the most severe, that is, with everlasting,
                punishment of body and soul (3).
            </p>
            <br />
            <p>1) Exodus 20:6, 34:6-7; Psalm 103:8-9</p>
            <p>2) Exodus 20:5, 34:7; Deuteronomy 7:9-11; Psalm 5:4-6; Hebrews 10:30-31</p>
            <p>3) Matthew 25:45-46</p>
            <br />
        </li>
        <li>
            <h4>
                Since, according to God's righteous judgment we deserve temporal and eternal punishment, how can we
                escape this punishment and be again received into favour?
            </h4>
            <p>
                God demands that His justice be satisfied (1). Therefore full payment must be made either by ourselves
                or by another (2).
            </p>
            <br />
            <p>1) Exodus 20:5, 23:7; Romans 2:1-11</p>
            <p>2) Isaiah 53:11; Romans 8:3-4</p>
            <br />
        </li>
        <li>
            <h4>Can we ourselves make this payment?</h4>
            <p>
                Certainly not. On the contrary, we daily increase our debt (1).
            </p>
            <br />
            <p>1) Psalm 130:3; Matthew 6:12; Romans 2:4-5</p>
            <br />
        </li>
        <li>
            <h4>Can any mere creature pay for us?</h4>
            <p>
                No. In the first place, God will not punish another creature for the sin which man has committed (1).
                Furthermore, no mere creature can sustain the burden of God's eternal wrath against sin and deliver
                others from it (2).
            </p>
            <br />
            <p>1) Ezekiel 18:4-20; Hebrews 2:14-18</p>
            <p>2) Psalm 130:3; Nahum 1:6</p>
            <br />
        </li>
        <li>
            <h4>What kind of mediator and deliverer must we seek?</h4>
            <p>
                One who is a true (1) and righteous (2) man, and yet more powerful than all creatures; that is, one
                who is at the same time true God (3).
            </p>
            <br />
            <p>1) 1 Corinthians 15:21; Hebrews 2:17</p>
            <p>2) Isaiah 53:9; 2 Corinthians 5:21; Hebrews 7:26</p>
            <p>3) Isaiah 7:14, 9:6; Jeremiah 23:6; John 1:1; Romans 8:3-4</p>
            <br />
        </li>
        <li id="Q16-20">
            <h4>Why must He be a true and righteous man?</h4>
            <p>
                He must be a true man because the justice of God requires that the same human nature which has sinned
                should pay for sin (1). He must be a righteous man because one who himself is a sinner cannot pay for
                others (2).
            </p>
            <br />
            <p>1) Romans 5:12-15; 1 Corinthians 15:21; Hebrews 2:14-16</p>
            <p>2) Hebrews 7:26-27; 1 Peter 3:18</p>
            <br />
        </li>
        <li>
            <h4>Why must He at the same time be true God?</h4>
            <p>
                He must be true God so that by the power of His divine nature (1) He might bear in His human nature
                the burden of God's wrath (2), and might obtain for us and restore to us righteousness and life (3).
            </p>
            <br />
            <p>1) Isaiah 9:5</p>
            <p>2) Deuteronomy 4:24; Nahum 1:6; Psalm 130:3</p>
            <p>3) Isaiah 53:5-11; John 3:16; 2 Corinthians 5:21</p>
            <br />
        </li>
        <li>
            <h4>But who is that Mediator who at the same time is true God and a true and righteous man?</h4>
            <p>
                Our Lord Jesus Christ (1), whom God made our wisdom, our righteousness and sanctification and
                redemption (2).
            </p>
            <br />
            <p>1) Matthew 1:21-23; Luke 2:11; 1 Timothy 2:5, 3:16</p>
            <p>2) 1 Corinthians 1:30</p>
            <br />
        </li>
        <li>
            <h4>From where do you know this?</h4>
            <p>
                From the holy gospel, which God Himself first revealed in Paradise (1). Later, He had it proclaimed by
                the patriarchs (2) and prophets (3), and foreshadowed by the sacrifices and other ceremonies of the
                law (4). Finally, He had it fulfilled through His only Son (5).
            </p>
            <br />
            <p>1) Genesis 3:15</p>
            <p>2) Genesis 12:3, 22:18, 49:10</p>
            <p>3) Isaiah 53; Jeremiah 23:5-6; Micah 7:18-20; Acts 10:43; Hebrews 1:1</p>
            <p>4) Leviticus 1:7; John 5:46; Hebrews 10:1-10</p>
            <p>5) Romans 10:4; Galatians 4:4; Colossians 2:17</p>
            <br />
        </li>
        <li>
            <h4>Are all men, then, saved by Christ just as they perished through Adam?</h4>
            <p>
                No. Only those are saved who by a true faith are grafted into Christ and accept all His benefits (1).
            </p>
            <br />
            <p>1) Matthew 7:14; John 1:12, 3:16-36; Romans 11:16-21</p>
            <br />
        </li>
        <li id="Q21-25">
            <h4>What is true faith?</h4>
            <p>
                True faith is a sure knowledge whereby I accept as true all that God has revealed to us in His
                Word (1). At the same time it is a firm confidence (2) that not only to others, but also to me (3), God
                has granted forgiveness of sins, everlasting righteousness, and salvation (4), out of mere grace, only
                for the sake of Christ's merits (5). This faith the Holy Spirit works in my heart by the gospel (6).
            </p>
            <br />
            <p>1) John 17:3-17; Hebrews 11:1-3; James 2:19</p>
            <p>2) Romans 4:18-21, 5:1, 10:10; Hebrews 4:16</p>
            <p>3) Galatians 2:20</p>
            <p>4) Romans 1:17; Hebrews 10:10</p>
            <p>5) Romans 3:20-26; Galatians 2:16; Ephesians 2:8-10</p>
            <p>6) Acts 16:14; Romans 1:16, 10:17; 1 Corinthians 1:21</p>
            <br />
        </li>
        <li>
            <h4>What, then, must a Christian believe?</h4>
            <p>
                All that is promised us in the Gospel (1), which the articles of our catholic and undoubted Christian
                faith teach us in a summary.
            </p>
            <br />
            <p>1) Matthew 28:19; John 20:30-31</p>
            <br />
        </li>
        <li>
            <h4>What are these articles?</h4>
            <p>
                I believe in God the Father almighty, Creator of heaven and earth. I believe in Jesus Christ, His only
                begotten Son, our Lord; He was conceived by the Holy Spirit, born of the virgin Mary; He suffered under
                Pontius Pilate, was crucified, died, and was buried; He descended to the dead; On the third day He
                arose from the dead; He ascended into heaven, and sits at the right hand of God the Father almighty;
                From there He will come to judge the living and the dead. I believe in the Holy Spirit; I believe a
                holy catholic Christian church, the communion of saints, the forgiveness of sins, the resurrection of
                the body, and the life everlasting.
            </p>
            <br />
        </li>
        <li>
            <h4>How are these articles divided?</h4>
            <p>
                Into three parts: the first is about God the Father and our creation; the second about God the Son and
                our redemption; the third about God the Holy Spirit and our sanctification.
            </p>
            <br />
        </li>
        <li>
            <h4>Since there is only one God, why do you speak of three persons, Father, Son, and Holy Spirit?</h4>
            <p>
                Because God has so revealed Himself in His Word (1) that these three distinct persons are the
                one, true, eternal God (2).
            </p>
            <br />
            <p>
                1) Genesis 1:2; Isaiah 61:1, 63:8-10; Matthew 3:16-17, 28:18-19; Luke 4:18; John 14:26, 15:26;
                2 Corinthians 13:14; Galatians 4:6; Titus 3:5-6
            </p>
            <p>2) Deuteronomy 6:4; Isaiah 44:6, 45:5; 1 Corinthians 8:4-6</p>
            <br />
        </li>
        <li id="Q26-30">
            <h4>What do you believe when you say: I believe in God the Father almighty, Creator of heaven and earth?</h4>
            <p>
                That the eternal Father of our Lord Jesus Christ, who out of nothing created heaven and earth and all
                that is in them (1), and who still upholds and governs them by His eternal counsel and providence (2),
                is, for the sake of Christ His Son, my God and my Father (3). In Him I trust so completely as to have
                no doubt that He will provide me with all things necessary for body and soul (4), and will also turn
                to my good whatever adversity He sends me in this life of sorrow (5). He is able to do so as almighty
                God (6), and willing also as a faithful Father (7).
            </p>
            <br />
            <p>1) Genesis 1-2; Exodus 20:11; Job 38-39; Psalm 33:6; Isaiah 44:24; Acts 4:24, 14:15</p>
            <p>2) Psalm 104:27-30; Matthew 6:30, 10:29; Ephesians 1:11</p>
            <p>3) John 1:12-13; Romans 8:15-16; Galatians 4:4-7; Ephesians 1:5</p>
            <p>4) Psalm 55:22; Matthew 6:25-26; Luke 12:22-31</p>
            <p>5) Romans 8:28</p>
            <p>6) Genesis 18:14; Romans 8:31-39</p>
            <p>7) Matthew 6:32-33, 7:9-11</p>
            <br />
        </li>
        <li>
            <h4>What do you understand by the providence of God?</h4>
            <p>
                God's providence is His almighty and ever present power (1), whereby, as with His hand, He still
                upholds heaven and earth and all creatures (2), and so governs them that leaf and blade, rain and
                drought, fruitful and barren years, food and drink, health and sickness, riches and poverty (3),
                indeed, all things, come not by chance (4) but by His fatherly hand (5).
            </p>
            <br />
            <p>1) Jeremiah 23:23-24; Acts 17:24-28</p>
            <p>2) Hebrews 1:3</p>
            <p>3) Jeremiah 5:24; Acts 14:15-17; John 9:3; Proverbs 22:2</p>
            <p>4) Proverbs 16:33</p>
            <p>5) Matthew 10:29</p>
            <br />
        </li>
        <li>
            <h4>What does it benefit us to know that God has created all things and still upholds them by His providence?</h4>
            <p>
                We can be patient in adversity (1), thankful in prosperity (2), and with a view to the future we can have a firm confidence in our faithful God and Father that no creature shall separate us from His love (3); for all creatures are so completely in His hand that without His will they cannot so much as move (4).
            </p>
            <br />
            <p>1) Job 1:21-22; Psalm 39:10; James 1:3</p>
            <p>2) Deuteronomy 8:10; 1 Thessalonians 5:18</p>
            <p>3) Psalm 55:22; Romans 5:3-5; 8:38-39</p>
            <p>4) Job 1:12; 2:6; Proverbs 21:1; Acts 17:24-28</p>
            <br />
        </li>
        <li>
            <h4>Why is the Son of God called Jesus, that is, Saviour?</h4>
            <p>
                Because He saves us from all our sins (1), and because salvation is not to be sought or found in anyone else (2).
            </p>
            <br />
            <p>1) Matthew 1:21; Hebrews 7:25</p>
            <p>2) Isaiah 43:11; John 15:4-5; Acts 4:11-12; 1 Timothy 2:5</p>
            <br />
        </li>
        <li>
            <h4>Do those believe in the only Saviour Jesus who seek their salvation and well-being from saints, in themselves, or anywhere else?</h4>
            <p>
                No. Though they boast of Him in words, they in fact deny the only Saviour Jesus (1). For one of two things must be true: either Jesus is not a complete Saviour, or those who by true faith accept this Saviour must find in Him all that is necessary for their salvation (2).
            </p>
            <br />
            <p>1) 1 Corinthians 1:12-13; Galatians 5:4</p>
            <p>2) Colossians 1:19-20; 2:10; 1 John 1:7</p>
            <br />
        </li>
        <li id="Q31-35">
            <h4>Why is He called Christ, that is, Anointed?</h4>
            <p>
                Because He has been ordained by God the Father, and anointed with the Holy Spirit (1), to be our chief Prophet and Teacher (2), who has fully revealed to us the secret counsel and will of God concerning our redemption (3); our only High Priest (4), who by the one sacrifice of His body has redeemed us (5), and who continually intercedes for us before the Father (6); and our eternal King (7), who governs us by His Word and Spirit, and who defends and preserves us in the redemption obtained for us (8).
            </p>
            <br />
            <p>1) Psalm 45:7 (Hebrews 1:9); Isaiah 61:1 (Luke 4:18); Luke 3:21-22</p>
            <p>2) Deuteronomy 18:15 (Acts 3:22)</p>
            <p>3) John 1:18; 15:15</p>
            <p>4) Psalm 110:4 (Hebrews 7:17)</p>
            <p>5) Hebrews 9:12; 10:11-14</p>
            <p>6) Romans 8:34; Hebrews 9:24; 1 John 2:1</p>
            <p>7) Zechariah 9:9 (Matthew 21:5); Luke 1:33</p>
            <p>8) Matthew 28:18-20; John 10:28; Revelation 12:10-11</p>
            <br />
        </li>
        <li>
            <h4>Why are you called a Christian?</h4>
            <p>
                Because I am a member of Christ by faith (1) and thus share in His anointing (2), so that I may as prophet confess His Name (3), as priest present myself a living sacrifice of thankfulness to Him (4), and as king fight with a free and good conscience against sin and the devil in this life (5), and hereafter reign with Him eternally over all creatures (6).
            </p>
            <br />
            <p>1) 1 Corinthians 12:12-27</p>
            <p>2) Joel 2:28 (Acts 2:17); 1 John 2:27</p>
            <p>3) Matthew 10:32; Romans 10:9-10; Hebrews 13:15</p>
            <p>4) Romans 12:1; 1 Peter 2:5, 9</p>
            <p>5) Galatians 5:16-17; Ephesians 6:11; 1 Timothy 1:18-19</p>
            <p>6) Matthew 25:34; 2 Timothy 2:12</p>
            <br />
        </li>
        <li>
            <h4>Why is He called God's only begotten Son, since we also are children of God?</h4>
            <p>
                Because Christ alone is the eternal, natural Son of God (1). We, however, are children of God by adoption, through grace, for Christ's sake (2).
            </p>
            <br />
            <p>1) John 1:1-3, 14, 18; 3:16; Romans 8:32; Hebrews 1; 1 John 4:9</p>
            <p>2) John 1:12; Romans 8:14-17; Galatians 4:6; Ephesians 1:5-6</p>
            <br />
        </li>
        <li>
            <h4>Why do you call Him our Lord?</h4>
            <p>
                Because He has ransomed us, body and soul (1), from all our sins, not with silver or gold but with His precious blood (2), and has freed us from all the power of the devil to make us His own possession (3).
            </p>
            <br />
            <p>1) 1 Corinthians 6:20; 1 Timothy 2:5-6</p>
            <p>2) 1 Peter 1:18-19</p>
            <p>3) Colossians 1:13-14; Hebrews 2:14-15</p>
            <br />
        </li>
        <li>
            <h4>What do you confess when you say: He was conceived by the Holy Spirit, born of the virgin Mary?</h4>
            <p>
                The eternal Son of God, who is and remains true and eternal God (1), took upon Himself true human nature from the flesh and blood of the virgin Mary (2), through the working of the Holy Spirit (3). Thus He is also the true seed of David (4), and like His brothers in every respect (5), yet without sin (6).
            </p>
            <br />
            <p>1) John 1:1; 10:30-36; Romans 1:3; 9:5; Colossians 1:15-17; 1 John 5:20</p>
            <p>2) Matthew 1:18-23; John 1:14; Galatians 4:4; Hebrews 2:14</p>
            <p>3) Luke 1:35</p>
            <p>4) 2 Samuel 7:12-16; Psalm 132:11; Matthew 1:1; Luke 1:32; Romans 1:3</p>
            <p>5) Philippians 2:7; Hebrews 2:17</p>
            <p>6) Hebrews 4:15; 7:26-27</p>
            <br />
        </li>
        <li id="Q36-40">
            <h4>What benefit do you receive from the holy conception and birth of Christ?</h4>
            <p>
                He is our Mediator (1), and with His innocence and perfect holiness covers, in the sight of God, my sin, in which I was conceived and born (2).
            </p>
            <br />
            <p>1) 1 Timothy 2:5-6; Hebrews 9:13-15</p>
            <p>2) Romans 8:3-4; 2 Corinthians 5:21; Galatians 4:4-5; 1 Peter 1:18-19</p>
            <br />
        </li>
        <li>
            <h4>What do you confess when you say that He suffered?</h4>
            <p>
                During all the time He lived on earth, but especially at the end, Christ bore in body and soul the wrath of God against the sin of the whole human race (1). Thus, by His suffering, as the only atoning sacrifice (2), He has redeemed our body and soul from everlasting damnation (3), and obtained for us the grace of God, righteousness, and eternal life (4).
            </p>
            <br />
            <p>1) Isaiah 53; 1 Timothy 2:6; 1 Peter 2:24; 3:18</p>
            <p>2) Romans 3:25; 1 Corinthians 5:7; Ephesians 5:2; Hebrews 10:14; 1 John 2:2; 4:10</p>
            <p>3) Romans 8:1-4; Galatians 3:13; Colossians 1:13; Hebrews 9:12; 1 Peter 1:18-19</p>
            <p>4) John 3:16; Romans 3:24-26; 2 Corinthians 5:21; Hebrews 9:15</p>
            <br />
        </li>
        <li>
            <h4>Why did He suffer under Pontius Pilate as judge?</h4>
            <p>
                Though innocent, Christ was condemned by an earthly judge (1), and so He freed us from the severe judgment of God that was to fall on us (2).
            </p>
            <br />
            <p>1) Luke 23:13-24; John 19:4, 12-16</p>
            <p>2) Isaiah 53:4-5; 2 Corinthians 5:21; Galatians 3:13</p>
            <br />
        </li>
        <li>
            <h4>Does it have a special meaning that Christ was crucified and did not die in a different way?</h4>
            <p>
                Yes. Thereby I am assured that He took upon Himself the curse which lay on me, for a crucified one was cursed by God (1).
            </p>
            <br />
            <p>1) Deuteronomy 21:23; Galatians 3:13</p>
            <br />
        </li>
        <li>
            <h4>Why was it necessary for Christ to humble Himself even unto death?</h4>
            <p>
                Because of the justice and truth of God (1) satisfaction for our sins could be made in no other way than by the death of the Son of God (2).
            </p>
            <br />
            <p>1) Genesis 2:17</p>
            <p>2) Romans 8:3; Philippians 2:8; Hebrews 2:9, 14-15</p>
            <br />
        </li>
        <li id="Q41-45">
            <h4>Why was He buried?</h4>
            <p>
                His burial testified that He had really died (1).
            </p>
            <br />
            <p>1) Isaiah 53:9; John 19:38-42; Acts 13:29; 1 Corinthians 15:3-4</p>
            <br />
        </li>
        <li>
            <h4>Since Christ has died for us, why do we still have to die?</h4>
            <p>
                Our death is not a payment for our sins, but it puts an end to sin and is an entrance into eternal life (1).
            </p>
            <br />
            <p>1) John 5:24; Philippians 1:21-23; 1 Thessalonians 5:9-10</p>
            <br />
        </li>
        <li>
            <h4>What further benefit do we receive from Christ's sacrifice and death on the cross?</h4>
            <p>
                Through Christ's death our old nature is crucified, put to death, and buried with Him (1), so that the evil desires of the flesh may no longer reign in us (2), but that we may offer ourselves to Him as a sacrifice of thankfulness (3).
            </p>
            <br />
            <p>1) Romans 6:5-11; Colossians 2:11-12</p>
            <p>2) Romans 6:12-14</p>
            <p>3) Romans 12:1; Ephesians 5:1-2</p>
            <br />
        </li>
        <li>
            <h4>Why is there added: He descended into hell?</h4>
            <p>
                In my greatest sorrows and temptations I may be assured and comforted that my Lord Jesus Christ, by His unspeakable anguish, pain, terror, and agony, which He endured throughout all His sufferings (1) but especially on the cross, has delivered me from the anguish and torment of hell (2).
            </p>
            <br />
            <p>1) Psalm 18:5-6; 116:3; Matthew 26:36-46; 27:45-46; Hebrews 5:7-10</p>
            <p>2) Isaiah 53</p>
            <br />
        </li>
        <li>
            <h4>How does Christ's resurrection benefit us?</h4>
            <p>
                First, by His resurrection He has overcome death, so that He could make us share in the righteousness which He had obtained for us by His death (1). Second, by His power we too are raised up to a new life (2). Third, Christ's resurrection is to us a sure pledge of our glorious resurrection (3).
            </p>
            <br />
            <p>1) Romans 4:25; 1 Corinthians 15:16-20; 1 Peter 1:3-5</p>
            <p>2) Romans 6:5-11; Ephesians 2:4-6; Colossians 3:1-4</p>
            <p>3) Romans 8:11; 1 Corinthians 15:12-23; Philippians 3:20-21</p>
            <br />
        </li>
        <li id="Q46-50">
            <h4>What do you confess when you say, He ascended into heaven?</h4>
            <p>
                That Christ, before the eyes of His disciples, was taken up from the earth into heaven (1), and that He is there for our benefit (2) until He comes again to judge the living and the dead (3).
            </p>
            <br />
            <p>1) Mark 16:19; Luke 24:50-51; Acts 1:9-11</p>
            <p>2) Romans 8:34; Hebrews 4:14; 7:23-25; 9:24</p>
            <p>3) Matthew 24:30; Acts 1:11</p>
            <br />
        </li>
        <li>
            <h4>Is Christ, then, not with us until the end of the world, as He has promised us?</h4>
            <p>
                Christ is true man and true God. With respect to His human nature He is no longer on earth (1), but with respect to His divinity, majesty, grace, and Spirit He is never absent from us (2).
            </p>
            <br />
            <p>1) Matthew 26:11; John 16:28; 17:11; Acts 3:19-21; Hebrews 8:4</p>
            <p>2) Matthew 28:18-20; John 14:16-19</p>
            <br />
        </li>
        <li>
            <h4>But are the two natures in Christ not separated from each other if His human nature is not present wherever His divinity is?</h4>
            <p>
                Not at all, for His divinity has no limits and is present everywhere (1). So it must follow that His divinity is indeed beyond the human nature which He has taken on, and nevertheless is within this human nature and remains personally united with it (2).
            </p>
            <br />
            <p>1) Jeremiah 23:23-24; Acts 7:48-49</p>
            <p>2) John 1:14; 3:13; Colossians 2:9</p>
            <br />
        </li>
        <li>
            <h4>How does Christ's ascension into heaven benefit us?</h4>
            <p>
                First, He is our Advocate in heaven before His Father (1). Second, we have our flesh in heaven as a sure pledge that He, our Head, will also take us, His members, up to Himself (2). Third, He sends us His Spirit as a counter-pledge (3), by whose power we seek the things that are above, where Christ is, seated at the right hand of God, and not the things that are on earth (4).
            </p>
            <br />
            <p>1) Romans 8:34; 1 John 2:1</p>
            <p>2) John 14:2; 17:24; Ephesians 2:4-6</p>
            <p>3) John 14:16; Acts 2:33; 2 Corinthians 1:21-22; 5:5</p>
            <p>4) Colossians 3:1-4</p>
            <br />
        </li>
        <li>
            <h4>Why is it added, "And sits at the right hand of God"?</h4>
            <p>
                Christ ascended into heaven to manifest Himself there as Head of His Church (1), through whom the Father governs all things (2).
            </p>
            <br />
            <p>1) Ephesians 1:20-23; Colossians 1:18</p>
            <p>2) Matthew 28:18; John 5:22, 23</p>
        </li>
        <li id="Q51-55">
            <h4>How does the glory of Christ, our Head, benefit us?</h4>
            <p>
                First, by His Holy Spirit He pours out heavenly gifts upon us, His members (1). Second, by His power He defends and preserves us against all enemies (2).
            </p>
            <br />
            <p>1) Acts 2:33; Ephesians 4:7-12</p>
            <p>2) Psalm 2:9; 110:1-2; John 10:27-30; Revelation 19:11-16</p>
        </li>
        <li>
            <h4>What comfort is it to you that Christ will come to judge the living and the dead?</h4>
            <p>
                In all my sorrow and persecution I lift up my head and eagerly await as judge from heaven the very same person who before has submitted Himself to the judgment of God for my sake and has removed all the curse from me (1). He will cast all His and my enemies into everlasting condemnation, but He will take me and all His chosen ones to Himself into heavenly joy and glory (2).
            </p>
            <br />
            <p>1) Luke 21:28; Romans 8:22-25; Philippians 3:20-21; Titus 2:13-14</p>
            <p>2) Matthew 25:31-46; 2 Thessalonians 1:6-10</p>
            <br />
        </li>
        <li>
            <h4>What do you believe concerning the Holy Spirit?</h4>
            <p>
                First, He is together with the Father and the Son, true and eternal God (1). Second, He is also given to me (2), to make me by true faith share in Christ and all His benefits (3), to comfort me (4), and to remain with me forever (5).
            </p>
            <br />
            <p>1) Genesis 1:1-2; Matthew 28:19; Acts 5:3-4</p>
            <p>2) 1 Corinthians 6:19; 2 Corinthians 1:21-22; Galatians 4:6</p>
            <p>3) Galatians 3:14; 1 Peter 1:2</p>
            <p>4) John 15:26; Acts 9:31</p>
            <p>5) John 14:16-17; 1 Peter 4:14</p>
            <br />
        </li>
        <li>
            <h4>What do you believe concerning the holy catholic Christian church?</h4>
            <p>
                I believe that the Son of God (1), out of the whole human race (2), from the beginning of the world to its end (3), gathers, defends, and preserves for Himself (4), by His Spirit and Word (5), in the unity of the true faith (6), a church chosen to everlasting life (7). And I believe that I am (8) and forever shall remain a living member of it (9).
            </p>
            <br />
            <p>1) John 10:11; Acts 20:28; Ephesians 4:11-13; Colossians 1:18</p>
            <p>2) Genesis 26:4; Revelation 5:9</p>
            <p>3) Isaiah 59:21; 1 Corinthians 11:26</p>
            <p>4) Psalm 129:1-5; Matthew 16:18; John 10:28-30</p>
            <p>5) Romans 1:16; 10:14-17; Ephesians 5:26</p>
            <p>6) Acts 2:42-47; Ephesians 4:1-6</p>
            <p>7) Romans 8:29; Ephesians 1:3-14</p>
            <p>8) 1 John 3:14, 19-21</p>
            <p>9) Psalm 23:6; John 10:27, 28; 1 Corinthians 1:4-9; 1 Peter 1:3-5</p>
            <br />
        </li>
        <li>
            <h4>What do you understand by the communion of saints?</h4>
            <p>
                First, that believers, all and everyone, as members of Christ, have communion with Him and share in all His treasures and gifts (1). Second, that everyone is duty-bound to use his gifts readily and cheerfully for the benefit and well-being of the other members (2).
            </p>
            <br />
            <p>1) Romans 8:32; 1 Corinthians 6:17; 12:4-7, 12, 13; 1 John 1:3</p>
            <p>2) Romans 12:4-8; 1 Corinthians 12:20-27; 13:1-7; Philippians 2:4-8</p>
            <br />
        </li>
        <li id="Q56-60">
            <h4>What do you believe concerning the forgiveness of sins?</h4>
            <p>
                I believe that God, because of Christ's satisfaction, will no more remember my sins (1), nor my sinful nature, against which I have to struggle all my life (2), but He will graciously grant me the righteousness of Christ, that I may never come into condemnation (3).
            </p>
            <br />
            <p>1) Psalm 103:3, 4, 10, 12; Micah 7:18, 19; 2 Corinthians 5:18-21; 1 John 1:7; 2:2</p>
            <p>2) Romans 7:21-25</p>
            <p>3) John 3:17, 18; 5:24; Romans 8:1, 2</p>
            <br />
        </li>
        <li>
            <h4>What comfort does the resurrection of the body offer you?</h4>
            <p>
                Not only shall my soul after this life immediately be taken up to Christ, my Head (1), but also this my flesh, raised by the power of Christ, shall be reunited with my soul and made like Christ's glorious body (2).
            </p>
            <br />
            <p>1) Luke 16:22; 23:43; Philippians 1:21-23</p>
            <p>2) Job 19:25, 26; 1 Corinthians 15:20, 42-46, 54; Philippians 3:21; 1 John 3:2</p>
            <br />
        </li>
        <li>
            <h4>What comfort do you receive from the article about the life everlasting?</h4>
            <p>
                Since I now already feel in my heart the beginning of eternal joy (1), I shall after this life possess perfect blessedness, such as no eye has seen, nor ear heard, nor the heart of man conceived-- a blessedness in which to praise God forever (2).
            </p>
            <br />
            <p>1) John 17:3; Romans 14:17; 2 Corinthians 5:2, 3</p>
            <p>2) John 17:24; 1 Corinthians 2:9</p>
            <br />
        </li>
        <li>
            <h4>But what does it help you now that you believe all this?</h4>
            <p>
                In Christ I am righteous before God and heir to life everlasting (1).
            </p>
            <br />
            <p>1) Habakkuk 2:4; John 3:36; Romans 1:17; 5:1, 2</p>
            <br />
        </li>
        <li>
            <h4>How are you righteous before God?</h4>
            <p>
                Only by true faith in Jesus Christ (1). Although my conscience accuses me that I have grievously sinned against all God's commandments, have never kept any of them (2), and am still inclined to all evil (3), yet God, without any merit of my own (4), out of mere grace (5), imputes to me the perfect satisfaction, righteousness, and holiness of Christ (6). He grants these to me as if I had never had nor committed any sin, and as if I myself had accomplished all the obedience which Christ has rendered for me (7), if only I accept this gift with a believing heart (8).
            </p>
            <br />
            <p>1) Romans 3:21-28; Galatians 2:16; Ephesians 2:8, 9; Philippians 3:8-11</p>
            <p>2) Romans 3:9, 10</p>
            <p>3) Romans 7:23</p>
            <p>4) Deuteronomy 9:6; Ezekiel 36:22; Titus 3:4, 5</p>
            <p>5) Romans 3:24; Ephesians 2:8</p>
            <p>6) Romans 4:3-5; 2 Corinthians 5:17-19; 1 John 2:1, 2</p>
            <p>7) Romans 4:24, 25; 2 Corinthians 5:21</p>
            <p>8) John 3:18; Acts 16:30, 31; Romans 3:22</p>
            <br />
        </li>
        <li id="Q61-65">
            <h4>Why do you say that you are righteous only by faith?</h4>
            <p>
                Not that I am acceptable to God on account of the worthiness of my faith, for only the satisfaction, righteousness, and holiness of Christ is my righteousness before God (1). I can receive this righteousness and make it mine my own by faith only (2).
            </p>
            <br />
            <p>1) 1 Corinthians 1:30, 31; 2:2</p>
            <p>2) Romans 10:10; 1 John 5:10-12</p>
            <br />
        </li>
        <li>
            <h4>But why can our good works not be our righteousness before God, or at least a part of it?</h4>
            <p>
                Because the righteousness which can stand before God's judgment must be absolutely perfect and in complete agreement with the law of God (1), whereas even our best works in this life are all imperfect and defiled with sin (2).
            </p>
            <br />
            <p>1) Deuteronomy 27:26; Galatians 3:10</p>
            <p>2) Isaiah 64:6</p>
            <br />
        </li>
        <li>
            <h4>But do our good works earn nothing, even though God promises to reward them in this life and the next?</h4>
            <p>
                This reward is not earned (1); it is a gift of grace (2).
            </p>
            <br />
            <p>1) Matthew 5:12; Hebrews 11:6</p>
            <p>2) Luke 17:10; 2 Timothy 4:7, 8</p>
            <br />
        </li>
        <li>
            <h4>Does this teaching not make people careless and wicked?</h4>
            <p>
                No. It is impossible that those grafted into Christ by true faith should not bring forth fruits of thankfulness (1).
            </p>
            <br />
            <p>1) Matthew 7:18; Luke 6:43-45; John 15:5</p>
            <br />
        </li>
        <li>
            <h4>Since then faith alone makes us share in Christ and all His benefits, where does this faith come from?</h4>
            <p>
                From the Holy Spirit (1), who works it in our hearts by the preaching of the gospel (2), and strengthens it by the use of the sacraments (3).
            </p>
            <br />
            <p>1) John 3:5; 1 Corinthians 2:10-14; Ephesians 2:8; Philippians 1:29</p>
            <p>2) Romans 10:17; 1 Peter 1:23-25</p>
            <p>3) Matthew 28:19, 20; 1 Corinthians 10:16</p>
            <br />
        </li>
        <li id="Q66-70">
            <h4>What are the sacraments?</h4>
            <p>
                The sacraments are holy, visible signs and seals. They were instituted by God so that by their use He might the more fully declare and seal to us the promise of the gospel (1). And this is the promise: that God graciously grants us forgiveness of sins and everlasting life because of the one sacrifice of Christ accomplished on the cross (2).
            </p>
            <br />
            <p>1) Genesis 17:11; Deuteronomy 30:6; Romans 4:11</p>
            <p>2) Matthew 26:27, 28; Acts 2:38; Hebrews 10:10</p>
            <br />
        </li>
        <li>
            <h4>Are both the Word and the sacraments then intended to focus our faith on the sacrifice of Jesus Christ on the cross as the only ground of our salvation?</h4>
            <p>
                Yes, indeed. The Holy Spirit teaches us in the gospel and assures us by the sacraments that our entire salvation rests on Christ's one sacrifice for us on the cross (1).
            </p>
            <br />
            <p>1) Romans 6:3; 1 Corinthians 11:26; Galatians 3:27</p>
            <br />
        </li>
        <li>
            <h4>How many sacraments has Christ instituted in the new covenant?</h4>
            <p>
                Two: holy baptism and the holy supper (1).
            </p>
            <br />
            <p>1) Matthew 28:19, 20; 1 Corinthians 11:23-26</p>
            <br />
        </li>
        <li>
            <h4>How does holy baptism signify and seal to you that the one sacrifice of Christ on the cross benefits you?</h4>
            <p>
                In this way: Christ instituted this outward washing (1) and with it gave the promise that, as surely as water washes away the dirt from the body, so certainly His blood and Spirit wash away the impurity of my soul, that is, all my sins (2).
            </p>
            <br />
            <p>1) Matthew 28:19</p>
            <p>2) Matthew 3:11; Mark 16:16; John 1:33; Acts 2:38; Romans 6:3, 4; 1 Peter 3:21</p>
            <br />
        </li>
        <li>
            <h4>What does it mean to be washed with Christ's blood and Spirit?</h4>
            <p>
                To be washed with Christ's blood means to receive forgiveness of sins from God, through grace, because of Christ's blood, poured out for us in His sacrifice on the cross (1). To be washed with His Spirit means to be renewed by the Holy Spirit and sanctified to be members of Christ, so that more and more we become dead to sin and lead a holy and blameless life (2).
            </p>
            <br />
            <p>1) Ezekiel 36:25; Zechariah 13:1; Ephesians 1:7; Hebrews 12:24; 1 Peter 1:2; Revelation 1:5; 7:14</p>
            <p>2) John 3:5-8; Romans 6:4; 1 Corinthians 6:11; Colossians 2:11, 12</p>
            <br />
        </li>
        <li id="Q71-75">
            <h4>Where has Christ promised that He will wash us with His blood and Spirit as surely as we are washed with the water of baptism?</h4>
            <p>
                In the institution of baptism, where He says: Go therefore and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit (Matthew 28:19). He who believes and is baptized will be saved, but he who does not believe will be condemned (Mark 16:16). This promise is repeated where Scripture calls baptism the washing of regeneration and the washing away of sins (Titus 3:5; Acts 22:16).
            </p>
            <br />
        </li>
        <li>
            <h4>Does this outward washing with water itself wash away sins?</h4>
            <p>
                No, only the blood of Jesus Christ and the Holy Spirit cleanse us from all sins (1).
            </p>
            <br />
            <p>1) Matthew 3:11; 1 Peter 3:21; 1 John 1:7</p>
            <br />
        </li>
        <li>
            <h4>Why then does the Holy Spirit call baptism the washing of regeneration and the washing away of sins?</h4>
            <p>
                God speaks in this way for a good reason. He wants to teach us that the blood and Spirit of Christ remove our sins just as water takes away dirt from the body (1). But, even more important, He wants to assure us by this divine pledge and sign that we are as truly cleansed from our sins spiritually as we are bodily washed with water (2).
            </p>
            <br />
            <p>1) 1 Corinthians 6:11; Revelation 1:5; 7:14</p>
            <p>2) Mark 16:16; Acts 2:38; Romans 6:3, 4; Galatians 3:27</p>
            <br />
        </li>
        <li>
            <h4>Should infants, too, be baptized?</h4>
            <p>
                Yes. Infants as well as adults belong to God's covenant and congregation (1). Through Christ's blood the redemption from sin and the Holy Spirit, who works faith, are promised to them no less than to adults (2). Therefore, by baptism, as sign of the covenant, they must be grafted into the Christian church and distinguished from the children of unbelievers (3). This was done in the old covenant by circumcision (4), in place of which baptism was instituted in the new covenant (5).
            </p>
            <br />
            <p>1) Genesis 17:7; Matthew 19:14</p>
            <p>2) Psalm 22:11; Isaiah 44:1-3; Acts 2:38, 39; 16:31</p>
            <p>3) Acts 10:47; 1 Corinthians 7:14</p>
            <p>4) Genesis 17:9-14</p>
            <p>5) Colossians 2:11-13</p>
            <br />
        </li>
        <li>
            <h4>How does the Lord's Supper signify and seal to you that you share in Christ's one sacrifice on the cross and in all His gifts?</h4>
            <p>
                In this way: Christ has commanded me and all believers to eat of this broken bread and drink of this cup in remembrance of Him. With this command He gave these promises (1): First, as surely as I see with my eyes the bread of the Lord broken for me and the cup given to me, so surely was His body offered for me and His blood poured out for me on the cross. Second, as surely as I receive from the hand of the minister and taste with my mouth the bread and the cup of the Lord as sure signs of Christ's body and blood, so surely does He Himself nourish and refresh my soul to everlasting life with His crucified body and shed blood.
            </p>
            <br />
            <p>1) Matthew 26:26-28; Mark 14:22-24; Luke 22:19, 20; 1 Corinthians 11:23-25</p>
            <br />
        </li>
        <li id="Q76-80">
            <h4>What does it mean to eat the crucified body of Christ and to drink His shed blood?</h4>
            <p>
                First, to accept with a believing heart all the suffering and the death of Christ, and so receive forgiveness of sins and life eternal (1). Second, to be united more and more to His sacred body through the Holy Spirit, who lives both in Christ and in us (2). Therefore, although Christ is in heaven (3) and we are on earth, yet we are flesh of His flesh and bone of His bones (4), and we forever live and are governed by one Spirit, as the members of our body are by one soul (5).
            </p>
            <br />
            <p>1) John 6:35, 40, 50-54</p>
            <p>2) John 6:55, 56; 1 Corinthians 12:13</p>
            <p>3) Acts 1:9-11; 3:21; 1 Corinthians 11:26; Colossians 3:1</p>
            <p>4) 1 Corinthians 6:15, 17; Ephesians 5:29, 30; 1 John 4:13</p>
            <p>5) John 6:56-58; 15:1-6; Ephesians 4:15, 16; 1 John 3:24</p>
            <br />
        </li>
        <li>
            <h4>Where has Christ promised that He will nourish and refresh believers with His body and blood as surely as they eat of this broken bread and drink of this cup?</h4>
            <p>
                In the institution of the Lord's supper: The Lord Jesus on the night when He was betrayed took bread, and when He had given thanks, He broke it and said, "This is my body which is for you. Do this in remembrance of me." In the same way also the cup, after supper, saying, "Do this, as often as you drink it, in remembrance of me." For as often as you eat this bread and drink the cup, you proclaim the Lord's death until He comes (1 Corinthians 11:23-26). This promise is repeated by Paul where he says: The cup of blessing which we bless, is it not a participation in the blood of Christ? The bread which we break, is it not a participation in the body of Christ? Because there is one bread, we who are many are one body, for we all partake of the one bread (1 Corinthians 10:16, 17).
            </p>
            <br />
        </li>
        <li>
            <h4>Are then the bread and wine changed into the real body and blood of Christ?</h4>
            <p>
                No. Just as the water of baptism is not changed into the blood of Christ and is not the washing away of sins itself but is simply God's sign and pledge (1), so also the bread in the Lord's supper does not become the body of Christ itself (2), although it is called Christ's body (3) in keeping with the nature and usage of sacraments (4).
            </p>
            <br />
            <p>1) Ephesians 5:26; Titus 3:5</p>
            <p>2) Matthew 26:26-29</p>
            <p>3) 1 Corinthians 10:16, 17; 11:26-28</p>
            <p>4) Genesis 17:10, 11; Exodus 12:11, 13; 1 Corinthians 10:3, 4; 1 Peter 3:21</p>
            <br />
        </li>
        <li>
            <h4>Why then does Christ call the bread His body and the cup His blood, or the new covenant in His blood, and why does Paul speak of a participation in the body and blood of Christ?</h4>
            <p>
                Christ speaks in this way for a good reason: He wants to teach us by His supper that as bread and wine sustain us in this temporal life, so His crucified body and shed blood are true food and drink for our souls to eternal life (1). But, even more important, He wants to assure us by this visible sign and pledge, first, that through the working of the Holy Spirit we share in His true body and blood as surely as we receive with our mouth these holy signs in remembrance of Him (2), and, second, that all His suffering and obedience are as certainly ours as if we personally had suffered and paid for our sins (3).
            </p>
            <br />
            <p>1) John 6:51, 55</p>
            <p>2) 1 Corinthians 10:16, 17; 11:26</p>
            <p>3) Romans 6:5-11</p>
            <br />
        </li>
        <li>
            <h4>What difference is there between the Lord's supper and the papal mass?</h4>
            <p>
                The Lord's supper testifies to us, first, that we have complete forgiveness of all our sins through the one sacrifice of Jesus Christ, which He Himself accomplished on the cross once for all (1); and, second, that through the Holy Spirit we are grafted into Christ (2), who with His true body is now in heaven at the right hand of the Father (3), and this is where He wants to be worshipped (4). But the mass teaches, first, that the living and the dead do not have forgiveness of sins through the suffering of Christ unless He is still offered for them daily by the priests; and, second, that Christ is bodily present in the form of bread and wine, and there is to be worshipped. Therefore the mass is basically nothing but a denial of the one sacrifice and suffering of Jesus Christ, and an accursed idolatry.
            </p>
            <br />
            <p>1) Matthew 26:28; John 19:30; Hebrews 7:27; 9:12, 25, 26; 10:10-18</p>
            <p>2) 1 Corinthians 6:17; 10:16, 17</p>
            <p>3) John 20:17; Acts 7:55, 56; Hebrews 1:3; 8:1</p>
            <p>4) John 4:21-24; Philippians 3:20; Colossians 3:1; 1 Thessalonians 1:10</p>
            <br />
        </li>
        <li id="Q81-85">
            <h4>Who are to come to the table of the Lord?</h4>
            <p>
                Those who are truly displeased with themselves because of their sins and yet trust that these are forgiven them and that their remaining weakness is covered by the suffering and death of Christ, and who also desire more and more to strengthen their faith and amend their life. But hypocrites and those who do not repent eat and drink judgment upon themselves (1).
            </p>
            <br />
            <p>1) 1 Corinthians 10:19-22; 11:26-32</p>
            <br />
        </li>
        <li>
            <h4>Are those also to be admitted to the Lord's supper who by their confession and life show that they are unbelieving and ungodly?</h4>
            <p>
                No, for then the covenant of God would be profaned and His wrath kindled against the whole congregation (1). Therefore, according to the command of Christ and His apostles, the Christian church is duty-bound to exclude such persons by the keys of the kingdom of heaven, until they amend their lives.
            </p>
            <br />
            <p>1) Psalm 50:16; Isaiah 1:11-17; 1 Corinthians 11:17-34</p>
            <br />
        </li>
        <li>
            <h4>What are the keys of the kingdom of heaven?</h4>
            <p>
                The preaching of the holy gospel and church discipline. By these two the kingdom of heaven is opened to believers and closed to unbelievers (1).
            </p>
            <br />
            <p>1) Matthew 16:19; John 20:21-23</p>
            <br />
        </li>
        <li>
            <h4>How is the kingdom of heaven opened and closed by the preaching of the gospel?</h4>
            <p>
                According to the command of Christ, the kingdom of heaven is opened when it is proclaimed and publicly testified to each and every believer that God has really forgiven all their sins for the sake of Christ's merits, as often as they by true faith accept the promise of the gospel. The kingdom of heaven is closed when it is proclaimed and testified to all unbelievers and hypocrites that the wrath of God and eternal condemnation rest on them as long as they do not repent. According to this testimony of the gospel, God will judge both in this life and in the life to come (1).
            </p>
            <br />
            <p>1) Matthew 16:19; John 3:31-36; 20:21-23</p>
            <br />
        </li>
        <li>
            <h4>How is the kingdom of heaven closed and opened by church discipline?</h4>
            <p>
                According to the command of Christ, people who call themselves Christians but show themselves to be unchristian in doctrine or life are first repeatedly admonished in a brotherly manner. If they do not give up their errors or wickedness, they are reported to the church, that is, to the elders. If they do not heed also their admonitions, they are forbidden the use of the sacraments, and they are excluded by the elders from the Christian congregation, and by God Himself from the kingdom of Christ (1). They are again received as members of Christ and of the church when they promise and show real amendment (2).
            </p>
            <br />
            <p>1) Matthew 18:15-20; 1 Corinthians 5:3-5, 11-13; 2 Thessalonians 3:14, 15</p>
            <p>2) Luke 15:20-24; 2 Corinthians 2:6-11</p>
            <br />
        </li>
        <li id="Q86-90">
            <h4>Since we have been delivered from our misery by grace alone through Christ, without any merit of our own, why must we yet do good works?</h4>
            <p>
                Because Christ, having redeemed us by His blood, also renews us by His Holy Spirit to be His image, so that with our whole life we may show ourselves thankful to God for His benefits (1), and He may be praised by us (2). Further, that we ourselves may be assured of our faith by its fruits (3), and that by our godly walk of life we may win our neighbours for Christ (4).
            </p>
            <br />
            <p>1) Romans 6:13; 12:1, 2; 1 Peter 2:5-10</p>
            <p>2) Matthew 5:16; 1 Corinthians 6:19, 20</p>
            <p>3) Matthew 7:17, 18; Galatians 5:22-24; 2 Peter 1:10, 11</p>
            <p>4) Matthew 5:14-16; Romans 14:17-19; 1 Peter 2:12; 3:1, 2</p>
            <br />
        </li>
        <li>
            <h4>Can those be saved who do not turn to God from their ungrateful and impenitent walk of life?</h4>
            <p>
                By no means. Scripture says that no unchaste person, idolater, adulterer, thief, greedy person, drunkard, slanderer, robber, or the like shall inherit the kingdom of God (1).
            </p>
            <br />
            <p>1) 1 Corinthians 6:9, 10; Galatians 5:19-21; Ephesians 5:5, 6; 1 John 3:14</p>
            <br />
        </li>
        <li>
            <h4>What is the true repentance or conversion of man?</h4>
            <p>
                It is the dying of the old nature and the coming to life of the new (1).
            </p>
            <br />
            <p>1) Romans 6:1-11; 1 Corinthians 5:7; 2 Corinthians 5:17; Ephesians 4:22-24; Colossians 3:5-10</p>
            <br />
        </li>
        <li>
            <h4>What is the dying of the old nature?</h4>
            <p>
                It is to grieve with heartfelt sorrow that we have offended God by our sin, and more and more to hate it and flee from it (1).
            </p>
            <br />
            <p>1) Psalm 51:3, 4, 17; Joel 2:12, 13; Romans 8:12, 13; 2 Corinthians 7:10</p>
            <br />
        </li>
        <li>
            <h4>What is the coming to life of the new nature?</h4>
            <p>
                It is a heartfelt joy in God through Christ (1), and a love and delight to live according to the will of God in all good works (2).
            </p>
            <br />
            <p>1) Psalm 51:8, 12; Isaiah 57:15; Romans 5:1; 14:17</p>
            <p>2) Romans 6:10, 11; Galatians 2:20</p>
            <br />
        </li>
        <li id="Q91-95">
            <h4>But what are good works?</h4>
            <p>
                Only those which are done out of true faith (1), in accordance with the law of God (2), and to His glory (3), and not those based on our own opinion or on precepts of men (4).
            </p>
            <br />
            <p>1) John 15:5; Romans 14:23; Hebrews 11:6</p>
            <p>2) Leviticus 18:4; 1 Samuel 15:22; Ephesians 2:10</p>
            <p>3) 1 Corinthians 10:31</p>
            <p>4) Deuteronomy 12:32; Isaiah 29:13; Ezekiel 20:18, 19; Matthew 15:7-9</p>
            <br />
        </li>
        <li>
            <h4>What is the law of the LORD?</h4>
            <p>
                God spoke all these words, saying: I am the LORD your God, who brought you out of the land of Egypt, out of the house of bondage. 1. You shall have no other gods before Me. 2. You shall not make for yourself a graven image, or any likeness of anything that is in heaven above, or that is in the earth beneath, or that is in the water under the earth; you shall not bow down to them or serve them; for I the LORD your God am a jealous God, visiting the iniquity of the fathers upon the children to the third and fourth generation of those who hate Me, but showing steadfast love to thousands of those who love Me and keep My commandments. 3. You shall not take the Name of the LORD your God in vain; for the LORD will not hold him guiltless who takes His Name in vain. 4. Remember the sabbath day, to keep it holy. Six days you shall labour, and do all your work; but the seventh day is a sabbath to the LORD your God; in it you shall not do any work, you, or your son, or your daughter, your manservant, or your maidservant, or your cattle, or the sojourner who is within your gates; for in six days the LORD made heaven and earth, the sea, and all that is in them, and rested the seventh day; therefore the LORD blessed the sabbath day and hallowed it. 5. Honour your father and your mother, that your days may be long in the land which the LORD your God gives you. 6. You shall not kill. 7. You shall not commit adultery. 8. You shall not steal. 9. You shall not bear false witness against your neighbour. 10. you shall not covet your neighbour's house; you shall not covet your neighbour's wife, or his manservant, or his maidservant, or his ox, or his ass, or anything that is your neighbour's (1).
            </p>
            <br />
            <p>1) Exodus 20:1-17; Deuteronomy 5:6-21</p>
            <br />
        </li>
        <li>
            <h4>How are these commandments divided?</h4>
            <p>
                Into two parts. The first teaches us how to live in relation to God; the second, what duties we owe our neighbour (1).
            </p>
            <br />
            <p>1) Matthew 22:37-40</p>
            <br />
        </li>
        <li>
            <h4>What does the LORD require in the first commandment?</h4>
            <p>
                That for the sake of my very salvation I avoid and flee all idolatry (1), witchcraft, superstition (2), and prayer to saints or to other creatures (3). Further, that I rightly come to know the only true God (4), trust in Him alone (5), submit to Him with all humility (6) and patience (7), expect all good from Him only (8), and love (9), fear (10), and honour Him (11) with all my heart. In short, that I forsake all creatures rather than do the least thing against His will (12).
            </p>
            <br />
            <p>1) 1 Corinthians 6:9, 10; 10:5-14; 1 John 5:21</p>
            <p>2) Leviticus 19:31; Deuteronomy 18:9-12</p>
            <p>3) Matthew 4:10; Revelation 19:10; 22:8, 9</p>
            <p>4) John 17:3</p>
            <p>5) Jeremiah 17:5, 7</p>
            <p>6) 1 Peter 5:5, 6</p>
            <p>7) Romans 5:3, 4; 1 Corinthians 10:10; Philippians 2:14; Colossians 1:11; Hebrews 10:36</p>
            <p>8) Psalm 104:27, 28; Isaiah 45:7; James 1:17</p>
            <p>9) Deuteronomy 6:5; Matthew 22:37</p>
            <p>10) Deuteronomy 6:2; Psalm 111:10; Proverbs 1:7; 9:10; Matthew 10:28; 1 Peter 1:17</p>
            <p>11) Deuteronomy 6:13; Matthew 4:10; Deuteronomy 10:20</p>
            <p>12) Matthew 5:29, 30; 10:37-39; Acts 5:29</p>
            <br />
        </li>
        <li>
            <h4>What is idolatry?</h4>
            <p>
                Idolatry is having or inventing something in which to put our trust instead of, or in addition to, the only true God who has revealed Himself in His Word (1).
            </p>
            <br />
            <p>1) 1 Chronicles 16:26; Galatians 4:8, 9; Ephesians 5:5; Philippians 3:19</p>
            <br />
        </li>
        <li id="Q96-100">
            <h4>What does God require in the second commandment?</h4>
            <p>
                We are not to make an image of God in any way (1), nor to worship Him in any other manner than He has commanded in His Word (2).
            </p>
            <br />
            <p>1) Deuteronomy 4:15-19; Isaiah 40:18-25; Acts 17:29; Romans 1:23</p>
            <p>2) Leviticus 10:1-7; Deuteronomy 12:30; 1 Samuel 15:22, 23; Matthew 15:9; John 4:23, 24</p>
            <br />
        </li>
        <li>
            <h4>May we then not make any image at all?</h4>
            <p>
                God cannot and may not be visibly portrayed in any way. Creatures may be portrayed, but God forbids us to make or have any images of them in order to worship them or to serve God through them (1).
            </p>
            <br />
            <p>1) Exodus 34:13, 14, 17; Numbers 33:52; 2 Kings 18:4, 5; Isaiah 40:25</p>
            <br />
        </li>
        <li>
            <h4>But may images not be tolerated in the churches as "books for the laity"?</h4>
            <p>
                No, for we should not be wiser than God. He wants His people to be taught not by means of dumb images (1) but by the living preaching of His Word (2).
            </p>
            <br />
            <p>1) Jeremiah 10:8; Habakkuk 2:18-20</p>
            <p>2) Romans 10:14, 15, 17; 2 Timothy 3:16, 17; 2 Peter 1:19</p>
            <br />
        </li>
        <li>
            <h4>What is required in the third commandment?</h4>
            <p>
                We are not to blaspheme or to abuse the Name of God by cursing (1), perjury (2), or unnecessary oaths (3), nor to share in such horrible sins by being silent bystanders (4). In short, we must use the holy Name of God only with fear and reverence (5), so that we may rightly confess Him (6), call upon Him (7), and praise Him in all our words and works (8).
            </p>
            <br />
            <p>1) Leviticus 24:10-17</p>
            <p>2) Leviticus 19:12</p>
            <p>3) Matthew 5:37; James 5:12</p>
            <p>4) Leviticus 5:1; Proverbs 29:24</p>
            <p>5) Psalm 99:1-5; Isaiah 45:23; Jeremiah 4:2</p>
            <p>6) Matthew 10:32, 33; Romans 10:9, 10</p>
            <p>7) Psalm 50:14, 15; 1 Timothy 2:8</p>
            <p>8) Romans 2:24; Colossians 3:17; 1 Timothy 6:1</p>
            <br />
        </li>
        <li>
            <h4>Is the blaspheming of God's Name by swearing and cursing such a grievous sin that God is angry also with those who do not prevent and forbid it as much as they can?</h4>
            <p>
                Certainly (1), for no sin is greater or provokes God's wrath more than the blaspheming of His Name. That is why He commanded it to be punished with death (2).
            </p>
            <br />
            <p>1) Leviticus 5:1</p>
            <p>2) Leviticus 24:16</p>
            <br />
        </li>
        <li id="Q101-105">
            <h4>But may we swear an oath by the Name of God in a godly manner?</h4>
            <p>
                Yes, when the government demands it of its subjects, or when necessity requires it, in order to maintain and promote fidelity and truth, to God's glory and for our neighbour's good. Such oath-taking is based on God's Word (1) and was therefore rightly used by saints in the Old and the New Testament (2).
            </p>
            <br />
            <p>1) Deuteronomy 6:13; 10:20; Jeremiah 4:1, 2; Hebrews 6:16</p>
            <p>2) Genesis 21:24; 31:53; Joshua 9:15; 1 Samuel 24:22; 1 Kings 1:29, 30; Romans 1:9; 2 Corinthians 1:23</p>
            <br />
        </li>
        <li>
            <h4>May we also swear by saints or other creatures?</h4>
            <p>
                No. A lawful oath is a calling upon God, who alone knows the heart, to bear witness to the truth, and to punish me if I swear falsely (1). No creature is worthy of such honour (2).
            </p>
            <br />
            <p>1) Romans 9:1; 2 Corinthians 1:23</p>
            <p>2) Matthew 5:34-37; 23:16-22; James 5:12</p>
            <br />
        </li>
        <li>
            <h4>What does God require in the fourth commandment?</h4>
            <p>
                First, that the ministry of the gospel and the schools be maintained (1) and that, especially on the day of rest, I diligently attend the church of God (2) to hear God's Word (3), to use the sacraments (4), to call publicly upon the LORD (5), and to give Christian offerings for the poor (6). Second, that all the days of my life I rest from my evil works, let the LORD work in me through His Holy Spirit, and so begin in this life the eternal sabbath (7).
            </p>
            <br />
            <p>1) Deuteronomy 6:4-9, 20-25; 1 Corinthians 9:13, 14; 2 Timothy 2:2; 3:13-17; Titus 1:5</p>
            <p>2) Deuteronomy 12:5-12; Psalm 40:9, 10; 68:26; Acts 2:42-47; Hebrews 10:23-25</p>
            <p>3) Romans 10:14-17; 1 Corinthians 14:26-33; 1 Timothy 4:13</p>
            <p>4) 1 Corinthians 11:23, 24</p>
            <p>5) Colossians 3:16; 1 Timothy 2:1</p>
            <p>6) Psalm 50:14; 1 Corinthians 16:2; 2 Corinthians 8 and 9</p>
            <p>7) Isaiah 66:23; Hebrews 4:9-11</p>
            <br />
        </li>
        <li>
            <h4>What does God require in the fifth commandment?</h4>
            <p>
                That I show all honour, love, and faithfulness to my father and mother and to all those in authority over me, submit myself with due obedience to their good instruction and discipline (1), and also have patience with their weaknesses and shortcomings (2), since it is God's will to govern us by their hand (3).
            </p>
            <br />
            <p>1) Exodus 21:17; Proverbs 1:8; 4:1; Romans 13:1, 2; Ephesians 5:21, 22; 6:1-9; Colossians 3:18-4:1</p>
            <p>2) Proverbs 20:20; 23:22; 1 Peter 2:18</p>
            <p>3) Matthew 22:21; Romans 13:1-8; Ephesians 6:1-9; Colossians 3:18-21</p>
            <br />
        </li>
        <li>
            <h4>What does God require in the sixth commandment?</h4>
            <p>
                I am not to dishonour, hate, injure, or kill my neighbour by thoughts, words, or gestures, and much less by deeds, whether personally or through another (1); rather, I am to put away all desire of revenge (2). Moreover, I am not to harm or recklessly endanger myself (3). Therefore, also, the government bears the sword to prevent murder (4).
            </p>
            <br />
            <p>1) Genesis 9:6; Leviticus 19:17, 18; Matthew 5:21, 22; 26:52</p>
            <p>2) Proverbs 25:21, 22; Matthew 18:35; Romans 12:19; Ephesians 4:26</p>
            <p>3) Matthew 4:7; 26:52; Romans 13:11-14</p>
            <p>4) Genesis 9:6; Exodus 21:14; Romans 13:4</p>
            <br />
        </li>
        <li id="Q106-110">
            <h4>But does this commandment speak only of killing?</h4>
            <p>
                By forbidding murder God teaches us that He hates the root of murder, such as envy, hatred, anger, and desire of revenge (1), and that He regards all these as murder (2).
            </p>
            <br />
            <p>1) Proverbs 14:30; Romans 1:29; 12:19; Galatians 5:19-21; James 1:20; 1 John 2:9-11</p>
            <p>2) 1 John 3:15</p>
            <br />
        </li>
        <li>
            <h4>Is it enough, then, that we do not kill our neighbour in any such way?</h4>
            <p>
                No. When God condemns envy, hatred, and anger, He commands us to love our neighbour as ourselves (1), to show patience, peace, gentleness, mercy, and friendliness toward him (2), to protect him from harm as much as we can, and to do good even to our enemies (3).
            </p>
            <br />
            <p>1) Matthew 7:12; 22:39; Romans 12:10</p>
            <p>2) Matthew 5:5; Luke 6:36; Romans 12:10, 18; Galatians 6:1, 2; Ephesians 4:2; Colossians 3:12; 1 Peter 3:8</p>
            <p>3) Exodus 23:4, 5; Matthew 5:44, 45; Romans 12:20</p>
            <br />
        </li>
        <li>
            <h4>What does the seventh commandment teach us?</h4>
            <p>
                That all unchastity is cursed by God (1). We must therefore detest it from the heart (2) and live chaste and disciplined lives, both within and outside of holy marriage (3).
            </p>
            <br />
            <p>1) Leviticus 18:30; Ephesians 5:3-5</p>
            <p>2) Jude 22, 23</p>
            <p>3) 1 Corinthians 7:1-9; 1 Thessalonians 4:3-8; Hebrews 13:4</p>
            <br />
        </li>
        <li>
            <h4>Does God in this commandment forbid nothing more than adultery and similar shameful sins?</h4>
            <p>
                Since we, body and soul, are temples of the Holy Spirit, it is God's will that we keep ourselves pure and holy. Therefore He forbids all unchaste acts, gestures, words, thoughts, desires (1), and whatever may entice us to unchastity (2).
            </p>
            <br />
            <p>1) Matthew 5:27-29; 1 Corinthians 6:18-20; Ephesians 5:3, 4</p>
            <p>2) 1 Corinthians 15:33; Ephesians 5:18</p>
            <br />
        </li>
        <li>
            <h4>What does God forbid in the eighth commandment?</h4>
            <p>
                God forbids not only outright theft and robbery (1) but also such wicked schemes and devices as false weights and measures, deceptive merchandising, counterfeit money, and usury (2); we must not defraud our neighbour in any way, whether by force or by show of right (3). In addition God forbids all greed (4) and all abuse or squandering of His gifts (5).
            </p>
            <br />
            <p>1) Exodus 22:1; 1 Corinthians 5:9, 10; 6:9, 10</p>
            <p>2) Deuteronomy 25:13-16; Psalm 15:5; Proverbs 11:1; 12:22; Ezekiel 45:9-12; Luke 6:35</p>
            <p>3) Micah 6:9-11; Luke 3:14; James 5:1-6</p>
            <p>4) Luke 12:15; Ephesians 5:5</p>
            <p>5) Proverbs 21:20; 23:20, 21; Luke 16:10-13</p>
            <br />
        </li>
        <li id="Q111-115">
            <h4>What does God require of you in this commandment?</h4>
            <p>
                I must promote my neighbour's good wherever I can and may, deal with him as I would like others to deal with me, and work faithfully so that I may be able to give to those in need (1).
            </p>
            <br />
            <p>1) Isaiah 58:5-10; Matthew 7:12; Galatians 6:9, 10; Ephesians 4:28</p>
            <br />
        </li>
        <li>
            <h4>What is required in the ninth commandment?</h4>
            <p>
                I must not give false testimony against anyone, twist no one's words, not gossip or slander, nor condemn or join in condemning anyone rashly and unheard (1). Rather, I must avoid all lying and deceit as the devil's own works, under penalty of God's heavy wrath (2). In court and everywhere else, I must love the truth (3), speak and confess it honestly, and do what I can to defend and promote my neighbour's honour and reputation (4).
            </p>
            <br />
            <p>1) Psalm 15; Proverbs 19:5, 9; 21:28; Matthew 7:1; Luke 6:37; Romans 1:28-32</p>
            <p>2) Leviticus 19:11, 12; Proverbs 12:22; 13:5; John 8:44; Revelation 21:8</p>
            <p>3) 1 Corinthians 13:6; Ephesians 4:25</p>
            <p>4) 1 Peter 3:8, 9; 4:8</p>
            <br />
        </li>
        <li>
            <h4>What does the tenth commandment require of us?</h4>
            <p>
                That not even the slightest thought or desire contrary to any of God's commandments should ever arise in our heart. Rather, we should always hate all sin with all our heart, and delight in all righteousness (1).
            </p>
            <br />
            <p>1) Psalm 19:7-14; 139:23, 24; Romans 7:7, 8</p>
            <br />
        </li>
        <li>
            <h4>But can those converted to God keep these commandments perfectly?</h4>
            <p>
                No. In this life even the holiest have only a small beginning of this obedience (1). Nevertheless, with earnest purpose they do begin to live not only according to some but to all the commandments of God (2).
            </p>
            <br />
            <p>1) Ecclesiastes 7:20; Romans 7:14, 15; 1 Corinthians 13:9; 1 John 1:8</p>
            <p>2) Psalm 1:1, 2; Romans 7:22-25; Philippians 3:12-16</p>
            <br />
        </li>
        <li>
            <h4>If in this life no one can keep the ten commandments perfectly, why does God have them preached so strictly?</h4>
            <p>
                First, that throughout our life we may more and more become aware of our sinful nature, and therefore seek more eagerly the forgiveness of sins and righteousness in Christ (1). Second, that we may be zealous for good deeds and constantly pray to God for the grace of the Holy Spirit, that He may more and more renew us after God's image, until after this life we reach the goal of perfection (2).
            </p>
            <br />
            <p>1) Psalm 32:5; Romans 3:19-26; 7:7, 24, 25; 1 John 1:9</p>
            <p>2) 1 Corinthians 9:24; Philippians 3:12-14; 1 John 3:1-3</p>
            <br />
        </li>
        <li id="Q116-120">
            <h4>Why is prayer necessary for Christians?</h4>
            <p>
                Because prayer is the most important part of the thankfulness which God requires of us (1). Moreover, God will give His grace and the Holy Spirit only to those who constantly and with heartfelt longing ask Him for these gifts and thank Him for them (2).
            </p>
            <br />
            <p>1) Psalm 50:14, 15; 116:12-19; 1 Thessalonians 5:16-18</p>
            <p>2) Matthew 7:7, 8; Luke 11:9-13</p>
            <br />
        </li>
        <li>
            <h4>What belongs to a prayer which pleases God and is heard by Him?</h4>
            <p>
                First, we must from the heart call upon the one true God only, who has revealed Himself in His Word, for all that He has commanded us to pray (1). Second, we must thoroughly know our need and misery, so that we may humble ourselves before God (2). Third, we must rest on this firm foundation that, although we do not deserve it, God will certainly hear our prayer for the sake of Christ our Lord, as He has promised us in His Word (3).
            </p>
            <br />
            <p>1) Psalm 145:18-20; John 4:22-24; Romans 8:26, 27; James 1:5; 1 John 5:14, 15; Revelation 19:10</p>
            <p>2) 2 Chronicles 7:14; 20:12; Psalm 2:11; 34:18; 62:8; Isaiah 66:2; Revelation 4</p>
            <p>3) Daniel 9:17-19; Matthew 7:8; John 14:13, 14; 16:23; Romans 10:13; James 1:6</p>
            <br />
        </li>
        <li>
            <h4>What has God commanded us to ask of Him?</h4>
            <p>
                All the things we need for body and soul (1), as included in the prayer which Christ our Lord Himself taught us.
            </p>
            <br />
            <p>1) Matthew 6:33; James 1:17</p>
            <br />
        </li>
        <li>
            <h4>What is the Lord's prayer?</h4>
            <p>
                Our Father who art in heaven, Hallowed be Thy Name. Thy kingdom come, Thy will be done, On earth as it is in heaven. Give us this day our daily bread; And forgive us our debts, As we also have forgiven our debtors; And lead us not into temptation, But deliver us from the evil one. For Thine is the kingdom, and the power, and the glory, for ever. Amen (1).
            </p>
            <br />
            <p>1) Matthew 6:9-13; Luke 11:2-4</p>
            <br />
        </li>
        <li>
            <h4>Why has Christ commanded us to address God as Our Father?</h4>
            <p>
                To awaken in us at the very beginning of our prayer that childlike reverence and trust toward God which should be basic to our prayer: God has become our Father through Christ and will much less deny us what we ask of Him in faith than our fathers would refuse us earthly things (1).
            </p>
            <br />
            <p>1) Matthew 7:9-11; Luke 11:11-13</p>
            <br />
        </li>
        <li id="Q121-125">
            <h4>Why is there added, Who art in heaven?</h4>
            <p>
                These words teach us not to think of God's heavenly majesty in an earthly manner (1), and to expect from His almighty power all things we need for body and soul (2).
            </p>
            <br />
            <p>1) Jeremiah 23:23, 24; Acts 17:24, 25</p>
            <p>2) Matthew 6:25-34; Romans 8:31, 32</p>
            <br />
        </li>
        <li>
            <h4>What is the first petition?</h4>
            <p>
                Hallowed be Thy Name. That is: Grant us first of all that we may rightly know Thee (1), and sanctify, glorify, and praise Thee in all Thy works, in which shine forth Thy almighty power, wisdom, goodness, righteousness, mercy, and truth (2). Grant us also that we may so direct our whole life-- our thoughts, words, and actions-- that Thy Name is not blasphemed because of us but always honoured and praised (3).
            </p>
            <br />
            <p>1) Jeremiah 9:23, 24; 31:33, 34; Matthew 16:17; John 17:3</p>
            <p>2) Exodus 34:5-8; Psalm 145; Jeremiah 32:16-20; Luke 1:46-55, 68-75; Romans 11:33-36</p>
            <p>3) Psalm 115:1; Matthew 5:16</p>
            <br />
        </li>
        <li>
            <h4>What is the second petition?</h4>
            <p>
                Thy kingdom come. That is: So rule us by Thy Word and Spirit that more and more we submit to Thee (1). Preserve and increase Thy church (2). Destroy the works of the devil, every power that raises itself against Thee, and every conspiracy against Thy holy Word (3). Do all this until the fulness of Thy kingdom comes, wherein Thou shalt be all in all (4).
            </p>
            <br />
            <p>1) Psalm 119:5, 105; 143:10; Matthew 6:33</p>
            <p>2) Psalm 51:18; 122:6-9; Matthew 16:18; Acts 2:42-47</p>
            <p>3) Romans 16:20; 1 John 3:8</p>
            <p>4) Romans 8:22, 23; 1 Corinthians 15:28; Revelation 22:17, 20</p>
            <br />
        </li>
        <li>
            <h4>What is the third petition?</h4>
            <p>
                Thy will be done, on earth as it is in heaven. That is: Grant that we and all men may deny our own will, and without any murmuring obey Thy will, for it alone is good (1). Grant also that everyone may carry out the duties of his office and calling (2) as willingly and faithfully as the angels in heaven (3).
            </p>
            <br />
            <p>1) Matthew 7:21; 16:24-26; Luke 22:42; Romans 12:1, 2; Titus 2:11, 12</p>
            <p>2) 1 Corinthians 7:17-24; Ephesians 6:5-9</p>
            <p>3) Psalm 103:20, 21</p>
            <br />
        </li>
        <li>
            <h4>What is the fourth petition?</h4>
            <p>
                Give us this day our daily bread. That is: Provide us with all our bodily needs (1) so that we may acknowledge that Thou art the only fountain of all good (2), and that our care and labour, and also Thy gifts, cannot do us any good without Thy blessing (3). Grant therefore that we may withdraw our trust from all creatures, and place it only in Thee (4).
            </p>
            <br />
            <p>1) Psalm 104:27-30; 145:15, 16; Matthew 6:25-34</p>
            <p>2) Acts 14:17; 17:25; James 1:17</p>
            <p>3) Deuteronomy 8:3; Psalm 37:16; 127:1, 2; 1 Corinthians 15:58</p>
            <p>4) Psalm 55:22; 62; 146; Jeremiah 17:5-8; Hebrews 13:5, 6</p>
            <br />
        </li>
        <li id="Q126-129">
            <h4>What is the fifth petition?</h4>
            <p>
                And forgive us our debts, as we also have forgiven our debtors. That is: For the sake of Christ's blood, do not impute to us, wretched sinners; any of our transgressions, nor the evil which still clings to us (1), as we also find this evidence of Thy grace in us that we are fully determined wholeheartedly to forgive our neighbor (2).
            </p>
            <br />
            <p>1) Psalm 51:1-7; 143:2; Romans 8:1; 1 John 2:1, 2</p>
            <p>2) Matthew 6:14, 15; 18:21-35</p>
            <br />
        </li>
        <li>
            <h4>What is the sixth petition?</h4>
            <p>
                And lead us not into temptation, but deliver us from the evil one. That is: In ourselves we are so weak that we cannot stand even for a moment (1). Moreover, our sworn enemies-- the devil (2), the world (3), and our own flesh (4)-- do not cease to attack us. Wilt Thou, therefore, uphold and strengthen us by the power of Thy Holy Spirit, so that in this spiritual war (5) we may not go down to defeat, but always firmly resist our enemies, until we finally obtain the complete victory (6).
            </p>
            <br />
            <p>1) Psalm 103:14-16; John 15:1-5</p>
            <p>2) 2 Corinthians 11:14; Ephesians 6:10-13; 1 Peter 5:8</p>
            <p>3) John 15:18-21</p>
            <p>4) Romans 7:23; Galatians 5:17</p>
            <p>5) Matthew 10:19, 20; 26:41; Mark 13:33; Romans 5:3-5</p>
            <p>6) 1 Corinthians 10:13; 1 Thessalonians 3:13; 5:23</p>
            <br />
        </li>
        <li>
            <h4>How do you conclude your prayer?</h4>
            <p>
                For Thine is the kingdom, and the power, and the glory, for ever. That is: All this we ask of Thee because, as our King, having power over all things, Thou art both willing and able to give us all that is good (1), and because not we but Thy holy Name should so receive all glory for ever (2).
            </p>
            <br />
            <p>1) Romans 10:11-13; 2 Peter 2:9</p>
            <p>2) Psalm 115:1; Jeremiah 33:8, 9; John 14:13</p>
            <br />
        </li>
        <li>
            <h4>What does the word Amen mean?</h4>
            <p>
                Amen means: It is true and certain. For God has much more certainly heard my prayer than I feel in my heart that I desire this of Him (1).
            </p>
            <br />
            <p>1) Isaiah 65:24; 2 Corinthians 1:20; 2 Timothy 2:13</p>
            <br />
        </li>
    </ol>
}
