@{
    Layout = "DocumentLayout";
}

@section DocumentNavigation {
    <h1>Table of Contents</h1>
    <ol>
        <li><a href="#Q1-5">Questions 1-5</a></li>
        <li><a href="#Q6-10">Questions 6-10</a></li>
        <li><a href="#Q11-15">Questions 11-15</a></li>
        <li><a href="#Q16-20">Questions 16-20</a></li>
        <li><a href="#Q21-25">Questions 21-25</a></li>
        <li><a href="#Q26-30">Questions 26-30</a></li>
        <li><a href="#Q31-35">Questions 31-35</a></li>
        <li><a href="#Q36-40">Questions 36-40</a></li>
        <li><a href="#Q41-45">Questions 41-45</a></li>
        <li><a href="#Q46-50">Questions 46-50</a></li>
        <li><a href="#Q51-55">Questions 51-55</a></li>
        <li><a href="#Q56-60">Questions 56-60</a></li>
        <li><a href="#Q61-65">Questions 61-65</a></li>
        <li><a href="#Q66-70">Questions 66-70</a></li>
        <li><a href="#Q71-75">Questions 71-75</a></li>
        <li><a href="#Q76-80">Questions 76-80</a></li>
        <li><a href="#Q81-85">Questions 81-85</a></li>
        <li><a href="#Q86-90">Questions 86-90</a></li>
        <li><a href="#Q91-95">Questions 91-95</a></li>
        <li><a href="#Q96-100">Questions 96-100</a></li>
        <li><a href="#Q101-107">Questions 101-107</a></li>
    </ol>
}

@section DocumentDetails {
    <h1>Details</h1>
    <table>
        <tr>
            <td>Title</td>
            <td>The Westminster Shorter Catechism</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>The Westminster Assembly</td>
        </tr>
        <tr>
            <td>Date Written</td>
            <td>1646-1647</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>Westminster, London, England</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>English</td>
        </tr>
        <tr>
            <td>Purpose</td>
            <td>
                To educate Christians in the fundamental doctrines of the faith in a concise and accessible manner.
            </td>
        </tr>
    </table>
}

@section Title {
    <h1>The Westminster Shorter Catechism</h1>
}

@section DocumentContent {
    <ol class="decimal">
        <li id="Q1-5">
            <h4>What is the chief end of man?</h4>
            <p>Man’s chief end is to glorify God, and to enjoy him forever.</p> <br/>
            <p>1 Corinthians 10:31; Romans 11:36; Psalm 73:25-28</p> <br/>
        </li>
        <li>
            <h4>What rule hath God given to direct us how we may glorify and enjoy him?</h4>
            <p>The Word of God, which is contained in the Scriptures of the Old and New Testaments, is the only rule to direct us how we may glorify and enjoy him.</p> <br/>
            <p>2 Timothy 3:16; Ephesians 2:20; 1 John 1:3-4</p> <br/>
        </li>
        <li>
            <h4>What do the Scriptures principally teach?</h4>
            <p>The Scriptures principally teach, what man is to believe concerning God, and what duty God requires of man.</p> <br/>
            <p>2 Timothy 1:13; 2 Timothy 3:16</p> <br/>
        </li>
        <li>
            <h4>What is God?</h4>
            <p>God is a Spirit, infinite, eternal, and unchangeable, in his being, wisdom, power, holiness, justice, goodness, and truth.</p> <br/>
            <p>John 4:24; Job 11:7-9; Psalm 90:2; James 1:17; Exodus 3:14; Psalm 147:5; Revelation 4:8; Revelation 15:4; Exodus 34:6-7</p> <br/>
        </li>
        <li>
            <h4>Are there more Gods than one?</h4>
            <p>There is but one only, the living and true God.</p> <br/>
            <p>Deuteronomy 6:4; Jeremiah 10:10</p> <br/>
            
        </li>

        <li id="Q6-10">
            <h4>How many persons are there in the Godhead?</h4>
            <p>There are three persons in the Godhead; the Father, the Son, and the Holy Ghost; and these three are one God, the same in substance, equal in power and glory.</p> <br/>
            <p>1 John 5:7; Matthew 28:19</p> <br/>
        </li>
        <li>
            <h4>What are the decrees of God?</h4>
            <p>The decrees of God are, his eternal purpose, according to the counsel of his will, whereby, for his own glory, he hath foreordained whatsoever comes to pass.</p> <br/>
            <p>Ephesians 1:4,11; Romans 9:22-23</p> <br/>
        </li>
        <li>
            <h4>How doth God execute his decrees?</h4>
            <p>God executeth his decrees in the works of creation and providence.</p> <br/>
            <p>Psalms 148:8; Isaiah 40:26; Daniel 4:35; Acts 4:24-28; Revelation 4:11</p> <br/>
        </li>
        <li>
            <h4>What is the work of creation?</h4>
            <p>The work of creation is, God’s making all things of nothing, by the word of his power, in the space of six days, and all very good.</p> <br/>
            <p>Genesis 1; Hebrews 11:3</p> <br/>
        </li>
        <li>
            <h4>How did God create man?</h4>
            <p>God created man male and female, after his own image, in knowledge, righteousness, and holiness, with dominion over the creatures.</p> <br/>
            <p>Genesis 1:26-28; Colossians 3:10; Ephesians 4:24</p> <br/>
            
        </li>

        <li id="Q11-15">
            <h4>What are God’s works of providence?</h4>
            <p>God’s works of providence are, his most holy, wise, and powerful preserving and governing all his creatures, and all their actions.</p> <br/>
            <p>Psalms 145:17; Psalms 104:24; Isaiah 28:29; Hebrews 1:3; Psalms 103:19; Matthew 10:29-31</p> <br/>
        </li>
        <li>
            <h4>What special act of providence did God exercise toward man in the estate wherein he was created?</h4>
            <p>When God had created man, he entered into a covenant of life with him, upon condition of perfect obedience; forbidding him to eat of the tree of the knowledge of good and evil, upon the pain of death.</p> <br/>
            <p>Galatians 3:12; Genesis 2:17</p> <br/>
        </li>
        <li>
            <h4>Did our first parents continue in the estate wherein they were created?</h4>
            <p>Our first parents, being left to the freedom of their own will, fell from the estate wherein they were created, by sinning against God.</p> <br/>
            <p>Genesis 3:6-8,13; Ecclesiastes 7:29</p> <br/>
        </li>
        <li>
            <h4>What is sin?</h4>
            <p>Sin is any want of conformity unto, or transgression of, the law of God.</p> <br/>
            <p>1 John 3:4</p> <br/>
        </li>
        <li>
            <h4>What was the sin whereby our first parents fell from the estate wherein they were created?</h4>
            <p>The sin whereby our first parents fell from the estate wherein they were created, was their eating the forbidden fruit.</p> <br/>
            <p>Genesis 3:6,12</p> <br/>
            
        </li>

        <li id="Q16-20">
            <h4>Did all mankind fall in Adam’s first transgression?</h4>
            <p>The covenant being made with Adam, not only for himself, but for his posterity; all mankind, descending from him by ordinary generation, sinned in him, and fell with him in his first transgression.</p> <br/>
            <p>Genesis 2:16-17; Romans 5:12; 1 Corinthians 15:21-22</p> <br/>
        </li>
        <li>
            <h4>Into what estate did the fall bring mankind?</h4>
            <p>The fall brought mankind into an estate of sin and misery.</p> <br/>
            <p>Romans 5:12</p> <br/>
        </li>
        <li>
            <h4>Wherein consists the sinfulness of that estate whereinto man fell?</h4>
            <p>The sinfulness of that estate whereinto man fell, consists in the guilt of Adam’s first sin, the want of original righteousness, and the corruption of his whole nature, which is commonly called original sin; together with all actual transgressions which proceed from it.</p> <br/>
            <p>Romans 5:12,19; Romans 5:10-20; Ephesians 2:1-3; James 1:14-15; Matthew 15:19</p> <br/>
        </li>
        <li>
            <h4>What is the misery of that estate whereinto man fell?</h4>
            <p>All mankind, by their fall, lost communion with God, are under his wrath and curse, and so made liable to all miseries in this life, to death itself, and to the pains of hell for ever.</p> <br/>
            <p>Genesis 3:8,10,24; Ephesians 2:2-3; Galatians 3:10; Lamentations 3:39; Romans 6:23; Matthew 25:41,46</p> <br/>
        </li>
        <li>
            <h4>Did God leave all mankind to perish in the estate of sin and misery?</h4>
            <p>God having, out of his mere good pleasure, from all eternity, elected some to everlasting life, did enter into a covenant of grace, to deliver them out of the estate of sin and misery, and to bring them into an estate of salvation by a Redeemer.</p> <br/>
            <p>Ephesians 1:4; Romans 3:20-22; Galatians 3:21-22</p> <br/>
            
        </li>

        <li id="Q21-25">
            <h4>Who is the Redeemer of God’s elect?</h4>
            <p>The only Redeemer of God’s elect is the Lord Jesus Christ, who, being the eternal Son of God, became man, and so was, and continueth to be, God and man in two distinct natures, and one person, for ever.</p> <br/>
            <p>1 Timothy 2:5-6; John 1:14; Galatians 4:4; Romans 9:5; Luke 1:35; Colossians 2:9; Hebrews 7:24-25</p> <br/>
        </li>
        <li>
            <h4>How did Christ, being the Son of God, become man?</h4>
            <p>Christ, the Son of God, became man, by taking to himself a true body and a reasonable soul, being conceived by the power of the Holy Ghost, in the womb of the Virgin Mary, and born of her, yet without sin.</p> <br/>
            <p>Hebrews 2:14,16; Hebrews 10:5; Matthew 26:38; Luke 1:27,31,35,42; Galatians 4:4; Hebrews 4:15; Hebrews 7:26</p> <br/>
        </li>
        <li>
            <h4>What offices doth Christ execute as our Redeemer?</h4>
            <p>Christ, as our Redeemer, executeth the offices of a prophet, of a priest, and of a king, both in his estate of humiliation and exaltation.</p> <br/>
            <p>Acts 3:21-22; Hebrews 12:25 with 2 Corinthians 13:3; Hebrews 5:5-7; Hebrews 7:25; Psalms 2:6; Isaiah 9:6-7; Matthew 21:5; Psalms 2:8-11</p> <br/>
        </li>
        <li>
            <h4>How doth Christ execute the office of a prophet?</h4>
            <p>Christ executeth the office of a prophet, in revealing to us, by his Word and Spirit, the will of God for our salvation.</p> <br/>
            <p>John 1:18; 1 Peter 1:10-12; John 15:15; John 20:31</p> <br/>
        </li>
        <li>
            <h4>How doth Christ execute the office of a priest?</h4>
            <p>Christ executeth the office of a priest, in his once offering up of himself a sacrifice to satisfy divine justice and reconcile us to God, and in making continual intercession for us.</p> <br/>
            <p>Hebrews 9:14,28; Hebrews 2:17; Hebrews 7:24-25</p> <br/>
            
        </li>

        <li id="Q26-30">
            <h4>How doth Christ execute the office of a king?</h4>
            <p>Christ executeth the office of a king, in subduing us to himself, in ruling and defending us, and in restraining and conquering all his and our enemies.</p> <br/>
            <p>Acts 15:14-16; Isaiah 33:22; Isaiah 32:1-2; 1 Corinthians 15:25</p> <br/>
        </li>
        <li>
            <h4>Wherein did Christ’s humiliation consist?</h4>
            <p>Christ’s humiliation consisted in his being born, and that in a low condition, made under the law, undergoing the miseries of this life, the wrath of God, and the cursed death of the cross; in being buried, and continuing under the power of death for a time.</p> <br/>
            <p>Luke 2:7; Galatians 4:4; Hebrews 12:2-3; Isaiah 53:2-3; Luke 22:44; Matthew 27:46; Philippians 2:8; 1 Corinthians 15:3-4; Acts 2:24-27,31</p> <br/>
        </li>
        <li>
            <h4>Wherein consisteth Christ’s exaltation?</h4>
            <p>Christ’s exaltation consisteth in his rising again from the dead on the third day, in ascending up into heaven, in sitting at the right hand of God the Father, and in coming to judge the world at the last day.</p> <br/>
            <p>1 Corinthians 15:4; Mark 16:19; Ephesians 1:20; Acts 1:11; Acts 17:31</p> <br/>
        </li>
        <li>
            <h4>How are we made partakers of the redemption purchased by Christ?</h4>
            <p>We are made partakers of the redemption purchased by Christ, by the effectual application of it to us by his Holy Spirit.</p> <br/>
            <p>John 1:11-12; Titus 3:5-6</p> <br/>
        </li>
        <li>
            <h4>How doth the Spirit apply to us the redemption purchased by Christ?</h4>
            <p>The Spirit applieth to us the redemption purchased by Christ, by working faith in us, and thereby uniting us to Christ in our effectual calling.</p> <br/>
            <p>Ephesians 1:13-14; John 6:37,39; Ephesians 2:8; Ephesians 3:17; 1 Corinthians 1:9</p> <br/>
            
        </li>

        <li id="Q31-35">
            <h4>What is effectual calling?</h4>
            <p>Effectual calling is the work of God’s Spirit, whereby convincing us of our sin and misery, enlightening our minds in the knowledge of Christ, and renewing our wills, he doth persuade and enable us to embrace Jesus Christ, freely offered to us in the gospel.</p> <br/>
            <p>2 Timothy 1:9; 2 Thessalonians 2:13-14; Acts 2:37; Acts 26:18; Ezekiel 36:26-27; John 6:44-45; Philippians 2:13</p> <br/>
        </li>
        <li>
            <h4>What benefits do they that are effectually called partake of in this life?</h4>
            <p>They that are effectually called do in this life partake of justification, adoption, sanctification, and the several benefits which, in this life, do either accompany or flow from them.</p> <br/>
            <p>Romans 8:30; Ephesians 1:5; 1 Corinthians 1:26,30</p> <br/>
        </li>
        <li>
            <h4>What is justification?</h4>
            <p>Justification is an act of God’s free grace, wherein he pardoneth all our sins, and accepteth us as righteous in his sight, only for the righteousness of Christ imputed to us, and received by faith alone.</p> <br/>
            <p>Romans 3:24-25; Romans 4:6-8; 2 Corinthians 5:19,21; Romans 5:17-19; Galatians 2:16; Philippians 3:9</p> <br/>
        </li>
        <li>
            <h4>What is adoption?</h4>
            <p>Adoption is an act of God’s free grace, whereby we are received into the number, and have a right to all the privileges, of the sons of God.</p> <br/>
            <p>1 John 3:1; John 1:12; Romans 8:17</p> <br/>
        </li>
        <li>
            <h4>What is sanctification?</h4>
            <p>Sanctification is the work of God’s free grace, whereby we are renewed in the whole man after the image of God, and are enabled more and more to die unto sin, and live unto righteousness.</p> <br/>
            <p>2 Thessalonians 2:13; Ephesians 4:23-24; Romans 6:4,6; Romans 8:1</p> <br/>
            
        </li>

        <li id="Q36-40">
            <h4>What are the benefits which in this life do accompany or flow from justification, adoption, and sanctification?</h4>
            <p>The benefits which in this life do accompany or flow from justification, adoption, and sanctification, are, assurance of God’s love, peace of conscience, joy in the Holy Ghost, increase of grace, and perseverance therein to the end.</p> <br/>
            <p>Romans 5:1-2,5; Romans 14:17; Proverbs 4:18; 1 John 5:13; 1 Peter 1:5</p> <br/>
        </li>
        <li>
            <h4>What benefits do believers receive from Christ at death?</h4>
            <p>The souls of believers are, at their death, made perfect in holiness, and do immediately pass into glory; and their bodies, being still united to Christ, do rest in their graves until the resurrection.</p> <br/>
            <p>Hebrews 12:23; 2 Corinthians 5:1,6,8; Philippians 1:23; Luke 23:43; 1 Thessalonians 4:14; Isaiah 57:2; Job 19:26-27</p> <br/>
        </li>
        <li>
            <h4>What benefits do believers receive from Christ at the resurrection?</h4>
            <p>At the resurrection, believers, being raised up to glory, shall be openly acknowledged and acquitted in the day of judgment, and made perfectly blessed in the full enjoying of God to all eternity.</p> <br/>
            <p>1 Corinthians 15:43; Matthew 25:23; Matthew 10:32; 1 John 3:2; 1 Corinthians 13:12; 1 Thessalonians 4:17-18</p> <br/>
        </li>
        <li>
            <h4>What is the duty which God requireth of man?</h4>
            <p>The duty which God requireth of man, is obedience to his revealed will.</p> <br/>
            <p>Micah 6:8; 1 Samuel 15:22</p> <br/>
        </li>
        <li>
            <h4>What did God at first reveal to man for the rule of his obedience?</h4>
            <p>The rule which God at first revealed to man for his obedience, was the moral law.</p> <br/>
            <p>Romans 2:14-15; Romans 10:5</p> <br/>
            
        </li>

        <li id="Q41-45">
            <h4>Where is the moral law summarily comprehended?</h4>
            <p>The moral law is summarily comprehended in the ten commandments.</p> <br/>
            <p>Deuteronomy 10:4; Matthew 19:17</p> <br/>
        </li>
        <li>
            <h4>What is the sum of the ten commandments?</h4>
            <p>The sum of the ten commandments is, to love the Lord our God, with all our heart, with all our soul, with all our strength, and with all our mind; and our neighbor as ourselves.</p> <br/>
            <p>Matthew 22:37-40</p> <br/>
        </li>
        <li>
            <h4>What is the preface to the ten commandments?</h4>
            <p>The preface to the ten commandments is in these words, I am the Lord thy God, which have brought thee out of the land of Egypt, out of the house of bondage.</p> <br/>
            <p>Exodus 20:2</p> <br/>
        </li>
        <li>
            <h4>What doth the preface to the ten commandments teach us?</h4>
            <p>The preface to the ten commandments teacheth us, that because God is the Lord, and our God, and Redeemer, therefore we are bound to keep all his commandments.</p> <br/>
            <p>Luke 1:74-75; 1 Peter 1:15-19</p> <br/>
        </li>
        <li>
            <h4>Which is the first commandment?</h4>
            <p>The first commandment is, Thou shalt have no other gods before me.</p> <br/>
            <p>Exodus 20:3</p> <br/>
            
        </li>

        <li id="Q46-50">
            <h4>What is required in the first commandment?</h4>
            <p>The first commandment requireth us to know and acknowledge God to be the only true God, and our God, and to worship and glorify him accordingly.</p> <br/>
            <p>1 Chronicles 28:9; Deuteronomy 26:17; Matthew 4:10; Psalms 29:2</p> <br/>
        </li>
        <li>
            <h4>What is forbidden in the first commandment?</h4>
            <p>The first commandment forbiddeth the denying, or not worshipping and glorifying, the true God as God, and our God; and the giving of that worship and glory to any other, which is due to him alone.</p> <br/>
            <p>Psalms 14:1; Romans 1:21; Psalms 81:10-11; Romans 1:25-26</p> <br/>
        </li>
        <li>
            <h4>What are we specially taught by these words, "before me," in the first commandment?</h4>
            <p>These words, "before me," in the first commandment teach us, that God, who seeth all things, taketh notice of, and is much displeased with, the sin of having any other God.</p> <br/>
            <p>Ezekiel 8:5-18; Psalms 44:20-21</p> <br/>
        </li>
        <li>
            <h4>Which is the second commandment?</h4>
            <p>The second commandment is, Thou shalt not make unto thee any graven image, or any likeness of anything that is in heaven above, or that is in the earth beneath, or that is in the water under the earth; thou shalt not bow down thyself to them, nor serve them; for I the Lord thy God am a jealous God, visiting the iniquity of the fathers upon the children unto the third and fourth generation of them that hate me: and showing mercy unto thousands of them that love me, and keep my commandments.</p> <br/>
            <p>Exodus 20:4-6</p> <br/>
        </li>
        <li>
            <h4>What is required in the second commandment?</h4>
            <p>The second commandment requireth the receiving, observing, and keeping pure and entire, all such religious worship and ordinances as God hath appointed in his Word.</p> <br/>
            <p>Deuteronomy 32:46; Matthew 28:20; Acts 2:42</p> <br/>
            
        </li>

        <li id="Q51-55">
            <h4>What is forbidden in the second commandment?</h4>
            <p>The second commandment forbiddeth the worshipping of God by images, or any other way not appointed in his Word.</p> <br/>
            <p>Deuteronomy 4:15-19; Exodus 32:5,8; Deuteronomy 12:31-32</p> <br/>
        </li>
        <li>
            <h4>What are the reasons annexed to the second commandment?</h4>
            <p>The reasons annexed to the second commandment are, God’s sovereignty over us, his propriety in us, and the zeal he hath to his own worship.</p> <br/>
            <p>Psalms 95:2-3,6; Psalms 45:11; Exodus 34:13-14</p> <br/>
        </li>
        <li>
            <h4>Which is the third commandment?</h4>
            <p>The third commandment is, Thou shalt not take the name of the Lord thy God in vain: for the Lord will not hold him guiltless that taketh his name in vain.</p> <br/>
            <p>Exodus 20:7</p> <br/>
        </li>
        <li>
            <h4>What is required in the third commandment?</h4>
            <p>The third commandment requireth the holy and reverent use of God’s names, titles, attributes, ordinances, word, and works.</p> <br/>
            <p>Matthew 6:9; Deuteronomy 28:58; Psalms 68:4; Revelation 15:3-4; Malachi 1:11,14; Psalms 138:1-2; Job 36:24</p> <br/>
        </li>
        <li>
            <h4>What is forbidden in the third commandment?</h4>
            <p>The third commandment forbiddeth all profaning or abusing of anything whereby God maketh himself known.</p> <br/>
            <p>Malachi 1:6-7,12; Malachi 2:2; Malachi 3:14</p> <br/>
            
        </li>

        <li id="Q56-60">
            <h4>What is the reason annexed to the third commandment?</h4>
            <p>The reason annexed to the third commandment is, that however the breakers of this commandment may escape punishment from men, yet the Lord our God will not suffer them to escape his righteous judgment.</p> <br/>
            <p>1 Samuel 2:12,17,22,29; 1 Samuel 3:13; Deuteronomy 28:58-59</p> <br/>
        </li>
        <li>
            <h4>Which is the fourth commandment?</h4>
            <p>The fourth commandment is, Remember the Sabbath day, to keep it holy. Six days shalt thou labor, and do all thy work: but the seventh day is the Sabbath of the Lord thy God: in it thou shalt not do any work, thou, nor thy son, nor thy daughter, thy man-servant, nor thy maid-servant, nor thy cattle, nor thy stranger that is within thy gates: for in six days the Lord made heaven and earth, the sea, and all that in them is, and rested the seventh day: wherefore the Lord blessed the Sabbath-day, and hallowed it.</p> <br/>
            <p>Exodus 20:8-11</p> <br/>
        </li>
        <li>
            <h4>What is required in the fourth commandment?</h4>
            <p>The fourth commandment requireth the keeping holy to God such set times as he hath appointed in his Word; expressly one whole day in seven, to be a holy Sabbath to himself.</p> <br/>
            <p>Deuteronomy 5:12-14</p> <br/>
        </li>
        <li>
            <h4>Which day of the seven hath God appointed to be the weekly Sabbath?</h4>
            <p>From the beginning of the world to the resurrection of Christ, God appointed the seventh day of the week to be the weekly Sabbath; and the first day of the week, ever since, to continue to the end of the world, which is the Christian Sabbath.</p> <br/>
            <p>Genesis 2:2-3; 1 Corinthians 16:1-2; Acts 20:7</p> <br/>
        </li>
        <li>
            <h4>How is the Sabbath to be sanctified?</h4>
            <p>The Sabbath is to be sanctified by a holy resting all that day, even from such worldly employments and recreations as are lawful on other days; and spending the whole time in the public and private exercises of God’s worship, except so much as is to be taken up in the works of necessity and mercy.</p> <br/>
            <p>Exodus 20:8,10; Exodus 16:25-28; Nehemiah 13:15-19,21-22; Luke 4:16; Acts 20:7; Psalms 92 title; Isaiah 66:23; Matthew 12:1-13</p> <br/>
            
        </li>

        <li id="Q61-65">
            <h4>What is forbidden in the fourth commandment?</h4>
            <p>The fourth commandment forbiddeth the omission, or careless performance, of the duties required, and the profaning the day by idleness, or doing that which is in itself sinful, or by unnecessary thoughts, words, or works, about our worldly employments or recreations.</p> <br/>
            <p>Ezekiel 22:26; Amos 8:5; Malachi 1:13; Acts 20:7,9; Ezekiel 23:38; Jeremiah 17:24-26; Isaiah 58:13</p> <br/>
        </li>
        <li>
            <h4>What are the reasons annexed to the fourth commandment?</h4>
            <p>The reasons annexed to the fourth commandment are, God’s allowing us six days of the week for our own employments, his challenging a special propriety in the seventh, his own example, and his blessing the Sabbath day.</p> <br/>
            <p>Exodus 20:9,11</p> <br/>
        </li>
        <li>
            <h4>Which is the fifth commandment?</h4>
            <p>The fifth commandment is, Honor thy father and thy mother: that thy days may be long upon the land which the Lord thy God giveth thee.</p> <br/>
            <p>Exodus 20:12</p> <br/>
        </li>
        <li>
            <h4>What is required in the fifth commandment?</h4>
            <p>The fifth commandment requireth the preserving the honor, and performing the duties, belonging to every one in their several places and relations, as superiors, inferiors, or equals.</p> <br/>
            <p>Ephesians 5:21; 1 Peter 2:17; Romans 12:10</p> <br/>
        </li>
        <li>
            <h4>What is forbidden in the fifth commandment?</h4>
            <p>The fifth commandment forbiddeth the neglecting of, or doing anything against, the honor and duty which belongeth to every one in their several places and relations.</p> <br/>
            <p>Matthew 15:4-6; Ezekiel 34:2-4; Romans 13:8</p> <br/>
            
        </li>

        <li id="Q66-70">
            <h4>What is the reason annexed to the fifth commandment?</h4>
            <p>The reason annexed to the fifth commandment is, a promise of long life and prosperity (as far as it shall serve for God’s glory, and their own good) to all such as keep this commandment.</p> <br/>
            <p>Deuteronomy 5:16; Ephesians 6:2-3</p> <br/>
        </li>
        <li>
            <h4>Which is the sixth commandment?</h4>
            <p>The sixth commandment is, Thou shalt not kill.</p> <br/>
            <p>Exodus 20:13</p> <br/>
        </li>
        <li>
            <h4>What is required in the sixth commandment?</h4>
            <p>The sixth commandment requireth all lawful endeavours to preserve our own life, and the life of others.</p> <br/>
            <p>Ephesians 5:28-29; 1 Kings 18:4</p> <br/>
        </li>
        <li>
            <h4>What is forbidden in the sixth commandment?</h4>
            <p>The sixth commandment forbiddeth the taking away of our own life, or the life of our neighbor unjustly, or whatsoever tendeth thereunto.</p> <br/>
            <p>Acts 16:28; Genesis 9:6</p> <br/>
        </li>
        <li>
            <h4>What is the seventh commandment?</h4>
            <p>The seventh commandment is, Thou shalt not commit adultery.</p> <br/>
            <p>Exodus 20:14</p> <br/>
            
        </li>

        <li id="Q71-75">
            <h4>What is required in the seventh commandment?</h4>
            <p>The seventh commandment requireth the preservation of our own and our neighbor’s chastity, in heart, speech, and behaviour.</p> <br/>
            <p>1 Corinthians 7:2-3,5,34,36; Colossians 4:6; 1 Peter 3:2</p> <br/>
        </li>
        <li>
            <h4>What is forbidden in the seventh commandment?</h4>
            <p>The seventh commandment forbiddeth all unchaste thoughts, words, and actions.</p> <br/>
            <p>Matthew 15:19; Matthew 5:28; Ephesians 5:3-4</p> <br/>
        </li>
        <li>
            <h4>Which is the eighth commandment?</h4>
            <p>The eighth commandment is, Thou shalt not steal.</p> <br/>
            <p>Exodus 20:15</p> <br/>
        </li>
        <li>
            <h4>What is required in the eighth commandment?</h4>
            <p>The eighth commandment requireth the lawful procuring and furthering the wealth and outward estate of ourselves and others.</p> <br/>
            <p>Genesis 30:30; 1 Timothy 5:8; Leviticus 25:35; Deuteronomy 22:1-5; Exodus 23:4-5; Genesis 47:14,20</p> <br/>
        </li>
        <li>
            <h4>What is forbidden in the eighth commandment?</h4>
            <p>The eighth commandment forbiddeth whatsoever doth, or may, unjustly hinder our own, or our neighbor’s, wealth, or outward estate.</p> <br/>
            <p>Proverbs 21:17; Proverbs 23:20-21; Proverbs 28:19; Ephesians 4:28</p> <br/>
            
        </li>

        <li id="Q76-80">
            <h4>Which is the ninth commandment?</h4>
            <p>The ninth commandment is, Thou shalt not bear false witness against thy neighbor.</p> <br/>
            <p>Exodus 20:16</p> <br/>
        </li>
        <li>
            <h4>What is required in the ninth commandment?</h4>
            <p>The ninth commandment requireth the maintaining and promoting of truth between man and man, and of our own and our neighbor’s good name, especially in witness bearing.</p> <br/>
            <p>Zechariah 8:16; 3 John 1:12; Proverbs 14:5,25</p> <br/>
        </li>
        <li>
            <h4>What is forbidden in the ninth commandment?</h4>
            <p>The ninth commandment forbiddeth whatsoever is prejudicial to truth, or injurious to our own or our neighbor’s good name.</p> <br/>
            <p>1 Samuel 17:28; Leviticus 19:16; Psalms 15:3</p> <br/>
        </li>
        <li>
            <h4>Which is the tenth commandment?</h4>
            <p>The tenth commandment is, Thou shalt not covet thy neighbor’s house, thou shalt not covet thy neighbor’s wife, nor his man-servant, nor his maid-servant, nor his ox, nor his ass, nor anything that is thy neighbor’s.</p> <br/>
            <p>Exodus 20:17</p> <br/>
        </li>
        <li>
            <h4>What is required in the tenth commandment?</h4>
            <p>The tenth commandment requireth full contentment with our own condition, with a right and charitable frame of spirit toward our neighbor, and all that is his.</p> <br/>
            <p>Hebrews 13:5; 1 Timothy 6:6; Job 31:29; Romans 12:15; 1 Timothy 1:5; 1 Corinthians 13:4-7</p> <br/>
            
        </li>

        <li id="Q81-85">
            <h4>What is forbidden in the tenth commandment?</h4>
            <p>The tenth commandment forbiddeth all discontentment with our own estate, envying or grieving at the good of our neighbor, and all inordinate motions and affections to anything that is his.</p> <br/>
            <p>1 Kings 21:4; Esther 5:13; 1 Corinthians 10:10; Galatians 5:26; James 3:14,16; Romans 7:7-8; Romans 13:9; Deuteronomy 5:21</p> <br/>
        </li>
        <li>
            <h4>Is any man able perfectly to keep the commandments of God?</h4>
            <p>No mere man since the fall is able in this life perfectly to keep the commandments of God, but doth daily break them in thought, word, and deed.</p> <br/>
            <p>Ecclesiastes 7:20; 1 John 1:8,10; Galatians 5:17; Genesis 6:5; Genesis 8:21; Romans 3:9-21; James 3:2-13</p> <br/>
        </li>
        <li>
            <h4>Are all transgressions of the law equally heinous?</h4>
            <p>Some sins in themselves, and by reason of several aggravations, are more heinous in the sight of God than others.</p> <br/>
            <p>Ezekiel 8:6,13,15; 1 John 5:16; Psalms 78:17,32,56</p> <br/>
        </li>
        <li>
            <h4>What doth every sin deserve?</h4>
            <p>Every sin deserveth God’s wrath and curse, both in this life, and that which is to come.</p> <br/>
            <p>Ephesians 5:6; Galatians 3:10; Lamentations 3:39; Matthew 25:41</p> <br/>
        </li>
        <li>
            <h4>What doth God require of us, that we may escape his wrath and curse, due to us for sin?</h4>
            <p>To escape the wrath and curse of God, due to us for sin, God requireth of us faith in Jesus Christ, repentance unto life, with the diligent use of all the outward means whereby Christ communicateth to us the benefits of redemption.</p> <br/>
            <p>Acts 20:21; Proverbs 2:1-5; Proverbs 8:33-36; Isaiah 55:3</p> <br/>
            
        </li>

        <li id="Q86-90">
            <h4>What is faith in Jesus Christ?</h4>
            <p>Faith in Jesus Christ is a saving grace, whereby we receive and rest upon him alone for salvation, as he is offered to us in the gospel.</p> <br/>
            <p>Hebrews 10:39; John 1:12; Isaiah 26:3-4; Philippians 3:9; Galatians 2:16</p> <br/>
        </li>
        <li>
            <h4>What is repentance unto life?</h4>
            <p>Repentance unto life is a saving grace, whereby a sinner, out of a true sense of his sin, and apprehension of the mercy of God in Christ, doth, with grief and hatred of his sin, turn from it unto God, with full purpose of, and endeavor after, new obedience.</p> <br/>
            <p>Acts 11:18; Acts 2:37-38; Joel 2:12; Jeremiah 3:22; Jeremiah 31:18-19; Ezekiel 36:31; 2 Corinthians 7:11; Isaiah 1:16-17</p> <br/>
        </li>
        <li>
            <h4>What are the outward and ordinary means whereby Christ communicateth to us the benefits of redemption?</h4>
            <p>The outward and ordinary means whereby Christ communicateth to us the benefits of redemption are, his ordinances, especially the Word, Sacraments, and prayer; all which are made effectual to the elect for salvation.</p> <br/>
            <p>Matthew 28:19-20; Acts 2:42,46-47</p> <br/>
        </li>
        <li>
            <h4>How is the Word made effectual to salvation?</h4>
            <p>The Spirit of God maketh the reading, but especially the preaching, of the Word, an effectual means of convincing and converting sinners, and of building them up in holiness and comfort through faith unto salvation.</p> <br/>
            <p>Nehemiah 8:8; 1 Corinthians 14:24-25; Acts 26:18; Psalms 19:8; Acts 20:32; Romans 15:4; 2 Timothy 3:15-17; Romans 10:13-17; Romans 1:16</p> <br/>
        </li>
        <li>
            <h4>How is the Word to be read and heard, that it may become effectual to salvation?</h4>
            <p>That the Word may become effectual to salvation, we must attend thereunto with diligence, preparation, and prayer; receive it with faith and love, lay it up in our hearts, and practice it in our lives.</p> <br/>
            <p>Proverbs 8:34; 1 Peter 2:1-2; Psalms 119:18; Hebrews 4:2; 2 Thessalonians 2:10; Psalms 119:11; Luke 8:15; James 1:25</p> <br/>
            
        </li>

        <li id="Q91-95">
            <h4>How do the Sacraments become effectual means of salvation?</h4>
            <p>The Sacraments become effectual means of salvation, not from any virtue in them, or in him that doth administer them; but only by the blessing of Christ, and the working of his Spirit in them that by faith receive them.</p> <br/>
            <p>1 Peter 3:21; Matthew 3:11; 1 Corinthians 3:6-7; 1 Corinthians 12:13</p> <br/>
        </li>
        <li>
            <h4>What is a Sacrament?</h4>
            <p>A Sacrament is a holy ordinance instituted by Christ; wherein, by sensible signs, Christ and the benefits of the new covenant are represented, sealed, and applied to believers.</p> <br/>
            <p>Genesis 17:7,10; Exodus 12; 1 Corinthians 11:23,26</p> <br/>
        </li>
        <li>
            <h4>Which are the Sacraments of the New Testament?</h4>
            <p>The Sacraments of the New Testament are Baptism, and the Lord’s Supper.</p> <br/>
            <p>Matthew 28:19; Matthew 26:26-28</p> <br/>
        </li>
        <li>
            <h4>What is Baptism?</h4>
            <p>Baptism is a Sacrament, wherein the washing with water, in the name of the Father, and of the Son, and of the Holy Ghost, doth signify and seal our ingrafting into Christ, and partaking of the benefits of the covenant of grace, and our engagement to be the Lord’s.</p> <br/>
            <p>Matthew 28:19; Romans 6:4; Galatians 3:27</p> <br/>
        </li>
        <li>
            <h4>To whom is Baptism to be administered?</h4>
            <p>Baptism is not to be administered to any that are out of the visible Church, till they profess their faith in Christ, and obedience to him; but the infants of such as are members of the visible Church are to be baptized.</p> <br/>
            <p>Acts 8:36-37; Acts 2:38-39; Genesis 17:10 with Colossians 2:11-12; 1 Corinthians 7:14</p> <br/>
            
        </li>

        <li id="Q96-100">
            <h4>What is the Lord’s Supper?</h4>
            <p>The Lord’s Supper is a Sacrament, wherein, by giving and receiving bread and wine, according to Christ’s appointment, his death is showed forth; and the worthy receivers are, not after a corporal and carnal manner, but by faith, made partakers of his body and blood, with all his benefits, to their spiritual nourishment and growth in grace.</p> <br/>
            <p>1 Corinthians 11:23-26; 1 Corinthians 10:16</p> <br/>
        </li>
        <li>
            <h4>What is required to the worthy receiving of the Lord’s Supper?</h4>
            <p>It is required of them that would worthily partake of the Lord’s Supper, that they examine themselves, of their knowledge to discern the Lord’s body, of their faith to feed upon him, of their repentance, love, and new obedience; lest, coming unworthily, they eat and drink judgment to themselves.</p> <br/>
            <p>1 Corinthians 11:28-29; 2 Corinthians 13:5; 1 Corinthians 11:31; 1 Corinthians 10:16-17; 1 Corinthians 5:7-8</p> <br/>
        </li>
        <li>
            <h4>What is prayer?</h4>
            <p>Prayer is an offering up of our desires unto God, for things agreeable to his will, in the name of Christ, with confession of our sins, and thankful acknowledgment of his mercies.</p> <br/>
            <p>Psalms 62:8; 1 John 5:14; John 16:23; Psalms 32:5-6; Daniel 9:4; Philippians 4:6</p> <br/>
        </li>
        <li>
            <h4>What rule hath God given for our direction in prayer?</h4>
            <p>The whole Word of God is of use to direct us in prayer, but the special rule of direction is that form of prayer which Christ taught his disciples, commonly called, The Lord’s Prayer.</p> <br/>
            <p>1 John 5:14; Matthew 6:9-13 with Luke 11:2-4</p> <br/>
        </li>
        <li>
            <h4>What doth the preface of the Lord’s Prayer teach us?</h4>
            <p>The preface of the Lord’s Prayer, which is, "Our Father which art in heaven," teacheth us to draw near to God with all holy reverence and confidence, as children to a father, able and ready to help us; and that we should pray with and for others.</p> <br/>
            <p>Matthew 6:9; Romans 8:15; Luke 11:13; Acts 12:5; 1 Timothy 2:1-2</p> <br/>
            
        </li>

        <li id="Q101-107">
            <h4>What do we pray for in the first petition?</h4>
            <p>In the first petition, which is, "Hallowed be thy name," we pray, that God would enable us, and others, to glorify him in all that whereby he maketh himself known, and that he would dispose all things to his own glory.</p> <br/>
            <p>Matthew 6:9; Psalms 67:2-3; Psalms 83</p> <br/>
        </li>
        <li>
            <h4>What do we pray for in the second petition?</h4>
            <p>In the second petition, which is, "Thy kingdom come," we pray, that Satan’s kingdom may be destroyed; and that the kingdom of grace may be advanced, ourselves and others brought into it, and kept in it; and that the kingdom of glory may be hastened.</p> <br/>
            <p>Matthew 6:10; Psalms 68:1,18; Revelation 12:10-11; 2 Thessalonians 3:1; Romans 10:1; John 17:9,20; Revelation 22:20</p> <br/>
        </li>
        <li>
            <h4>What do we pray for in the third petition?</h4>
            <p>In the third petition, which is, "Thy will be done in earth as it is in heaven," we pray, that God, by his grace, would make us able and willing to know, obey, and submit to his will in all things, as the angels do in heaven.</p> <br/>
            <p>Matthew 6:10; Psalms 67; Psalms 119:36; Matthew 26:39; 2 Samuel 15:25; Job 1:21; Psalms 103:20-21</p> <br/>
        </li>
        <li>
            <h4>What do we pray for in the fourth petition?</h4>
            <p>In the fourth petition, which is, "Give us this day our daily bread," we pray, that of God’s free gift we may receive a competent portion of the good things of this life, and enjoy his blessing with them.</p> <br/>
            <p>Matthew 6:11; Proverbs 30:8-9; Genesis 28:20; 1 Timothy 4:4-5</p> <br/>
        </li>
        <li>
            <h4>What do we pray for in the fifth petition?</h4>
            <p>In the fifth petition, which is, "And forgive us our debts, as we forgive our debtors," we pray, that God, for Christ’s sake, would freely pardon all our sins; which we are the rather encouraged to ask, because by his grace we are enabled from the heart to forgive others.</p> <br/>
            <p>Matthew 6:12; Psalms 51:1-2,7,9; Daniel 9:17-19; Luke 11:4; Matthew 18:35</p> <br/>
        </li>
        <li>
            <h4>What do we pray for in the sixth petition?</h4>
            <p>In the sixth petition, which is, "And lead us not into temptation, but deliver us from evil," we pray, that God would either keep us from being tempted to sin, or support and deliver us when we are tempted.</p> <br/>
            <p>Matthew 6:12; Matthew 26:41; 2 Corinthians 12:7-8</p> <br/>
        </li>
        <li>
            <h4>What doth the conclusion of the Lord’s Prayer teach us?</h4>
            <p>The conclusion of the Lord’s Prayer, which is, "For thine is the kingdom, and the power, and the glory, for ever. Amen," teacheth us to take our encouragement in prayer from God only, and in our prayers to praise him, ascribing kingdom, power, and glory to him; and in testimony of our desire and assurance to be heard, we say, Amen.</p> <br/>
            <p>Matthew 6:13; Daniel 9:4-9,16-19; 1 Chronicles 29:10-13; 1 Corinthians 14:16; Revelation 22:20-21</p> <br/>
            
        </li>
    </ol>
}
