@{
    Layout = "DocumentLayout";
}

@section DocumentNavigation {
<h1>Table of Contents</h1>

<ol>
    <li><a href="#Section1">About the Gospel</a></li>
    <li><a href="#Section2">About the Pope</a></li>
    <li><a href="#Section3">About the Mass</a></li>
    <li><a href="#Section4">About the Intercession of the Saints</a></li>
    <li><a href="#Section5">About Good Works</a></li>
    <li><a href="#Section6">Concerning Clerical Property</a></li>
    <li><a href="#Section7">Concerning the Forbidding of Food</a></li>
    <li><a href="#Section8">About Holiday and Pilgrimage</a></li>
    <li><a href="#Section9">About Hoods, Dress, Insignia</a></li>
    <li><a href="#Section10">About Orders and Sects</a></li>
    <li><a href="#Section11">About the Marriage of Ecclesiasts</a></li>
    <li><a href="#Section12">About the Vow of Chastity</a></li>
    <li><a href="#Section13">About Excommunication</a></li>
    <li><a href="#Section14">About Illegal Property</a></li>
    <li><a href="#Section15">About the Magistry</a></li>
    <li><a href="#Section16">About Prayer</a></li>
    <li><a href="#Section17">About Offence</a></li>
    <li><a href="#Section18">About Remittance of Sin</a></li>
    <li><a href="#Section19">About Purgatory</a></li>
    <li><a href="#Section20">About the Priesthood</a></li>
    <li><a href="#Section21">About the Cessation of Misusages</a></li>
</ol>
}

@section DocumentDetails {
    <h1>Details</h1>

    <img src="~/img/ArticlesOfZwingli.jpg" />

    <table>
        <tr>
            <td>Author</td>
            <td>Ulrich Zwingli</td>
        </tr>
        <tr>
            <td>Date Written</td>
            <td>1523</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>Zurich, Switzerland</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Latin</td>
        </tr>
    </table>
}

@section DocumentContent {
    <h1 id="Section1">Zwingli's 67 Articles</h1> 
    <br />
    
    <p>
        The articles and opinions below, I, Ulrich Zwingli, confess to have preached in the worthy city of Zurich as 
        based upon the Scriptures which are called inspired by God, and I offer to protect and conquer with the said 
        articles, and where I have not now correctly understood said Scriptures I shall allow myself to be taught 
        better, but only from said Scriptures.
    </p>
    <br />
    
    <h2>About the Gospel</h2>
    <br />
    
    <h3>Article 1</h3>
    <p>
        All who say that the Gospel is invalid without the confirmation of the Church err and slander God.
    </p>
    <br />

    <h3>Article 2</h3>
    <p>
        The sum and substance of the Gospel is that our Lord Jesus Christ, the true Son of God, has made known to us 
        the will of his heavenly Father, and has with his innocence released us from death and reconciled God.
    </p>
    <br />

    <h3>Article 3</h3>
    <p>
        Hence Christ is the only way to salvation for all who ever were, are and shall be.
    </p>
    <br />

    <h3>Article 4</h3>
    <p>
        Who seeks or points out another door errs, yes, he is a murderer of souls and a thief.
    </p>
    <br />

    <h3>Article 5</h3>
    <p>
        Therefore all who consider other teachings equal to or higher than the Gospel err, and do not know what the 
        Gospel is.
    </p>
    <br />

    <h3>Article 6</h3>
    <p>
        For Jesus Christ is the guide and leader, promised by God to all human beings, which promise was fulfilled.
    </p>
    <br />

    <h3>Article 7</h3>
    <p>
        That he is an eternal salvation and head of all believers, who are his body, but which is dead and can do 
        nothing without him.
    </p>
    <br />

    <h3>Article 8</h3>
    <p>
        From this follows first that all who dwell in the head are members and children of God, and that it is the 
        church or communion of the saints, the bride of Christ, Ecclesia catholica.
    </p>
    <br />

    <h3>Article 9</h3>
    <p>
        Furthermore, that as the members of the body can do nothing without the control of the head, so no one in the 
        body of Christ can do the least without his head, Christ.
    </p>
    <br />

    <h3>Article 10</h3>
    <p>
        As that man is mad whose limbs (try to) do something without his head, tearing, wounding, injuring himself; 
        thus when the members of Christ undertake something without their head, Christ, they are mad, and injure and 
        burden themselves with unwise ordinances.
    </p>
    <br />

    <h3>Article 11</h3>
    <p>
        Hence we see in the clerical (so—called) ordinances, concerning their splendor, riches, classes, titles, laws, 
        a cause of all foolishness, for they do not also agree with the head.
    </p>
    <br />

    <h3>Article 12</h3>
    <p>
        Thus they still rage, not on account of the head (for that one is eager to bring forth in these times from the 
        grace of God,) but because one will not let them rage, but tries to compel them to listen to the head.
    </p>
    <br />

    <h3>Article 13</h3>
    <p>
        Where this (the head) is hearkened to one learns clearly and plainly the will of God, and man is attracted by 
        his spirit to him and changed into him.
    </p>
    <br />

    <h3>Article 14</h3>
    <p>
        Therefore all Christian people shall use their best diligence that the Gospel of Christ be preached alike 
        everywhere.
    </p>
    <br />

    <h3>Article 15</h3>
    <p>
        For in the faith rests our salvation, and in unbelief our damnation; for all truth is clear in him.
    </p>
    <br />

    <h3>Article 16</h3>
    <p>
        In the Gospel one learns that human doctrines and decrees do not aid in salvation.
    </p>
    <br />
    
    <h2 id="Section2">About the Pope</h2>
    <br />
    
    <h3>Article 17</h3>
    <p>
        That Christ is the only eternal high priest, from which it follows that those who have called themselves high 
        priests have opposed the honor and power of Christ, yes, cast it out.
    </p>
    <br />

    <h2 id="Section3">About the Mass</h2>
    <br />

    <h3>Article 18</h3>
    <p>
        That Christ, having sacrificed himself once, is to eternity a certain and valid sacrifice for the sins of all 
        faithful, from which it follows that the mass is not a sacrifice, but is a remembrance of the sacrifice and 
        assurance of the salvation which Christ has given us.
    </p>
    <br />

    <h3>Article 19</h3>
    <p>
        That Christ is the only mediator between God and us.
    </p>
    <br />

    <h2 id="Section4">About the Intercession of the Saints</h2>
    <br />

    <h3>Article 20</h3>
    <p>
        That God desires to give us all things in his name, whence it follows that outside of this life we need no 
        mediator except himself.
    </p>
    <br />
    
    <h3>Article 21</h3>
    <p>
        That when we pray for each other on earth, we do so in such manner that we believe that all things are given to 
        us through Christ alone.
    </p>
    <br />

    <h2 id="Section5">About Good Works</h2>
    <br />

    <h3>Article 22</h3>
    <p>
        That Christ is our justice, from which follows that our works in so far as they are good, so far they are of 
        Christ, but in so far as they are ours, they are neither right nor good.
    </p>
    <br />

    <h2 id="Section6">Concerning Clerical Property</h2>
    <br />

    <h3>Article 23</h3>
    <p>
        That Christ scorns the property and pomp of this world, whence from it follows that those who attract wealth to 
        themselves in his name slander him terribly when they make him a pretext for their avarice and willfulness.
    </p>
    <br />

    <h2 id="Section7">Concerning the Forbidding of Food</h2>
    <br />

    <h3>Article 24</h3>
    <p>
        That no Christian is bound to do those things which God has not decreed, therefore one may eat at all times all 
        food, from which one learns that the decree about cheese and butter is a Roman swindle.
    </p>
    <br />

    <h2 id="Section8">About Holiday and Pilgrimage</h2>
    <br />

    <h3>Article 25</h3>
    <p>
        That time and place is under the jurisdiction of Christian people, and man with them, from which is learned 
        that those who fix time and place deprive the Christians of their liberty.
    </p>
    <br />

    <h2 id="Section9">About Hoods, Dress, Insignia</h2>
    <br />

    <h3>Article 26</h3>
    <p>
        That God is displeased with nothing so much as with hypocrisy; from which is learned that all is gross 
        hypocrisy and profligacy which is mere show before men. Under this condemnation fall hoods, insignia, plates, 
        etc.
    </p>
    <br />

    <h2 id="Section10">About Orders and Sects</h2>
    <br />

    <h3>Article 27</h3>
    <p>
        That all Christian men are brethren of Christ and brethren of one another, and shall create no father (for 
        themselves) on earth. Under this condemnation fall orders, sects, brotherhoods, etc.
    </p>
    <br />
    
    <h2 id="Section11">About the Marriage of Ecclesiasts</h2>
    <br />

    <h3>Article 28</h3>
    <p>
        That all which God has allowed or not forbidden is righteous, hence marriage is permitted to all human beings.
    </p>
    <br />

    <h3>Article 29</h3>
    <p>
        That all who are known as clergy sin when they do not protect themselves by marriage after they have become 
        conscious that God has not enabled them to remain chaste.
    </p>
    <br />
    
    <h2 id="Section12">About the Vow of Chastity</h2>
    <br />

    <h3>Article 30</h3>
    <p>
        That those who promise chastity outside of matrimony take foolishly or childishly too much upon themselves, 
        from which is learned that those who make such vows do wrong to the pious being.
    </p>
    <br />

    <h2 id="Section13">About Excommunication</h2>
    <br />

    <h3>Article 31</h3>
    <p>
        That no special person can impose the ban (excommunication) upon any one, except the Church, that is the 
        full congregation of those among whom the one to be banned dwells, together with their watchman, i.e., the 
        pastor.
    </p>
    <br />

    <h3>Article 32</h3>
    <p>
        That one may ban only him who gives public offence.
    </p>
    <br />

    <h2 id="Section14">About Illegal Property</h2>
    <br />

    <h3>Article 33</h3>
    <p>
        That property unrighteously acquired shall not be given to temples, monasteries, cathedrals, clergy or nuns, 
        but to the needy, if it cannot be returned to the legal owner.
    </p>
    <br />

    <h2 id="Section15">About the Magistry</h2>
    <br />

    <h3>Article 34</h3>
    <p>
        The spiritual (so-called) power has no justification for its pomp in the teaching of Christ.
    </p>
    <br />

    <h3>Article 35</h3>
    <p>
        But the laity has power and confirmation from the deed and doctrine of Christ.
    </p>
    <br />

    <h3>Article 36</h3>
    <p>
        All that the spiritual so—called state claims to have of power and protection belongs to the laity, if they 
        wish to be Christians.
    </p>
    <br />

    <h3>Article 37</h3>
    <p>
        To them, furthermore, all Christians owe obedience without exception.
    </p>
    <br />

    <h3>Article 38</h3>
    <p>
        In so far as they do not command that which is contrary to God.
    </p>
    <br />

    <h3>Article 39</h3>
    <p>
        Therefore all their laws shall be in harmony with the divine will, so that they protect the oppressed, even if 
        he does not complain.
    </p>
    <br />

    <h3>Article 40</h3>
    <p>
        They alone may put to death justly, also, only those who give public offence (if God is not offended let 
        another thing be commanded).
    </p>
    <br />

    <h3>Article 41</h3>
    <p>
        If they give good advice and help to those for whom they must account to God, then these owe to them bodily 
        assistance.
    </p>
    <br />

    <h3>Article 42</h3>
    <p>
        But if they are unfaithful and transgress the laws of Christ they may be deposed in the name of God.
    </p>
    <br />

    <h3>Article 43</h3>
    <p>
        In short, the realm of him is best and most stable who rules in the name of God alone, and his is worst and 
        most unstable who rules in accordance with his own will.
    </p>
    <br />

    <h2 id="Section16">About Prayer</h2>
    <br />

    <h3>Article 44</h3>
    <p>
        Real petitioners call to God in spirit and truly, without great ado before men.
    </p>
    <br />

    <h3>Article 45</h3>
    <p>
        Hypocrites do their work so that they may be seen by men, also receive their reward in this life.
    </p>
    <br />

    <h3>Article 46</h3>
    <p>
        Hence it must always follow that church—song and outcry without devoutness, and only for reward, is seeking 
        either fame before the men or gain.
    </p>
    <br />

    <h2 id="Section17">About Offence</h2>
    <br />

    <h3>Article 47</h3>
    <p>
        Bodily death a man should suffer before he offend or scandalize a Christian.
    </p>
    <br />

    <h3>Article 48</h3>
    <p>
        Whoever through stupidness or ignorance is offended without cause, he should not be left sick or weak, but he 
        should be made strong, that he may not consider as a sin that which is not a sin.
    </p>
    <br />

    <h3>Article 49</h3>
    <p>
        Greater offence I know not than that one does not allow priests to have wives, but permits them to hire 
        prostitutes. Out upon the shame!
    </p>
    <br />

    <h2 id="Section18">About Remittance of Sin</h2>
    <br />

    <h3>Article 50</h3>
    <p>
        God alone remits sin through Jesus Christ, his Son, and alone our Lord.
    </p>
    <br />

    <h3>Article 51</h3>
    <p>
        Who assigns this to created beings detracts from the honor of God and gives it to him who is not God; this is 
        real idolatry.
    </p>
    <br />

    <h3>Article 52</h3>
    <p>
        Hence the confession which is made to the priest or neighbor shall not be declared to be a remittance of sin, 
        but only a seeking for advice.
    </p>
    <br />

    <h3>Article 53</h3>
    <p>
        Works of penance coming from the counsel of human beings (except excommunication) do not cancel sin; they are
        imposed as a menace to others.
    </p>
    <br />

    <h3>Article 54</h3>
    <p>
        Christ has borne all our pains and labor. Therefore whoever assigns to works of penance what belongs to Christ 
        errs and slanders God.
    </p>
    <br />

    <h3>Article 55</h3>
    <p>
        Whoever pretends to remit to a penitent being any sin would not be a vicar of God or St. Peter, but of the 
        devil.
    </p>
    <br />

    <h3>Article 56</h3>
    <p>
        Whoever remits any sin only for the sake of money is the companion of Simon and Balaam, and the real messenger 
        of the devil personified.
    </p>
    <br />

    <h2 id="Section19">About Purgatory</h2>
    <br />

    <h3>Article 57</h3>
    <p>
        The true divine Scriptures know nothing about purgatory after this life.
    </p>
    <br />

    <h3>Article 58</h3>
    <p>
        The sentence of the dead is known to God only.
    </p>
    <br />

    <h3>Article 59</h3>
    <p>
        And the less God has let us know concerning it, the less we should undertake to know about it.
    </p>
    <br />

    <h3>Article 60</h3>
    <p>
        That mankind earnestly calls to God to show mercy to the dead I do not condemn, but to determine a period of 
        time therefore (seven years for a mortal sin), and to lie for the sake of gain, is not human, but devilish.
    </p>
    <br />

    <h2 id="Section20">About the Priesthood</h2>
    <br />

    <h3>Article 61</h3>
    <p>
        About the form of consecration which the priests have received recent times the Scriptures know nothing.
    </p>
    <br />

    <h3>Article 62</h3>
    <p>
        Furthermore, the Scriptures recognize no priests except those who proclaim the word of God.
    </p>
    <br />

    <h3>Article 63</h3>
    <p>
        They command honor should be shown, i.e., to furnish them with food for the body.
    </p>
    <br />

    <h2 id="Section21">About the Cessation of Misusages</h2>
    <br />

    <h3>Article 64</h3>
    <p>
        All those who recognize their errors shall not be allowed to suffer, but to die in peace, and thereafter arrange in 
        a Christian manner their bequests to the Church.
    </p>
    <br />

    <h3>Article 65</h3>
    <p>
        Those who do not wish to confess, God will probably take care of. Hence no force shall be used against their body, 
        unless it be that they behave so criminally that one cannot do without that.
    </p>
    <br />

    <h3>Article 66</h3>
    <p>
        All the clerical superiors shall at once settle down, and with unanimity set up the cross of Christ, not the 
        money—chests, or they will perish, for I tell you the ax is raised against the tree.
    </p>
    <br />

    <h3>Article 67</h3>
    <p>
        If any one wishes conversation with me concerning interest, tithes, unbaptized children or confirmation, I am 
        willing to answer.
    </p>
    <br />
    <br />
    
    <p>
        Let no one undertake here to argue with sophistry or human foolishness, but come to the Scriptures to accept 
        them as the judge (for the Scriptures breathe the Spirit of God), so that the truth either may be found, or if 
        found, as I hope, retained. Amen.
    </p>
    <br />
    
    <p>
        Thus may God rule.
    </p>
}