@{
    Layout = "DocumentLayout";
}

@section DocumentNavigation {
<h1>Table of Contents</h1>

<ol>
    <li><a href="#Article1">Of Election</a></li>
    <li><a href="#Article2">Of the Atonement</a></li>
    <li><a href="#Article3">Of the Consequences of Sin</a></li>
    <li><a href="#Article4">Of Grace</a></li>
    <li><a href="#Article5">Of Perseverance</a></li>
</ol>
}

@section DocumentDetails {
    <h1>Details</h1>

    <table>
        <tr>
            <td>Author</td>
            <td>The followers of Jacobus Arminius</td>
        </tr>
        <tr>
            <td>Date Written</td>
            <td>1610</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>Dutch Republic</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Dutch</td>
        </tr>
    </table>
}

@section DocumentContent {
    <h1 id="Article1">The Five Articles of Remonstrance</h1> 
    <br />
    
    <h2>Article 1</h2>
    <h3>Of Election</h3>
    <br />
    <p>
        That God, by an eternal and unchangeable purpose in Jesus Christ his Son, before the foundation of the world, 
        hath determined, out of the fallen, sinful race of men, to save in Christ, for Christ’s sake, and through 
        Christ, those who, through the grace of the Holy Ghost, shall believe on this his son Jesus, and shall 
        persevere in this faith and obedience of faith, through this grace, even to the end; and, on the other hand, 
        to leave the incorrigible and unbelieving in sin and under wrath, and to condemn them as alienate from Christ, 
        according to the word of the Gospel in John 3:36: "He that believeth on the Son hath everlasting life: and he 
        that believeth not the Son shall not see life; but the wrath of God abideth on him," and according to other 
        passages of Scripture also.
    </p>
    <br />

    <h2 id="Article2">Article 2</h2>
    <h3>Of the Atonement</h3>
    <br />
    <p>
        That agreeably thereunto, Jesus Christ the Savior of the world, died for all men and for every man, so that he has 
        obtained for them all, by his death on the cross, redemption and the forgiveness of sins; yet that no one actually 
        enjoys this forgiveness of sins except the believer, according to the word of the Gospel of John 3:16, "For God so 
        loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have 
        everlasting life." And in the First Epistle of 1 John 2:2: "And he is the propitiation for our sins: and not for 
        ours only, but also for the sins of the whole world."
    </p>
    <br />

    <h2 id="Article3">Article 3</h2>
    <h3>Of the Consequences of Sin</h3>
    <br />
    <p>
        That man has not saving grace of himself, nor of the energy of his free will, inasmuch as he, in the state of 
        apostasy and sin, can of and by himself neither think, will, nor do any thing that is truly good (such as 
        saving faith eminently is); but that it is needful that he be born again of God in Christ, through his Holy 
        Spirit, and renewed in understanding, inclination, or will, and all his powers, in order that he may rightly 
        understand, think, will, and effect what is truly good, according to the Word of Christ, John 15:5, "Without 
        me ye can do nothing."
    </p>
    <br />

    <h2 id="Article4">Article 4</h2>
    <h3>Of Grace</h3>
    <br />
    <p>
        That this grace of God is the beginning, continuance, and accomplishment of all good, even to this extent, that 
        the regenerate man himself, without prevenient or assisting, awakening, following and cooperative grace, can 
        neither think, will, nor do good, nor withstand any temptations to evil; so that all good deeds or movements, 
        that can be conceived, must be ascribed to the grace of God in Christ. but respects the mode of the operation 
        of this grace, it is not irresistible; inasmuch as it is written concerning many, that they have resisted 
        the Holy Ghost (Acts 7, and elsewhere in many places).
    </p>
    <br />

    <h2 id="Article5">Article 5</h2>
    <h3>Of Perseverance</h3>
    <br />
    <p>
        That those who are incorporated into Christ by true faith, and have thereby become partakers of his life-giving 
        Spirit, have thereby full power to strive against Satan, sin, the world, and their own flesh, and to win the 
        victory; it being well understood that it is ever through the assisting grace of the Holy Ghost; and that 
        Jesus Christ assists them through his Spirit in all temptations, extends to them his hand, and if only they 
        are ready for the conflict, and desire his help, and are not inactive, keeps them from falling, so that they, 
        by no craft or power of Satan, can be misled nor plucked out of Christ’s hands, according to the Word of 
        Christ, "Neither shall any man pluck them out of my hand" (John 10:28). 
        <br /><br />
        
        But whether they are capable, through 
        negligence, of forsaking again the first beginning of their life in Christ, of again returning to this present 
        evil world, of turning away from the holy doctrine which was delivered them, of losing a good conscience, of 
        becoming devoid of grace, that must be more particularly determined out of the Holy Scripture, before we 
        ourselves can teach it with the full persuasion of our mind.
    </p>
    <br />
}