@{
    Layout = "DocumentLayout";
}

@section DocumentContent {
    <h1 id="Part1">The Nicene Creed</h1> 
    <h3>As revised at the first council of Constantinople. Also called the Nicene-Constantinopolitan Creed</h3>
    <br/>

    We believe in one God, the Father Almighty, <br />
    Maker of heaven and earth, <br />
    of all things visible and invisible. <br /><br />

    And in one Lord Jesus Christ, <br />
    the only-begotten Son of God, <br />
    begotten of his Father before all worlds, <br />
    God of God, Light of Light, very God of very God, <br />
    begotten, not made, being of one substance with the Father; <br />
    by whom all things were made; <br />
    who for us and for our salvation came down from heaven, <br />
    and was incarnate by the Holy Spirit of the virgin Mary, and was made man; <br />
    and was crucified also for us under Pontius Pilate; <br />
    he suffered and was buried; <br />
    and the third day he rose again according to the Scriptures, <br />
    and ascended into heaven, <br />
    and is seated at the right hand of the Father; <br />
    and he shall come again, with glory, to judge both the living and the dead; <br />
    whose kingdom shall have no end. <br /><br />

    And we believe in the Holy Spirit, <br />
    the Lord and giver of life, <br />
    who proceeds from the Father and the Son; <br />
    who with the Father and the Son together is worshiped and glorified; <br />
    who spoke by the prophets; <br />
    and we believe in one holy catholic and apostolic church; <br />
    we acknowledge one baptism for the remission of sins; <br />
    and we look for the resurrection of the dead, <br />
    and of the life of the world to come. <br /><br />
    
    Amen. <br />
}